<template>
	<div>
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!-- HWO TO BUY SECTION -->
		<section class="how-to-buy">
			<div class="container">
				<div class="row">
					<div class="col-60 col-lg-15">
						<ul id="how-to-buy-tab" class="list-unstyled nav" role="tablist">
							<li>
								<NuxtLink to="/ako-objednat" class="nav-link">
									FAQ
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/obchodne-podmienky" class="nav-link">
									Obchodné podmienky
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/gdpr" class="nav-link">
									GDPR
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li>
								<NuxtLink to="/ako-objednat/doprava-a-platba" class="nav-link active">
									Doprava a platba
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/materialy" class="nav-link">
									Materiály
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/navody" class="nav-link">
									Návody
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
						</ul>
					</div>
					<div class="col-60 col-lg-45">
						<div id="how-to-buy-content" class="tab-content">
							<div class="tab-pane active">
								<h2>Doprava a platba</h2>
								<div>
									<h3>Aká je cena dopravy v rámci SR?</h3>
									<p>
										Pri objednávke nad 90,00 EUR je doprava zdarma. Pri kúpe tovaru za menej ako 90 EUR a platbe vopred na náš
										účet je poštovné 4,40 EUR vrátane DPH. Cena dobierky je 0,90 EUR.
									</p>
								</div>

								<div>
									<h3>Aká je dodacia doba?</h3>
									<p>
										Fototapety, obrazy a plagáty vyrábame na objednávku. Dodacia doba je zväčša do 3 dní. Maximálne však do 10
										kalendárnych dní.
									</p>
								</div>

								<div>
									<h3>Ako môžem zaplatiť?</h3>
									<p>Kupujúci môže za tovar zaplatiť jedným z nasledujúcich spôsobov:</p>
									<ul>
										<li>bezhotovostným bankovým prevodom na účet: SK18 7500 0000 0040 2862 1085 vedeným v ČSOB</li>
										<li>V hotovosti pri osobnom odbere na adrese prevádzky: Púchovská 16, 831 06 Bratislava</li>
										<li>prostredníctvom platobnej brány: GoPay</li>
									</ul>

									<div class="d-flex align-items-center flex-column flex-md-row">
										<img src="~assets/img/gopay-logo.svg" width="130" class="payment-icon" alt="GoPay ikonka" />
										<img src="~assets/img/visa-verified.svg" width="80" class="payment-icon" alt="VisaVerified ikonka" />
										<img
											src="~assets/img/mastercard-secure.svg"
											width="90"
											class="payment-icon"
											alt="MasterCard Secure Code ikonka"
										/>

										<img src="~assets/img/visa-logo.svg" width="90" class="payment-icon" alt="Visa ikonka" />
										<img src="~assets/img/visaelectron-logo.svg" width="70" class="payment-icon" alt="VisaElectron ikonka" />
										<img src="~assets/img/mastercard-logo.svg" width="60" class="payment-icon" alt="MasterCard ikonka" />
										<img
											src="~assets/img/mastercardelectronic-logo.png"
											width="60"
											class="payment-icon"
											alt="MasterCardElectronic ikonka"
										/>
									</div>

									<div>
										<h3>Kto mi doručí zásielku?</h3>
										<p>Tovar zasiela predávajúci kupujúcemu prostredníctvom spoločnosti 123kurier.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'DopravaAPlatba',
	head() {
		return {
			title: 'Doprava a platba',
		};
	},
};
</script>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>
