<template>
	<div>
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!-- HWO TO BUY SECTION -->
		<section class="how-to-buy">
			<div class="container">
				<div class="row">
					<div class="col-60 col-lg-15">
						<ul id="how-to-buy-tab" class="list-unstyled nav" role="tablist">
							<li>
								<NuxtLink to="/ako-objednat" class="nav-link">
									FAQ
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/obchodne-podmienky" class="nav-link">
									Obchodné podmienky
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/gdpr" class="nav-link active">
									GDPR
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li>
								<NuxtLink to="/ako-objednat/doprava-a-platba" class="nav-link">
									Doprava a platba
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/materialy" class="nav-link">
									Materiály
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/navody" class="nav-link">
									Návody
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
						</ul>
					</div>
					<div class="col-60 col-lg-45">
						<div id="how-to-buy-content" class="tab-content">
							<div class="tab-pane active">
								<h2>Ochrana osobných údajov</h2>
								<div>
									<p>
										Od 25.05.2018, vrátane, sú vaše osobné údaje spracovávané v súlade s NARIADENÍM EURÓPSKEHO PARLAMENTU A RADY
										(EÚ) 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe
										takýchto údajov, ktorým sa ruší smernica 95/46/ES (všeobecné nariadenie o ochrane údajov = GDPR) a v súlade so
										zákonom č. 18/2018 Z. z. o ochrane osobných údajov a o zmene a doplnení niektorých zákonov v znení platnom a
										účinnom od 25.05.2018.
									</p>
									<h3 class="mb-4"><strong>9.1 VŠEOBECNÉ INFORMÁCIE O SPRACÚVANÍ OSOBNÝCH ÚDAJOV (ďalej len "OÚ").</strong></h3>
									<p><strong>Správcom vašich osobných údajov je:</strong></p>
									<p>
										Impresspic s.r.o.<br />
										Bratislavská 2, 900 21 Svätý Jur<br />
										email: <a href="mailto: info@impresspic.com">info@impresspic.com</a><br />
										tel. číslo: +421 911 579 549<br />
										Kontaktná osoba: Tóth Jozef<br />
									</p>

									<p>
										<strong>Kontaktné údaje správcu:</strong><br />
										Tóth Jozef<br />
										email: <a href="mailto: info@impresspic.com">info@impresspic.com</a><br />
										Kontakt: +421 911 579 549<br /><br />
										Dodržiavame pravidlá a preto je ochrana vašich OÚ pre nás dôležitá. OÚ spracúvame v zmysle týchto
										podmienok:<br />
										Udelením súhlasu so spracúvaním OÚ na portáli <strong>www.impresspic.com</strong> poskytujete svoj súhlas
										vážny a slobodne daný, konkrétny, informovaný a jednoznačný prejav vôle dotknutej osoby (kupujúceho) vo forme
										jednoznačne potvrdzujúceho úkonu v zmysle nariadenia európskeho parlamentu a rady (EÚ) 2016/679, z 27. apríla
										2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe takýchto údajov, a tiež podľa
										ustanovenia zákona č. 18/2018 Z. z, z 29. novembra 2017 o ochrane osobných údajov a o zmene a doplnení
										niektorých zákonov v platnom znení <strong>prevádzkovateľovi (ďalej len „GDPR a ZÁKON“).</strong>
									</p>

									<h3 class="mb-4"><strong>9.2 ÚČEL SPRACÚVANIA OÚ</strong></h3>
									<p>
										<strong>Ak ste nám poskytli OÚ, budú použité na nasledovné účely:</strong><br />
										9.2.1 <strong>E-shop</strong> – k uzavretiu a plneniu kúpnej zmluvy, spracovaniu platby, dodaniu produktu,
										prípadne výkonu ostatných súvisiacich činností (ako napríklad reklamačné a iné povinnosti súvisiace s právnymi
										predpismi v oblasti ochrany spotrebiteľa), uzatvorenej prostredníctvom
										<strong>www.impresspic.com</strong> medzi prevádzkovateľom a kupujúcim. Pre vybavenie objednávky ste nám
										poskytli údaje <strong>meno, priezvisko, adresu, e-mail, telefónne číslo a vaše platobné údaje</strong>. E
										–mail a tel. kontakt slúžia aj ako komunikačný prostriedok.
									</p>

									<p>Na váš e-mail, budú zaslané informácie ako potvrdenie objednávky a priebežne informácie o stave objednávky.</p>
									<p>
										<strong>Osobné údaje spracúvame na právnom základe (čl. 6 /1/b GDPR a ZÁKONA)</strong> spracúvanie osobných
										údajov je nevyhnutné na plnenie zmluvy, ktorej zmluvnou stranou je dotknutá osoba (kupujúci), alebo na
										vykonanie opatrenia pred uzatvorením zmluvy na základe žiadosti dotknutej osoby (kupujúceho) (bod. 2. 1) t. j.
										ide o zmluvnú požiadavku.
									</p>

									<p>
										9.2.2 <strong>Marketing</strong> – na marketingové účely, ak ste udelili súhlas prevádzkovateľovi a to
										odkliknutím opt in. Pod marketingovými účelmi sa rozumie podpora predaja, marketingové ponuky, newsletters,
										informácie o produktoch a novinkách. Marketingové informácie sú možné zasielať len registrovaným zákazníkom.
									</p>

									<p>
										Ak, si zákazník neželá dostávať tieto ponuky, jednoducho nám napíše na infompresspic.com a my ho z databázy
										odhlásime resp. vymažeme.
									</p>
									<p>Prevádzkovateľ spracúva OÚ na základe súhlasu dotknutej osoby (čl. 6/1/a GDPR a ZÁKONA).</p>
									<h3 class="mb-4"><strong>9.3 REGISTRÁCIA</strong></h3>
									<p>
										Kupujúci má možnosť sa na stránke <strong>www.impresspic.com</strong> registrovať. Kupujúcemu je umožnené
										nakupovať aj bez registrácie.
									</p>
									<p>V prípade, ak sa rozhodnete nakupovať prostredníctvom registrácie, vaše OÚ budeme spracúvať takto:</p>
									<p>
										Svoje konto si chránite heslom. Prihlásením do svojho konta získate informácie o svojich objednávkach, môžete
										si upravovať svoje OÚ, ako nastavenie zasielania newslettra. Prosím, chráňte svoje heslo, prevádzkovateľ
										nezodpovedá za zneužitie hesla.
									</p>
									<p>
										Ak, ste si to však rozmysleli a nechcete byť naďalej registrovaný, kontaktujte nás prosím na onfompresspic.com
										a Vašu registráciu okamžite vymažeme. Nakupovať na <strong>www.impresspic.com</strong> môžete kedykoľvek aj
										ako neregistrovaný kupujúci teda hosť.
									</p>

									<h3 class="mb-4"><strong>9.4 TRETIE STRANY</strong></h3>
									<p>Vaše osobné údaje môžu byť poskytnuté <strong>tretím stranám</strong>.</p>
									<p>
										Ďalšími príjemcami Vašich osobných údajov budú spoločnosť:4memedia s.r.o.(správca ehsopového systému),
										Spoločnosť Agentúra – Svätojurská Viecha s.r.o. (spracovanie účtovníctva). OÚ kupujúceho sú spracovávané, len
										za účelom plnenia zmluvy a na nevyhnutný čas bližšie uvedený v ods. 6. Doba spracúvania.
									</p>

									<h3 class="mb-4"><strong>9.5 MLADŠÍ AKO 16 ROKOV</strong></h3>
									<p>
										Prevádzkovateľ v súvislosti s ponukou služieb informačnej spoločnosti spracúva osobné údaje na základe súhlasu
										dotknutej osoby zákonne, ak dotknutá osoba dovŕšila 16 rokov veku. Tento e-shop nie je priamo určený osobám
										mladším ako 16 rokov.
									</p>
									<p>
										Prevádzkovateľ nespracováva OÚ osôb mladších ako 16 rokov. Pri každom registrovaní/prihlásení, prevádzkovateľ
										žiada čestné prehlásenie kupujúceho. Tento e-shop nie je určený na nákup mladších ako 16 rokov.
									</p>

									<h3 class="mb-4"><strong>9.6 DOBA SPRACÚVANIA </strong></h3>
									<p>
										Kupujúci súhlasí so spracúvaním osobných údajov odo dňa udelenia súhlasu v zmysle týchto podmienok až po dobu
										10 rokov pri splnení účelu plnenia zo zmluvy ods. 2.1. (týka sa to účtovných dokladov – faktúry). Pri
										neregistrovaných kupujúcich sa osobné údaje z objednávky vymažú z administratívneho systému e-shopu platformy
										po dvoch rokoch od uskutočnenia objednávky, avšak osobné údaje uvedené na faktúre potrebujeme k archivácií
										účtovných dokladov.
									</p>
									<p>
										Kupujúci súhlasí so spracúvaním osobných údajov odo dňa udelenia v zmysle týchto podmienok až po dobu 3 rokov
										pri splnení účelu marketingových aktivít ods. 2.2.
									</p>
									<p>
										Kupujúci súhlasí so spracúvaním osobných údajov odo dňa udelenia v zmysle týchto podmienok až po dobu 3 rokov
										pri splnení účelu vernostného programu ods. 2.3, avšak pokaľ registrovaný kupujúci nebude aktívny 18 mesiacov
										od posledného nákupu t. j. neuskutoční ďalší nákup bude jeho konto automaticky vymazané.
									</p>
									<h3 class="mb-4"><strong>9.7 PRENOS DO TRETEJ KRAJINY </strong></h3>
									<p>
										Prevádzkovateľ osobné údaje neprenáša do tretích krajín. Všetky dáta sú uložené na zabezpečených serveroch v
										Europskej únii.
									</p>
									<h3 class="mb-4"><strong>9.8 AUTOMATIZOVANÉ PROFILOVANIE </strong></h3>
									<p>
										Za účelom skvalitňovania marketingových kampaní, prevádzkovateľ využíva automatizované profilovanie.
										Profilovaním pre Vás segmentujeme ponuku/y, ktoré Vás môžu zaujímať a sú pre vás výhodnejšie. V prípade
										profilovania využívame nasledovné systémy Google Addwords, Facebook.
									</p>
									<p>
										Súhlas sa nevyžaduje na základný zber štatistických údajov napr. použitím meracieho kódu Google Analytics,
										Facebook pixel.
									</p>
									<h3 class="mb-4"><strong>9.9 IP ADRESA</strong></h3>
									<p><strong>Je súbor čísiel jednoznačne identifikujúci zariadenie v počítačovej sieti. </strong></p>
									<p>IP adresu možno z hľadiska ochrany osobných údajov označiť za údaj týkajúci sa identifikovateľnej osoby.</p>
									<p><strong>IP adresa sa stáva osobným údajom ak: </strong></p>
									<ul>
										<li>
											IP adresa je osobným údajom, ak ju spracúva poskytovateľ internetového pripojenia spoločne s inou
											identifikáciou (meno, email…).
										</li>
										<li>statické IP adresy využívané fyzickými osobami / jednotlivcami je potrebné považovať za osobné údaje.</li>
										<li>
											dynamická IP adresa bude považovaná za osobný údaj v prípade, keď poskytovateľ online služieb bude
											spracúvať spoločne s dynamickou IP adresou aj ďalšie identifikátory považované za osobné údaje (napr.
											meno, priezvisko, mail a pod.).
										</li>
									</ul>
									<p>
										V prípade uchovávania IP adresy na webovom sídle (napr. redakčný systém WordPress pri komentároch) je nutné
										zvoliť vhodný účel spracovania alebo použiť pseudonymizáciu.
									</p>
									<h3 class="mb-4"><strong>9.10 BEZPEČNÝ PRENOS ÚDAJOV </strong></h3>
									<p>
										Vaše osobné údaje sú bezpečne prenášané vďaka šifrovaniu. Systém kódovania SSL (Secure Socket Layer) sa
										najčastejšie využíva pre bezpečnú komunikáciu s webovými servermi. Osobné údaje v našich systémoch ako i
										internetová stránka sú zabezpečené primeranými technickými a organizačnými opatreniami proti strate, zničeniu,
										zmene a ďalšiemu šíreniu údajov prostredníctvom neoprávnených osôb.
									</p>
									<p>
										V prípade, ak ste registrovaný na našej stránke <strong>www.impresspic.com</strong> prístup k vášmu kontu máte
										iba vy, preto dbajte aby ste s týmito údajmi nakladali dôverne. Prevádzkovateľ nezodpovedá za neoprávnené
										nakladanie alebo zneužitie hesla.
									</p>
									<h3 class="mb-4"><strong>9.11 PRÁVA DOTKNUTEJ OSOBY (kupujúceho) </strong></h3>
									<p>
										Kupujúci má právo v zmysle GDPR na (i) právo na opravu, (ii) právo na výmaz, (iii) právo na prenosnosť údajov,
										(iv) právo namietať, (v) právo na odvolanie súhlasu, (vi) právo na prístup k informáciám.
									</p>
									<ul>
										<li><strong>Právo na opravu. </strong></li>
									</ul>
									<p>
										Kupujúci má právo, aby prevádzkovateľ bez zbytočného odkladu opravil nesprávne OÚ, ktoré sa týkajú jeho osoby
										a doplnenie neúplných OÚ.
									</p>
									<ul>
										<li><strong>Právo na výmaz. </strong></li>
									</ul>
									<p>
										Kupujúci má právo na to, aby prevádzkovateľ bez zbytočného odkladu vymazal OÚ, ktoré sa jej týkajú.
										Prevádzkovateľ je povinný bez zbytočného odkladu vymazať tieto OÚ, ak je splnený niektorý z týchto dôvodov:
									</p>
									<ul>
										<li>OÚ už nie sú potrebné na účel, na ktorý sa získal alebo spracúval,</li>
										<li>
											dotknutá osoba odvolá súhlas na spracovanie OÚ aspoň na 1 konkrétny účel alebo súhlas je neplatný, ak jeho
											poskytnutie vylučuje osobitný predpis,
										</li>
										<li>
											dotknutá osoba namieta spracúvanie OÚ podľa a neprevažujú žiadne oprávnené dôvody na spracúvanie OÚ alebo
											dotknutá osoba namieta spracúvanie OÚ podľa týka sa to priameho marketingu vrátane profilovania,
										</li>
										<li>OÚ sa spracúvajú nezákonne,</li>
										<li>
											je dôvodom pre výmaz splnenie povinnosti podľa tohto zákona, osobitného predpisu alebo medzinárodnej
											zmluvy, ktorou je Slovenská republika viazaná, alebo
										</li>
										<li>
											sa OÚ získavali v súvislosti s ponukou služieb informačnej spoločnosti dotknutá osoba má menej ako 16
											rokov.
										</li>
									</ul>
									<p>
										Ak prevádzkovateľ zverejnil OÚ a je povinný ich vymazať, je zároveň povinný prijať primerané bezpečnostné
										opatrenia vrátane technických opatrení so zreteľom na dostupnú technológiu a náklady na ich vykonanie, za
										účelom informovania ostatných prevádzkovateľov, ktorí spracúvajú OÚ dotknutej osoby o jej žiadosti, aby títo
										prevádzkovatelia vymazali odkazy na jej OÚ a ich kópie alebo odpisy.
									</p>
									<ul>
										<li><strong>Právo na prenosnosť údajov. </strong></li>
									</ul>
									<p>
										Kupujúci má právo získať OÚ, ktoré sa jej týkajú a ktoré poskytla prevádzkovateľovi, v štruktúrovanom, bežne
										používanom a strojovo čitateľnom formáte a má právo preniesť tieto OÚ ďalšiemu prevádzkovateľovi - predajcovi,
										ak je to technicky možné a ak:
									</p>
									<ul>
										<li>
											sa OÚ spracúvajú na základe súhlasu dotknutej osoby, na základe zmluvy a na základe súhlasu dotknutej
											osoby, ktorý je neplatný ak jeho poskytnutie vylučuje osobitný predpis,
										</li>

										<li>spracúvanie OÚ sa vykonáva automatizovanými prostriedkami.</li>
										<li><strong>Právo namietať </strong></li>
									</ul>
									<p>
										Kupujúci má právo namietať spracúvanie OÚ, ktoré sa jej týkajú, na účel priameho marketingu vrátane
										profilovania v rozsahu profilovania v rozsahu, v akom súvisí s priamym marketingom, prevádzkovateľ je povinný
										dotknutú osobu výslovne upozorniť na jej práva najneskôr pri prvej komunikácii s ňou, pričom informácia o
										tomto práve musí byť uvedená jasne a oddelene od akýchkoľvek iných informácií. Kupujúci svoje právo namietať
										môže uplatňovať automatizovanými prostriedkami s použitím technických špecifikácií.
									</p>
									<ul>
										<li><strong>Odvolanie súhlasu </strong></li>
									</ul>
									<p>
										Kupujúci má právo kedykoľvek odvolať súhlas so spracovaním osobných údajov, ktoré sa jej týkajú. Odvolanie
										súhlasu nemá vplyv na zákonnosť spracúvania osobných údajov založeného na súhlase pred jeho odvolaním; pred
										poskytnutím súhlasu musí byť kupujúci o tejto skutočnosti informovaný. Kupujúci môže súhlas odvolať rovnakým
										spôsobom, akým súhlas udelil.
									</p>
									<ul>
										<li><strong>Právo na prístup k informáciám. </strong></li>
									</ul>
									<p>
										Kupujúci má právo získať od prevádzkovateľa potvrdenie o tom, či sa spracúvajú OÚ, ktoré sa jej týkajú. Ak
										prevádzkovateľ takéto OÚ spracúva, kupujúci má právo získať prístup k týmto OÚ a informácie o:
									</p>
									<ul>
										<li>účele spracúvania OÚ,</li>
										<li>
											kategórii spracúvaných OÚ – v našom prípade, sú to bežné OÚ, prevádzkovateľ nespracováva osobitnú
											kategóriu OÚ,
										</li>
										<li>
											identifikácii príjemcu alebo o kategórii príjemcu, ktorému boli alebo majú byť OÚ poskytnuté, najmä o
											príjemcovi v tretej krajine alebo o medzinárodnej organizácii, ak je to možné,
										</li>
										<li>dobe uchovávania OÚ; ak to nie je možné, informáciu o kritériách jej určenia,</li>
										<li>
											práve požadovať od prevádzkovateľa opravu OÚ týkajúcich sa kupujúceho, ich vymazanie alebo obmedzenie ich
											spracúvania, alebo o práve namietať spracúvanie OÚ,
										</li>
										<li>práve podať návrh na začatie konania,</li>
										<li>zdroji OÚ, ak sa osobné údaje nezískali od kupujúceho,</li>
										<li>
											existencii automatizovaného individuálneho rozhodovania vrátane profilovania v týchto prípadoch poskytne
											prevádzkovateľ kupujúcemu informácie najmä o použitom postupe, ako aj o význame a predpokladaných
											dôsledkoch takéhoto spracúvania OÚ pre kupujúceho.
										</li>
									</ul>
									<p>
										Prevádzkovateľ je povinný poskytnúť na základe tejto žiadosť informácie do 30 dní od doručenia tejto žiadosti.
										Túto lehotu môže prevádzkovateľ predĺžiť o ďalších 60 dní, o odklade vás budeme informovať.
									</p>
									<p>
										Za opakované poskytnutie OÚ, o ktoré kupujúci požiada, môže prevádzkovateľ účtovať primeraný poplatok
										zodpovedajúci administratívnym nákladom. Prevádzkovateľ je povinný poskytnúť OÚ kupujúceho spôsobom akým
										požiadal alebo podľa jeho požiadavky.
									</p>
									<p>
										Prevádzkovateľ si vyhradzuje právo kupujúceho verifikovať, a zistiť, či ide o konkrétneho kupujúceho.
										Verifikácia spočíva, v poskytnutí dodatočných informácií napr. prostredníctvom kontrolných otázok. Verifikácia
										je dôležitá z hľadiska poskytnutia informácií o OÚ, ktoré prevádzkovateľ spracúva ochrany osobných údajov.
									</p>
									<ul>
										<li><strong>Právo podať návrh na začatie konania kupujúcim. </strong></li>
									</ul>
									<p>
										Kupujúci môže podať návrh na začatie konania v zmysle § 100 Zákona, ak je priamo dotknutý na svojich právach,
										návrh musí obsahovať kto ho podáva, proti komu návrh smeruje s predmetom návrhu s označením práv, ktoré mali
										byť pri spracúvaní osobných údajov porušené, dôkazy.
									</p>
									<p>
										Informačné systémy elektronického obchodu predávajúceho sú zaregistrované v zmysle zákona č. 18/2018 Z. z. o
										ochrane osobných údajov a o zmene a doplnení niektorých zákonov v znení platnom a účinnom od 25.05.2018.
										Identifikačné číslo: 201403350
									</p>
									<p>
										Vzor návrhu bude zverejnený na webovej stránke
										<strong>Úradu na ochranu osobných údajov, Hraničná 12, 820 02 Bratislava</strong>. Úrad posúdi podnet do 30
										dní, rozhodne do 90 dní alebo lehotu môže primerane predĺžiť.
									</p>
									<p>
										<strong>Vyhlásenie predávajúceho:</strong><br />
										Rešpektujeme Vaše súkromie. Aby sme Vám mohli ponúknuť hodnotné služby, potrebujeme poznať niektoré Vaše
										osobné údaje. Tieto údaje chránime pred zneužitím a zaručujeme Vám, že nebudú poskytnuté tretiemu subjektu:<br />
										*Vaše identifikačné a kontaktné údaje<br />
										*údaje o Vašich nákupoch<br />
										Používaním tohto internetového obchodu súhlasíte so zhromažďovaním a používaním informácií o Vás a Vašich
										nákupoch za vyššie stanovených podmienok.Registráciou zákazníka, žiadateľa o novinky, účastníka ankety a
										ďalších iných foriem registrácie automaticky súhlasíte, že môžete byť informovaný o novinkách v našom
										internetovom obchode emailom alebo telefonicky. Ak si naďalej nebudete želať tieto informácie dostávať, máte
										možnosť kedykoľvek ich zasielanie ukončiť podľa postupu uvedeného v každej zasielanej správe.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'Gdpr',
	head() {
		return {
			title: 'GDPR',
		};
	},
};
</script>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>
