<template>
	<div>
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!-- HWO TO BUY SECTION -->
		<section class="how-to-buy">
			<div class="container">
				<div class="row">
					<div class="col-60 col-lg-15">
						<ul id="how-to-buy-tab" class="list-unstyled nav" role="tablist">
							<li>
								<NuxtLink to="/ako-objednat" class="nav-link active">
									FAQ
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/obchodne-podmienky" class="nav-link">
									Obchodné podmienky
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/gdpr" class="nav-link">
									GDPR
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li>
								<NuxtLink to="/ako-objednat/doprava-a-platba" class="nav-link">
									Doprava a platba
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/materialy" class="nav-link">
									Materiály
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/navody" class="nav-link">
									Návody
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
						</ul>
					</div>
					<div class="col-60 col-lg-45">
						<div id="how-to-buy-content" class="tab-content">
							<div class="tab-pane active">
								<h2>Často kladené otázky</h2>

								<div>
									<h3>Aká je kvalita Vašich produktov?</h3>
									<p>
										Hrúbka a gramáž použitých tapiet a iných materiálov odkazuje zároveň na ich kvalitu. Tieto údaje nájdete
										priamo v ich popise. Nami používané materiály sú prevažne ekologické, stálofarebné, ľahké na údržbu, netrhajú
										sa, sú odolné voči oteru a vode.
									</p>
								</div>

								<div>
									<h3>Aká je cena dopravy v rámci SR?</h3>
									<p>
										Pri objednávke nad 90,00 EUR je doprava zdarma. Pri kúpe tovaru za menej ako 90 EUR a platbe vopred na náš
										účet je poštovné 4,40 EUR vrátane DPH. Cena dobierky je 0,90 EUR
									</p>
								</div>

								<div>
									<h3>Aká je dodacia doba?</h3>
									<p>
										Tapety, obrazy a plagáty vyrábame na objednávku. Dodacia doba je zväčša do 3 dní. Maximálne však do 10
										kalendárnych dní.
									</p>
								</div>

								<div>
									<h3>Môžem si zadať aj vlastný rozmer tapety?</h3>
									<p>
										Áno, náš e-shop ponúka túto funkciu priamo pri každom produkte. Ak si zadáte vlastný rozmer tapety: šírka v cm
										x výška v cm a vyberiete si materiál (prevedenie z ktorého má byť tapeta vyrobená). Automaticky sa Vám
										prepočíta cena tapety. Zároveň, si na základe Vami zadaných rozmeroch označiť výrez, o ktorý máte záujem a
										zároveň vyhovuje Vašim rozmerom.
									</p>
								</div>

								<div>
									<h3>Mám vlastný motív. Vytlačíte mi z neho obraz, plagát, alebo tapetu?</h3>
									<p>
										V sekcii <NuxtLink to="/individualna-tlac">individuálna tlač</NuxtLink> vám vieme vyrobiť akýkoľvek motív na
										vami zvolený materiál. od vás potrebujeme najmä kvalitný zdrojový obrázok – ideálne minimálnej kvalie 2Mpx,
										požadované rozmery a typ materiálu.
									</p>
								</div>

								<div>
									<h3>Aké sú podmienky reklamácie?</h3>
									<p>
										Tovar môžete reklamovať podľa našich
										<button
											type="button"
											@click="
												setActive('op');
												scrollTop();
											"
										>
											obchodných podmienok</button
										>, ktoré doporučujeme si prečítať pred uzatvorením objednávky.
									</p>
								</div>

								<div>
									<h3>Ako zistím cenu tapiet, obrazov a plagátov?</h3>
									<p>
										Ceny sú uvedené priamo pri rozmeroch. V prípade že máte záujem o vlastný rozmer, cena sa Vám automaticky
										vypočíta na základe Vami zadaných rozmerov.
									</p>
								</div>

								<div>
									<h3>Viete vyrobiť tapetu z mojej fotografie?</h3>
									<p>Samozrejme. Fotografia však musí byť dostatočne kvalitná.</p>
								</div>

								<div>
									<h3>Ako nalepiť tapetu?</h3>
									<p>
										Návod na nalepenie tapiet nájdete
										<button
											type="button"
											@click="
												setActive('manuals');
												scrollTop();
											"
										>
											tu</button
										>. Spolu s tovarom posielame aj návod na použitie.
									</p>
								</div>

								<div>
									<h3>Na koľko častí je tapeta rozdelená?</h3>
									<p>
										To závisí najmä od veľkosti tapety. Najčastejšie 2-4ks od 80 do 130 cm. V prípade, ak má zákazník požiadavku
										na vlastný počet a šírku pásov, musí to uviesť do poznámky k objednávke.
									</p>
								</div>

								<div>
									<h3>Na aké povrchy sú Vaše tapety vhodné a aký je medzi nimi rozdiel?</h3>
									<p>
										Bližšie informácie o tapetách nájdete
										<button
											type="button"
											@click="
												setActive('materials');
												scrollTop();
											"
										>
											tu</button
										>. <br />
										V prípade ďalších otázok nás neváhajte kedykoľvek kontaktovať na: info@impresspic.com
									</p>
								</div>

								<div>
									<h3>Máte v ponuke štruktúrovanú tapetu?</h3>
									<p>
										Áno, v ponuka máme tapetu so štruktúrou Canvas – imitácia plátna. Tapeta je samolepiaca a vhodná aj na
										zrnitejšie steny. Viac info nájdete
										<button
											type="button"
											@click="
												setActive('materials');
												scrollTop();
											"
										>
											tu</button
										>.
									</p>
								</div>

								<div>
									<h3>Ako sú balené tapety?</h3>
									<p>
										Tapety dodávame v rolkách, ktoré sú zabalené vo fólii a kartónovom obale tak, aby počas prepravy nedošlo k
										poškodeniu tapety. Ku každej tapete je pribalený návod na lepenie.
									</p>
								</div>

								<div>
									<h3>Aké lepidlo použiť na vliesové tapety?</h3>
									<p>Odporúčame lepidlo Metylan.</p>
								</div>

								<div>
									<h3>Ste platcami DPH?</h3>
									<p>Áno. Všetky ceny sú uvedené vrátane DPH.</p>
								</div>

								<small>
									V prípade akýchkoľvek otázok nás neváhajte kontaktovať na:
									<a href="mailto:info@impresspic.com">info@impresspic.com</a>
								</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'AkoObjednat',
	head() {
		return {
			title: 'FAQ',
		};
	},
};
</script>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>
