<template>
	<div>
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!-- HWO TO BUY SECTION -->
		<section class="how-to-buy">
			<div class="container">
				<div class="row">
					<div class="col-60 col-lg-15">
						<ul id="how-to-buy-tab" class="list-unstyled nav" role="tablist">
							<li>
								<NuxtLink to="/ako-objednat" class="nav-link">
									FAQ
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/obchodne-podmienky" class="nav-link">
									Obchodné podmienky
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/gdpr" class="nav-link">
									GDPR
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li>
								<NuxtLink to="/ako-objednat/doprava-a-platba" class="nav-link">
									Doprava a platba
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/materialy" class="nav-link">
									Materiály
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/navody" class="nav-link active">
									Návody
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
						</ul>
					</div>
					<div class="col-60 col-lg-45">
						<div id="how-to-buy-content" class="tab-content">
							<div id="manuals" class="tab-pane active">
								<h2>Návody</h2>
								<div>
									<h3>Návod na lepenie samolepiacej tapety hladkej:</h3>
									<h4>Materiál a náradie na lepenie tapety:</h4>
									<p>1. Nôž na papier, orezávač, ceruzka, pravítko, vodováha.</p>
									<p>2. Prítlačný valček na tapety.</p>
									<p>3. Jemná čistá handrička alebo stierka na tapety s filcovou hranou</p>
									<p>4. Aspoň 1-pomocník alebo zverte lepenie odborníkovi</p>
								</div>

								<div>
									<h4>Príprava podkladu / steny:</h4>
									<p>
										1. Stenu zbavíme nerovností preškrabaním oceľovou špachtľou, praskliny a diery presadrujeme, a prebrúsime
										brúsnym papierom. Čím hladší povrch, tým lepší výsledný efekt dosiahnete.
									</p>

									<p>2. Stenu zbavíme prachu a mastnoty, prípadne ak je povrch nesúdržný odporúčame napenetrovať.</p>
									<p>
										3. Ak lepíme tapetu cez vypínače alebo zásuvky, vypneme príslušný elektrický obvod pomocou ističa (poistky) a
										následne môžeme odmontovať kryty.
									</p>
								</div>

								<div>
									<h4>Príprava na tapetovanie:</h4>
									<p>
										1. Pred tapetovaním je potrebné skontrolovať všetky časti tapety, či nemajú vady, či je správna farebnosť a či
										balenie obsahuje všetky časti tapety. Samolepiace tapety lepíme bez prekrytia, a preto je nutné pred lepením
										skontrolovať spoje jednotlivých dielov.
									</p>
								</div>

								<div>
									<h4>Tapetovanie:</h4>
									<p>
										1. Na miesto kam budeme lepiť tapetu si jemne pomocou pravítka alebo vodováhy načrtneme líniu okrajov tapety.
									</p>
									<p>
										2. Zo zadnej strany tapety opatrne stiahneme ochrannú fóliu v dĺžke cca. 20cm. Tapetu priložíme presne na
										vyznačenú líniu, na tomto kroku závisí konečný výsledok. Jemne pritláčame rukou alebo jemnou handričkou a
										zároveň druhou rukou pomaly sťahujeme zadnú časť tapety a následne vyhladzujeme a zároveň vytláčame vzduchové
										bubliny od stredu pásu tapety smerom do strán. Menšie vzduchové bubliny ktoré nejdú vytlačiť, jednoducho
										prepichnite ihlou a pritlačte.
									</p>

									<p>
										3. Ak sa tapeta skladá z viacerých častí, dbáme na to aby jednotlivé časti boli nalepené tesne vedľa seba aby
										vzor na seba nadväzoval.
									</p>

									<p>
										4. V prípade, že sa Vám počas lepenia spoja dve časti, treba opatrne tieto časti od seba odlepiť miernym
										napínaním.
									</p>

									<p>
										5. V prípade ak ste sa rozhodli samolepiacu tapetu odstrániť, odporúčame ju nahriať fénom alebo teplovzdušnou
										pištoľou a pomaly odlepovať.
									</p>
								</div>

								<div>
									<h3>Návod na lepenie samolepiacej tapety s imitáciou plátna:</h3>
									<h4>Materiál a náradie na lepenie tapety:</h4>
									<p>1. Nôž na papier, orezávač, ceruzka, pravítko, vodováha.</p>
									<p>2. Prítlačný valček na tapety.</p>
									<p>3. Jemná čistá handrička alebo stierka na tapety s filcovou hranou</p>
									<p>4. Aspoň 1-pomocník alebo zverte lepenie odborníkovi</p>
								</div>

								<div>
									<h4>Príprava podkladu / steny:</h4>
									<p>
										1. Stenu zbavíme nerovností preškrabaním oceľovou špachtľou, praskliny a diery presadrujeme, a prebrúsime
										brúsnym papierom. Čím hladší povrch, tým lepší výsledný efekt dosiahnete.
									</p>

									<p>2. Stenu zbavíme prachu a mastnoty, prípadne ak je povrch nesúdržný odporúčame napenetrovať.</p>
									<p>
										3. Ak lepíme tapetu cez vypínače alebo zásuvky, vypneme príslušný elektrický obvod pomocou ističa (poistky) a
										následne môžeme odmontovať kryty.
									</p>
								</div>

								<div>
									<h4>Príprava na tapetovanie:</h4>
									<p>
										1. Pred tapetovaním je potrebné skontrolovať všetky časti tapety, či nemajú vady, či je správna farebnosť a či
										balenie obsahuje všetky časti tapety. Samolepiace tapety lepíme bez prekrytia, a preto je nutné pred lepením
										skontrolovať spoje jednotlivých dielov.
									</p>
								</div>

								<div>
									<h4>Tapetovanie:</h4>
									<p>
										1. Na miesto kam budeme lepiť tapetu si jemne pomocou pravítka alebo vodováhy načrtneme líniu okrajov tapety.
									</p>
									<p>
										2. Zo zadnej strany tapety opatrne stiahneme ochrannú fóliu v dĺžke cca. 20cm. Tapetu priložíme presne na
										vyznačenú líniu, na tomto kroku závisí konečný výsledok. Jemne pritláčame rukou alebo jemnou handričkou a
										zároveň druhou rukou pomaly sťahujeme zadnú časť tapety a následne vyhladzujeme a zároveň vytláčame vzduchové
										bubliny od stredu pásu tapety smerom do strán. Menšie vzduchové bubliny ktoré nejdú vytlačiť, jednoducho
										prepichnite ihlou a pritlačte.
									</p>

									<p>
										3. Ak sa tapeta skladá z viacerých častí, dbáme na to aby jednotlivé časti boli nalepené tesne vedľa seba aby
										vzor na seba nadväzoval.
									</p>

									<p>
										4. V prípade, že sa Vám počas lepenia spoja dve časti, treba opatrne tieto časti od seba odlepiť miernym
										napínaním.
									</p>
									<p>
										5. V prípade ak ste sa rozhodli samolepiacu tapetu odstrániť, odporúčame ju nahriať fénom alebo teplovzdušnou
										pištoľou a pomaly odlepovať.
									</p>
								</div>

								<div>
									<h3>Návod na lepenie vliesovej tapety:</h3>
									<h4>Materiál a náradie na lepenie tapety:</h4>
									<p>1. Nádoba na prípravu lepidla</p>
									<p>2. Prítlačný valček alebo tapetovací kartáč</p>
									<p>3. Nôž na papier, orezávač ceruzka, pravítko, vodováha</p>
									<p>4. Lepidlo na tapety</p>
									<p>5. Štetec alebo valček na lepidlo</p>
									<p>6. Handrička alebo špongia</p>
									<p>7. Aspoň 1-pomocník alebo zverte lepenie odborníkovi</p>
								</div>

								<div>
									<h4>Príprava podkladu / steny:</h4>
									<p>
										1. Stenu zbavíme nerovností preškrabaním oceľovou špachtľou, praskliny a diery presadrujeme, a prebrúsime
										brúsnym papierom. Čím hladší povrch, tým lepší výsledný efekt dosiahnete.
									</p>

									<p>
										2. Nasiakavé podklady ako sadrová omietka, sadrokartón alebo obyčajné interiérové farby je potrebné
										napenetrovať vhodnou penetráciou alebo tapetovacím lepidlom podľa návodu uvedenom na obale výrobcu.
									</p>

									<p>
										3. Ak lepíme tapetu cez vypínače alebo zásuvky, vypneme príslušný elektrický obvod pomocou ističa (poistky) a
										následne môžeme odmontovať kryty.
									</p>
								</div>

								<div>
									<h4>Príprava na tapetovanie:</h4>
									<p>
										1. Pred tapetovaním je potrebné skontrolovať všetky časti tapety, či nemajú vady, či je správna farebnosť a či
										balenie obsahuje všetky časti tapety. Vliesové tapety lepíme bez prekrytia, a preto je nutné pred lepením
										skontrolovať spoje jednotlivých dielov.
									</p>

									<p>2. Pripravíme si lepidlo na tapety podľa pokynov na obale výrobcu.</p>
								</div>

								<div>
									<h4>Tapetovanie:</h4>
									<p>
										1. Na miesto kam budeme lepiť tapetu si jemne pomocou pravítka alebo vodováhy načrtneme líniu okrajov tapety.
										Nanesieme lepidlo ( ale len na tú časť kam budeme lepiť príslušný pás tapety ) pomocou štetky alebo valčeku v
										dostatočnej hrúbke aby sme predišli zasychaniu lepidla pred priložením pásu tapety.
									</p>

									<p>
										2. Prvý diel priložíme presne na vyznačenú líniu. Na tomto kroku závisí konečný výsledok. Jemne pritláčame
										tapetu rukami aby priľnula k podkladu.
									</p>

									<p>
										3. Následne valčekom alebo tapetovacím kartáčom vyhladzujeme a zároveň vytláčame vzduchové bubliny od stredu
										pásu tapety smerom do strán. Menšie vzduchové bubliny by mali zmiznúť po zaschnutí lepidla.
									</p>

									<p>
										4. Ak sa tapeta skladá z viacerých častí, dbáme na to aby jednotlivé časti boli nalepené tesne vedľa seba aby
										vzor na seba nadväzoval. Zbytky lepidla jednoducho odstránime pomocou handričky alebo hubky.
									</p>
								</div>

								<div>
									<h3>UPOZORNENIE!</h3>
									<p>
										Obsah zásielky je nutné pred aplikáciou skontrolovať, či zásielka obsahuje všetky časti tapety a či nie sú
										poškodené. To znamená pred samotným použitím tovaru je potrebné skontrolovať farebnosť, počet kusov a či
										jednotlivé diely k sebe pasujú. Skontrolujte si či zakúpená metráž tapiet vystačí na vytapetovanie určenej
										plochy. Tovar je možné reklamovať iba kompletný v pôvodnom balení. Reklamácia sa nevzťahuje na tapety, ktoré
										už boli použité (nanesenie lepidla na tapetu, nalepenie tapety na stenu a podobne). V prípade že tomu tak nie
										je /tovar má vady spôsobené výrobou/ môže kupujúci zakúpený tovar reklamovať. V prípade, že Vám chýba z
										nejakého dôvodu časť tapety, faktúry alebo návodu na použitie urýchlene nás kontaktujte. Je nevyhnutné dodržať
										pracovný postup a použiť vhodné lepidlo na tapety.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'Navody',
	head() {
		return {
			title: 'Návody',
		};
	},
};
</script>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>
