<template>
	<div>
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!-- HWO TO BUY SECTION -->
		<section class="how-to-buy">
			<div class="container">
				<div class="row">
					<div class="col-60 col-lg-15">
						<ul id="how-to-buy-tab" class="list-unstyled nav" role="tablist">
							<li>
								<NuxtLink to="/ako-objednat" class="nav-link">
									FAQ
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/obchodne-podmienky" class="nav-link active">
									Obchodné podmienky
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
							<li>
								<NuxtLink to="/ako-objednat/gdpr" class="nav-link">
									GDPR
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li>
								<NuxtLink to="/ako-objednat/doprava-a-platba" class="nav-link">
									Doprava a platba
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/materialy" class="nav-link">
									Materiály
									<fa icon="angle-right" />
								</NuxtLink>
							</li>

							<li role="presentation">
								<NuxtLink to="/ako-objednat/navody" class="nav-link">
									Návody
									<fa icon="angle-right" />
								</NuxtLink>
							</li>
						</ul>
					</div>
					<div class="col-60 col-lg-45">
						<div id="how-to-buy-content" class="tab-content">
							<div class="tab-pane active">
								<h2>Obchodné podmienky</h2>
								<div>
									<h3 class="mb-2"><strong>1. Všeobecné ustanovania</strong></h3>
									<p>
										Tieto obchodné a reklamačné podmienky upravujú práva a povinnosti zmluvných strán vyplývajúce z kúpnej zmluvy
										uzatvorenej medzi predávajúcim, ktorým je spoločnosť <strong>impresspic s.r.o.</strong>, (ďalej len
										"predávajúci") a kupujúcim, ktorej predmetom je kúpa a predaj tovaru na internetovej stránke elektronického
										obchodu predávajúceho.
									</p>
									<p>Všetky ceny za tovar na internetových stránkach predávajúceho sú vrátane 20% DPH.</p>
									<p><strong>Kontaktné údaje predávajúceho:</strong></p>
									<p class="mb-0"><strong>Sídlo spoločnosti:</strong></p>
									<p class="mb-0">Bratislavská 2, 900 21 Svätý Jur</p>
									<p class="mb-0">
										IČO: 507088 99, zapísaná v Obchodnom registri okrseného súdu Bratislava I, oddiel Sro, Vložka č.:118750/B
									</p>
									<p class="mb-0">DIČ: 2120484124</p>
									<p class="mb-0">IČ DPH: SK2120484124</p>
									<p class="mb-0">IBAN: SK18 7500 0000 0040 2862 1085</p>
									<p class="mb-0">BIC kód banky: CEKOSKBX</p>
									<p class="mb-0">email: <a href="mailto:info@impresspic.com">info@impresspic.com</a></p>
									<p class="mb-0">tel. číslo: +421911579 549</p>
									<p class="mb-0">Kontaktná osoba: Tóth Jozef</p>
									<p>prevádzkové hodiny Pondelok - Piatok od 8:00 do 16:00</p>
									<p class="mb-0"><strong>Orgán dozoru:</strong></p>
									<p class="mb-0">Inšpektorát SOI pre Bratislavský kraj:</p>
									<p>Bajkalská 21/A, P. O. BOX č. 5, 820 07 Bratislava</p>
									<p>
										1.1. Tieto obchodné a reklamačné podmienky v znení platnom v deň uzatvorenia kúpnej zmluvy sú neoddeliteľnou
										súčasťou kúpnej zmluvy. V prípade, že predávajúci a kupujúci uzatvoria písomnú kúpnu zmluvu, v ktorej si
										dohodnú podmienky odchylne od týchto obchodných a reklamačných podmienok, budú ustanovenia kúpnej zmluvy
										uprednostnené pred týmito obchodnými a reklamačnými podmienkami. Takto dohodnuté podmienky nesmú byť v rozpore
										s inými právnymi úpravami (skrátenie lehoty na vrátenie tovaru, záručnej doby a pod.)<br />
										1.2. Doplnkovou zmluvou sa na účely týchto obchodných a reklamačných podmienok rozumie zmluva, na základe
										ktorej kupujúci nadobúda tovar ,alebo je mu poskytnutá služba, ktorá súvisí s predmetom kúpnej zmluvy, ak je
										tovar dodávaný alebo služba poskytovaná predávajúcim, alebo treťou osobou na základe ich dohody.<br />
										1.3. Zobrazená kúpna cena za tovar na akejkoľvek internetovej stránke elektronického obchodu, ktorú
										prevádzkuje predávajúci zahŕňa aj daň z pridanej hodnoty vo výške stanovenej platným právnym predpisom
										Slovenskej republiky a nezahŕňa cenu za prepravu tovaru alebo iné voliteľné služby. Všetky akcie platia do
										vypredania zásob, pokiaľ pri konkrétnom tovare nie je uvedené inak.<br />
										1.4. Predávajúci si vyhradzuje právo kedykoľvek upraviť cenu tovaru uvedenú na akejkoľvek internetovej stránke
										elektronického obchodu, ktorú prevádzkuje predávajúci. Zmena ceny tovaru sa nevzťahuje na kúpne zmluvy
										uzatvorené pred zmenou ceny, bez ohľadu na to, že ešte nedošlo k dodaniu tovaru.<br />
										1.5. V prípade, že predávajúci nedodrží svoje povinnosti uvedené v platných právnych predpisoch Slovenskej
										republiky alebo Európskych spoločenstiev alebo v týchto obchodných a reklamačných podmienkach, môže si
										kupujúci uplatniť svoje právo voči predávajúcemu prostredníctvom príslušného súdu. Kupujúci sa podaním
										objednávky zoznámil s týmito obchodnými podmienkami, ktorých neoddeliteľnú súčasť tvorí a)reklamačný poriadok
										a formulár, b) právo na odstúpenie od zmluvy + formulár, c)podmienky objednávania tovaru a že s nimi súhlasí,
										a to v znení platnom a účinnom v momente odoslania objednávky. Kópiu obchodných podmienok obdrží kupujúci ako
										prílohu potvrdenia objednávky na zadanú emailovú adresu. V prípade ak by kupujúci s uvedenými obchodnými
										podmienkami pred odoslaním objednávky nesúhlasil, môže tak kontaktovať bezprostredne predávajúceho .<br />
										1.6 Kupujúcimje spotrebiteľ alebo podnikateľ.<strong>Spotrebiteľom</strong>je fyzická osoba, ktorá pri
										uzatváraní a plnení spotrebiteľskej zmluvy nekoná v rámci predmetu svojej obchodnej činnosti alebo inej
										podnikateľskej činnosti. Právne vzťahy predávajúceho so spotrebiteľom výslovne neupravené týmito VOP sa riadia
										príslušnými ustanoveniami zák. č 40/1964 Zb., Občiansky zákonník, ako aj súvisiacimi
										predpismi.<strong>Podnikateľom</strong>sa rozumie: a)osoba zapísaná v obchodnom registri, b)osoba, ktorá
										podniká na základe živnostenského oprávnenia, c)osoba, ktorá podniká na základe iného než živnostenského
										oprávnenia podľa osobitných predpisov, d)osoba, ktorá vykonáva poľnohospodársku výrobu a je zapísaná do
										evidencie podľa osobitného predpisu. Podnikateľom sa taktiež pre účely VOP rozumie ten, kto jedná v súlade s
										predchádzajúcou vetou v rámci svojej podnikateľskej činnosti. Ak uvedie Kupujúci v objednávke svoje
										identifikačné číslo (IČO), potom berie na vedomie, že právne vzťahy predávajúceho s kupujúcim, ktorým je
										podnikateľ, výslovne neupravené týmito obchodnými podmienkami ani zmluvou medzi predávajúcim a kupujúcim sa
										riadia príslušnými ustanoveniami zák. č 513/1991 Zb., Obchodného zákonníka v znení neskorších predpisov, ako
										aj súvisiacimi predpismi. V prípade akýchkoľvek rozdielov medzi obchodnými podmienkami a individuálnou
										zmluvou, má prednosť text zmluvy.
									</p>

									<h3 class="mb-2"><strong>2. Spôsob uzatvárania kúpnej zmluvy</strong></h3>
									<p>
										2.1. Návrh na uzavretie kúpnej zmluvy zasiela kupujúci predávajúcemu vo forme vyplneného a odoslaného
										formulára na internetovej stránke predávajúceho, ktorým zaslal návrh na uzavretie kúpnej zmluvy, predmetom
										ktorej je odplatný prevod vlastníckeho práva k tovaru označeného kupujúcim za kúpnu cenu a za podmienok,
										uvedených v tejto objednávke (ďalej len „objednávka“). Kúpna zmluva sa môže uzavrieť aj na základe emailovej
										komunikácie medzi kupujúcim a predávajúcim, alebo v prevádzkových priestoroch predávajúceho písomnou
										formou.<br />
										2.2. Následne po odoslaní objednávky obdrží kupujúci na svoju e-mailovú adresu automaticky vykonávané
										potvrdenie o prijatí objednávky do elektronického systému predávajúceho (ďalej len „ potvrdenie prijatia
										objednávky “). Na e-mailovú adresu kupujúceho môžu byť v prípade potreby zasielané všetky ďalšie informácie
										ohľadom jeho objednávky.<br />
										2.3. Potvrdenie prijatia obsahuje údaje o tom, že predávajúcemu bola doručená objednávka, a zároveň je
										akceptovaním návrhu na uzavretie kúpnej zmluvy na diaľku.<br />
										2.4. Akceptácia objednávky obsahuje informáciu o názve a špecifikácii tovaru, ktorého predaj je predmetom
										kúpnej zmluvy, ďalej údaje o cene tovaru a/alebo iných služieb, údaj o predpokladanej dodacej lehote tovaru,
										názov a údaje o mieste, kde má byť tovar dodaný a údaje o prípadnej cene, podmienkach, spôsobe a termíne
										prepravy tovaru do dohodnutého miesta doručenia tovaru pre kupujúceho, údaje o predávajúcom (obchodné meno,
										sídlo, IČO, číslo zápisu v obchodnom registri a pod.), prípadne aj iné potrebné údaje. Predávajúci má tiež
										právo stornovať objednávku v prípade ak údaje uvedené v objednávke nezodpovedajú skutočnosti.<br />
										2.5. Kúpna zmluva je uzavretá doručením akceptácie objednávky v elektronickej alebo písomnej podobe
										kupujúcemu.<br />
										2.6. Predávajúci jasným, jednoznačným, zrozumiteľným a nezameniteľným spôsobom informoval pred odoslaním
										objednávky kupujúceho o predzmluvných informáciách, týkajúcich sa reklamačných, platobných, obchodných,
										prepravných a iných podmienok tak, že:<br />
										a) o hlavných vlastnostiach tovaru alebo charaktere služby v rozsahu primeranom použitému prostriedku
										komunikácie a tovaru alebo službe informoval na príslušnej katalógovej stránke elektronického obchodu
										predávajúceho,<br />
										b) o obchodnom mene a sídle predávajúceho informoval na príslušnej podstránke elektronického obchodu
										predávajúceho a v čl. 1 týchto obchodných a reklamačných podmienok, ktoré sú umiestnené na príslušnej
										podstránke elektronického obchodu predávajúceho,<br />
										c) o telefónnom čísle predávajúceho a o ďalších údajoch, ktoré sú dôležité pre kontakt kupujúceho s
										predávajúcim, najmä adresu jeho elektronickej pošty a číslo faxu, ak ich má informoval na príslušnej
										podstránke elektronického obchodu predávajúceho a v čl. 1 týchto obchodných a reklamačných podmienok, ktoré sú
										umiestnené na príslušnej podstránke elektronického obchodu predávajúceho,<br />
										d) o adrese predávajúceho, na ktorej môže kupujúci uplatniť reklamáciu tovaru alebo služby, podať sťažnosť
										alebo iný podnet informoval v čl. 1 týchto obchodných a reklamačných podmienok, ktoré sú umiestnené na
										príslušnej podstránke elektronického obchodu predávajúceho,<br />
										e) o celkovej cene tovaru alebo služby vrátane dane z pridanej hodnoty a všetkých ostatných daní alebo ak
										vzhľadom na povahu tovaru alebo služby nemožno cenu primerane určiť vopred, spôsob, akým sa vypočíta, ako aj o
										nákladoch na dopravu, dodanie, poštovné a iné náklady a poplatky, alebo, ak tieto náklady a poplatky nemožno
										určiť vopred o skutočnosti, že kupujúci ich bude povinný uhradiť informoval na príslušnej katalógovej stránke
										elektronického obchodu predávajúceho,<br />
										f) o platobných podmienkach, dodacích podmienkach, o lehote, do ktorej sa predávajúci zaväzuje dodať tovar
										alebo poskytnúť službu, o informácii o postupoch uplatňovania a vybavovania reklamácií, sťažností a podnetov
										kupujúceho informoval v príslušných článkoch týchto obchodných a reklamačných podmienok, ktoré sú umiestnené
										na príslušnej podstránke elektronického obchodu predávajúceho,<br />
										g) o informácii o práve kupujúceho odstúpiť od kúpnej zmluvy, o podmienkach, lehote a postupe pri uplatňovaní
										práva na odstúpenie od zmluvy informoval v čl. 10 týchto obchodných a reklamačných podmienok, ktoré sú
										umiestnené na príslušnej podstránke elektronického obchodu predávajúceho,<br />
										h) o poskytnutí formuláru na odstúpenie od kúpnej zmluvy informoval v čl. 10 a v prílohe týchto obchodných a
										reklamačných podmienok, ktoré sú umiestnené na príslušnej podstránke elektronického obchodu predávajúceho;
										predávajúci zároveň poskytol samotný formulár na odstúpenie od kúpnej zmluvy v prílohe týchto obchodných a
										reklamačných podmienok, ktoré sú umiestnené na príslušnej podstránke elektronického obchodu predávajúceho,<br />
										i) o informácii, že ak kupujúci odstúpi od kúpnej zmluvy, bude znášať náklady spojené s vrátením tovaru
										predávajúcemu podľa § 10 ods. 3 zákona č. 102/2014 Z.z. o ochrane spotrebiteľa pri predaji tovaru alebo
										poskytovaní služieb na základe zmluvy uzavretej na diaľku alebo zmluvy uzavretej mimo prevádzkových priestorov
										predávajúceho a o zmene a doplnení niektorých zákonov (ďalej len "Zákon o ochrane spotrebiteľa pri predaji na
										diaľku"), a ak odstúpi od kúpnej zmluvy aj náklady na vrátenie tovaru, ktorý vzhľadom na jeho povahu nie je
										možné vrátiť prostredníctvom pošty informoval v čl. 10 týchto obchodných a reklamačných podmienok, ktoré sú
										umiestnené na príslušnej podstránke elektronického obchodu predávajúceho,<br />
										j) o povinnosti kupujúceho uhradiť predávajúcemu cenu za skutočne poskytnuté plnenie podľa § 10 ods. 5 Zákona
										o ochrane spotrebiteľa pri predaji na diaľku, ak kupujúci odstúpi od zmluvy o službách po tom, čo udelil
										predávajúcemu výslovný súhlas podľa § 4 ods. 6 Zákona o ochrane spotrebiteľa pri predaji na diaľku informoval
										v čl. 10 týchto obchodných a reklamačných podmienok, ktoré sú umiestnené na príslušnej podstránke
										elektronického obchodu predávajúceho,<br />
										k) o okolnostiach, za ktorých kupujúci stráca právo na odstúpenie od zmluvy informoval v čl. 10 týchto
										obchodných a reklamačných podmienok, ktoré sú umiestnené na príslušnej podstránke elektronického obchodu
										predávajúceho,<br />
										l) o poučení o zodpovednosti predávajúceho za chyby tovaru alebo služby podľa ust. § 622 a 623 Občianskeho
										zákonníka informoval v čl. 8 týchto obchodných a reklamačných podmienok, ktoré sú umiestnené na príslušnej
										podstránke elektronického obchodu predávajúceho,<br />
										m) o existencii a podrobnostiach záruky poskytovanej výrobcom alebo predávajúcim podľa prísnejších zásad ako
										ustanovuje ust. § 502 Občianskeho zákonníka, ak ju výrobca alebo predávajúci poskytuje, ako aj informáciu o
										existencii a podmienkach pomoci a službách poskytovaných kupujúcemu po predaji tovaru alebo poskytnutí služby,
										ak sa taká pomoc poskytuje informoval na príslušnej katalógovej stránke elektronického obchodu predávajúceho a
										čl. 8 týchto obchodných a reklamačných podmienok, ktoré sú umiestnené na príslušnej podstránke elektronického
										obchodu predávajúceho,<br />
										n) o existencii príslušných kódexov správania, ktoré sa predávajúci zaviazal dodržiavať, a o spôsobe, akým sa
										môže kupujúci s nimi oboznámiť alebo získať ich znenie informoval na príslušnej katalógovej stránke
										elektronického obchodu predávajúceho,<br />
										o) o dĺžke trvania zmluvy, ak ide o zmluvu uzavretú na dobu určitú; ak ide o zmluvu uzavretú na dobu neurčitú
										alebo ak ide o zmluvu, pri ktorej sa automaticky predlžuje jej platnosť, aj informáciu o podmienkach
										vypovedania zmluvy informoval na príslušnej katalógovej stránke elektronického obchodu predávajúceho a v
										týchto obchodných a reklamačných podmienkach, ktoré sú umiestnené na príslušnej podstránke elektronického
										obchodu predávajúceho,<br />
										p) o minimálnej dĺžke trvania záväzkov kupujúceho vyplývajúcich z kúpnej zmluvy, ak z kúpnej zmluvy vyplýva
										pre kupujúceho takýto záväzok informoval na príslušnej katalógovej stránke elektronického obchodu
										predávajúceho a v týchto obchodných a reklamačných podmienkach, ktoré sú umiestnené na príslušnej podstránke
										elektronického obchodu predávajúceho,<br />
										q) o povinnosti kupujúceho zaplatiť preddavok alebo poskytnúť inú finančnú zábezpeku na žiadosť predávajúceho
										a o podmienkach, ktoré sa na jeho poskytnutie vzťahujú, ak z kúpnej zmluvy vyplýva pre kupujúceho takýto
										záväzok informoval na príslušnej katalógovej stránke elektronického obchodu predávajúceho a v týchto
										obchodných a reklamačných podmienkach, ktoré sú umiestnené na príslušnej podstránke elektronického obchodu
										predávajúceho,<br />
										r) o funkčnosti vrátane použiteľných technických ochranných opatrení na zabezpečenie elektronického obsahu, ak
										je to vhodné informoval na príslušnej katalógovej stránke elektronického obchodu predávajúceho a v týchto
										obchodných a reklamačných podmienkach, ktoré sú umiestnené na príslušnej podstránke elektronického obchodu
										predávajúceho,<br />
										s) o kompatibilite elektronického obsahu s hardvérom a softvérom, o ktorých predávajúci vie alebo je rozumné
										očakávať, že o nich vie, ak je to vhodné informoval na príslušnej katalógovej stránke elektronického obchodu
										predávajúceho a v týchto obchodných a reklamačných podmienkach, ktoré sú umiestnené na príslušnej podstránke
										elektronického obchodu predávajúceho,<br />
										t) o možnosti a podmienkach riešenia sporu mimosúdnou cestou prostredníctvom systému alternatívneho riešenia
										sporov, ak sa predávajúci zaviazal tento systém využívať informoval napríslušnej katalógovej stránke
										elektronického obchodu predávajúceho a v týchto obchodných a reklamačných podmienkach, ktoré sú umiestnené na
										príslušnej podstránke elektronického obchodu predávajúceho,<br />
										u) o úkonoch potrebných na uzatvorenie kúpnej zmluvy tak, že tieto potrebné úkony popísal v týchto obchodných
										a reklamačných podmienkach, ktoré sú umiestnené na príslušnej podstránke elektronického obchodu
										predávajúceho,<br />
										v) o tom, že kúpna zmluva bude uložená v elektronickej podobe u predajcu a je kupujúcemu dostupná po tom, ako
										si ju kupujúci písomne vyžiada informoval na príslušnej katalógovej stránke elektronického obchodu
										predávajúceho a v týchto obchodných a reklamačných podmienkach, ktoré sú umiestnené na príslušnej podstránke
										elektronického obchodu predávajúceho,<br />
										w) o tom, že jazykom ponúkaným na uzatvorenie zmluvy je slovenský jazyk informoval na príslušnej katalógovej
										stránke elektronického obchodu predávajúceho a v týchto obchodných a reklamačných podmienkach, ktoré sú
										umiestnené na príslušnej podstránke elektronického obchodu predávajúceho.<br />
										2.7. Ak predávajúci nesplnil informačnú povinnosť o úhrade dodatočných poplatkov alebo iných nákladov podľa
										bodu 2.6. písm. e) týchto obchodných a reklamačných podmienok alebo o nákladoch na vrátenie tovaru podľa bodu
										2.6. písm. i) týchto obchodných a reklamačných podmienok, kupujúci nie je povinný tieto dodatočné náklady
										alebo poplatky uhradiť.
									</p>

									<h3 class="mb-2"><strong>3. Práva a povinnosti predávajúceho</strong></h3>
									<p>
										3.1. Predávajúci je povinný:<br />
										a) dodať na základe objednávky potvrdenej akceptáciou kupujúcemu tovar v dohodnutom množstve, kvalite a lehote
										a zabaliť ho alebo vybaviť na prepravu spôsobom potrebným na jeho uchovanie a ochranu,<br />
										b) zabezpečiť, aby dodaný tovar spĺňal platné právne predpisy SR,<br />
										c) bezodkladne po uzavretí kúpnej zmluvy, najneskôr však spolu s dodaním tovaru poskytnúť kupujúcemu
										potvrdenie o uzavretí kúpnej zmluvy na trvanlivom nosiči, napríklad prostredníctvom e-mailu. Potvrdenie musí
										obsahovať všetky informácie uvedené v bode 2.6. vrátane formulára na odstúpenie od kúpnej zmluvy.<br />
										d) odovzdať kupujúcemu najneskôr spolu s tovarom v písomnej alebo elektronickej podobe všetky doklady potrebné
										na prevzatie a užívanie tovaru a ďalšie doklady predpísané platnými právnymi predpismi SR (návody v slovenskom
										jazyku, záručný list, dodací list , daňový doklad - faktúra slúži ako záručný list).<br />
										3.2. Predávajúci má právo na riadne a včasné zaplatenie kúpnej ceny od kupujúceho za dodaný tovar.<br />
										3.3. Ak z dôvodu vypredania zásob alebo nedostupnosti tovaru nie je schopný predávajúci dodať tovar kupujúcemu
										v lehote dohodnutej v kúpnej zmluve alebo určenej týmito obchodnými a reklamačnými podmienkami alebo za
										dohodnutú kúpnu cenu, je predávajúci povinný ponúknuť kupujúcemu náhradné plnenie alebo možnosť pre kupujúceho
										odstúpiť od kúpnej zmluvy (stornovať objednávku). Odstúpiť od kúpnej zmluvy alebo stornovať objednávku môže
										kupujúci doručením e-mailu. V prípade, ak kupujúci už uhradil kúpnu cenu alebo jej časť, vráti predávajúci už
										uhradenú kúpnu cenu alebo jej časť v lehote 14 dní odo dňa doručenia e-mailu o odstúpení od kúpnej zmluvy
										resp. stornovania objednávky kupujúcemu na ním určený účet, pokiaľ sa zmluvné strany nedohodnú inak. V
										prípade, ak kupujúci v primeranej lehote neprijme náhradné plnenie ponúkané predávajúcim ani neodstúpi od
										kúpnej zmluvy, je predávajúci oprávnený odstúpiť od kúpnej zmluvy a v prípade, ak kupujúci už uhradil kúpnu
										cenu alebo jej časť, predávajúci je povinný vrátiť už uhradenú kúpnu cenu alebo jej časť v lehote 14 dní odo
										dňa doručenia odstúpení od kúpnej zmluvy kupujúcemu.
									</p>

									<h3 class="mb-2"><strong>4. Práva a povinnosti kupujúceho</strong></h3>
									<p>
										4.1. Kupujúci bol predávajúcim oboznámený s tým, že súčasťou objednávky je povinnosť zaplatiť cenu.<br />
										4.2. Kupujúci je povinný:<br />
										a) prevziať objednaný a dodaný tovar,<br />
										b) zaplatiť predávajúcemu dohodnutú kúpnu cenu v dohodnutej lehote splatnosti vrátane nákladov na doručenie
										tovaru,<br />
										c) potvrdiť v dodacom liste prevzatie tovaru svojím podpisom alebo podpisom ním poverenej osoby.<br />
										4.3. Kupujúci má právo na dodanie tovaru v množstve, kvalite, termíne a mieste dohodnutom zmluvnými stranami.
									</p>

									<h3 class="mb-2"><strong>5. Dodacie a platobné podmienky</strong></h3>
									<p class="mb-0">
										5.1. Obvyklá dostupnosť tovaru s termínom jeho expedície je do 10 pracovných dní.<br />
										5.2. Ak sa predávajúci a kupujúci v kúpnej zmluve nedohodli inak, predávajúci je povinný dodať vec kupujúcemu
										bezodkladne, najneskôr do 30 dní odo dňa uzavretia kúpnej zmluvy. Ak predávajúci nesplnil svoj záväzok dodať
										vec v lehote podľa prvej vety, kupujúci ho vyzve, aby dodal vec v ním poskytnutej dodatočnej primeranej
										lehote. Ak predávajúci nedodá vec ani v tejto dodatočnej primeranej lehote, kupujúci je oprávnený odstúpiť od
										zmluvy.<br />
										5.3. Predávajúci je oprávnený vyzvať kupujúceho na prevzatie tovaru aj pred uplynutím lehoty na dodanie tovaru
										dohodnutej v kúpnej zmluve.<br />
										5.4. Zobrazenie farebných odtieňov tovaru môže byť ovplyvnené aj kvalitou používaného monitora, resp. iného
										Vami používaného zariadenia, poprípade aj nastavením farebnosti na monitore.<br />
										5.5. Kupujúci je povinný prevziať tovar v mieste, ktoré je predávajúcim alebo jeho zástupcom, povereným
										doručiť tovar a kupujúcim dohodnuté v kúpnej zmluve alebo iným spôsobom v čase pred doručovaním tovaru (ďalej
										len „Miesto“). Kupujúci je povinný prevziať tovar v časovom rozsahu, ktoré je predávajúcim alebo jeho
										zástupcom, povereným doručiť tovar a kupujúcim dohodnuté v kúpnej zmluve alebo iným spôsobom v čase pred
										doručovaním tovaru (ďalej len „Časový rozsah“). Kupujúci je povinný prevziať si tovar do 5 dní odo dňa
										odoslania tovaru predávajúcim kupujúcemu.<br />
										5.6. V prípade, ak predávajúci dopraví tovar kupujúcemu na Miesto a v Časovom rozsahu, kupujúci je povinný
										prevziať tovar osobne alebo zabezpečiť, aby tovar prevzala osoba, ktorú splnomocní pre prípad svojej
										neprítomnosti na prevzatie tovaru a podpísať protokol o zaplatení kúpnej ceny a doručení a odovzdaní tovaru.
										Tretia osoba splnomocnená na prevzatie tovaru je povinná predložiť predávajúcemu kópiu akceptácie objednávky.
										Tovar sa považuje za dodaný a prevzatý okamihom doručenia tovaru kupujúcemu. Doručením tovaru kupujúcemu sa
										rozumie dodanie tovaru na Miesto, jeho prevzatie kupujúcim alebo treťou osobou splnomocnenou kupujúcim a
										podpísanie protokolu o zaplatení kúpnej ceny a doručení a odovzdaní tovaru kupujúcim alebo treťou osobou
										splnomocnenou kupujúcim.<br />
										5.7. Ak bude potrebné dodanie tovaru opakovať z dôvodu neprítomnosti kupujúceho na Mieste a v Časovom rozsahu
										alebo v prípade, ak kupujúci bez predchádzajúceho písomného odstúpenia od kúpnej zmluvy neprevezme tovar do 7
										dní po márnom uplynutí Časového rozsahu, vzniká predávajúcemu nárok na uplatnenie náhrady za vzniknutú škodu
										vo výške skutočných nákladov na pokus o neúspešné doručenie tovaru na Miesto.Zásielky, ktoré sú predávajúcemu
										vrátené ako nevyzdvihnuté, zašleme znovu len na vyžiadanie kupujúceho a kupujúci nesie náklady spojené s
										opakovaným dodaním v plnej výške. V prípade, že kupujúci nejaví ochotu k spolupráci, je predávajúci po
										predchádzajúcom upozornení objednaný tovar predať inému záujemcovi.<br />
										5.8. Kupujúci je povinný skontrolovať zásielku, teda tovar ako aj jeho obal ihneď po doručení v prítomnosti
										zástupcu predávajúceho. V prípade zistenia existencie vady tovaru je zástupca predávajúceho povinný umožniť
										kupujúcemu vyhotoviť záznam o rozsahu a povahe vady tovaru, ktorého správnosť potvrdí zástupca predávajúceho.
										Na základe takto vyhotoveného záznamu doručeného predávajúcemu môže následne kupujúci odmietnuť prevziať
										dodaný tovar s vadou alebo potvrdiť doručenie tovaru s vadou a následne v zmysle čl. 8 týchto obchodných a
										reklamačných podmienok uplatniť reklamáciu vád tovaru u predávajúceho alebo určenej osoby. V prípade, ak
										kupujúci odmietne prevziať dodaný tovar s vadou, všetky účelne vynaložené náklady na vrátenie tovaru
										predávajúcemu znáša predávajúci.<br />
										5.9. Kupujúci je oprávnený v prípade nedodania tovaru predávajúcim v lehote uvedenej v bode 5.2. týchto
										obchodných podmienok odstúpiť od kúpnej zmluvy a predávajúci je povinný vrátiť kupujúcemu už zaplatenú časť
										kúpnej ceny v lehote 14 dní od doručenia odstúpenia od kúpnej zmluvy bezhotovostným prevodom na bankový účet
										kupujúceho určený kupujúcim.<br />
									</p>
									<p>5.10.<strong>Kupujúci môže za tovar zaplatiť jedným z nasledujúcich spôsobov:</strong></p>
									<ul>
										<li>bezhotovostným bankovým prevodom na účet: SK18 7500 0000 0040 2862 1085 vedeným vČSOB</li>
										<li>Vhotovosti pri osobnom odbere na adrese prevádzky: Púchovská 16, 831 06 Bratislava</li>
										<li>prostredníctvom platobnej brány: GoPay</li>
									</ul>
									<p class="mb-0">5.11.<strong>Platby za prepravu a poštovné</strong></p>
									<p>
										Objednaný tovar zasielame kuriérskou službou na adresu udanú kupujúcim v objednávke. Vzhľadom k tomu, že nami
										ponúkaný produkt je výrobok vyrábaný na mieru podľa požiadaviek klienta, požadujeme pri zakúpení tovaruplatbu
										vopred. Pri platbe vopred bude zásielka vyrobená v stanovenej lehote a expedovaná až po prijatí platby na náš
										bankový účet (napr. bezhotovostným prevodom). Tovar zasiela predávajúci kupujúcemu prostredníctvom spoločnosti
										123kurier.<br />
										<strong>Poštovné, vrátane balného a vrátane poistenia, pre každú samostatnú objednávku je nasledovné:</strong
										><br />
										Cena dopravy - platba vopred na účet predávajúceho: 3,60 EUR ( vrátane DPH )<br />
										Cena dopravy pri objednaní tovaru ,minimálne v hodnote 90,00 EUR: 0,00 EUR,<br />
										Dobierečné je spoplatnené sumou 0,70 EUR (vrátene DPH)<br />
										Uvedené ceny sú vrátane DPH platia pre Slovenskú republiku<br />
										Lehota na doručenie tovaru je 24 hodín. To znamená, v prípade vnútroštátnej prepravy je doručená zásielka
										vyzdvihnutá kuriérskou službou 123kurier s.r.o. od predávajúceho do 24 hodín počas pracovných dní.<br />
										<strong>Poštovné, vrátane balného a vrátane poistenia, pre každú samostatnú objednávku do zahraničia:</strong
										><br />
										Česká repuplika:<br />
										Cena dopravy - platba vopred na účet predávajúceho: 169,-Kč ( vrátane DPH).<br />
										Cena dopravy pri objednaní tovaru vhodnote minimálne 3 190 Kč: 0,00 Kč,<br />
										Dobierečné je spoplatnené sumou 39,00 Kč (vrátene DPH)
									</p>
									<p>
										<strong>Ostatné krajiny európskej únie uvedené v možnostiach nákupného košíka:</strong><br />
										Obvykle sa tovar doručí do 48hodín ak nenastanú komplikácie u prepravcu<br />
										5.12 Pri platbe vopred na náš účet,kupujúci spolu s tovarom obdrží faktúru, ktorá slúži ako daňový doklad.
									</p>

									<h3 class="mb-2"><strong>6. Kúpna cena</strong></h3>
									<p>
										6.1. Kúpna cena za tovar dohodnutá v kúpnej zmluve medzi predávajúcim a kupujúcim je uvedená v akceptácii
										objednávky (ďalej len "kúpna cena"). Ak je kúpna cena uvedená v potvrdení doručenia objednávky vyššia ako cena
										za identický tovar uvedená v ponuke elektronického obchodu v čase odoslania objednávky kupujúcim, predávajúci
										doručí kupujúcemu elektronickú správu s informáciou o ponuke novej kúpnej ceny v inej výške, ktorá sa považuje
										za návrh predávajúceho na uzavretie novej kúpnej zmluvy, ktorý musí kupujúci výslovne potvrdiť e-mailom alebo
										písomne, aby došlo k platnému uzatvoreniu kúpnej zmluvy.<br />
										6.2. Kupujúci je povinný zaplatiť predávajúcemu kúpnu cenu vrátane nákladov na doručenie tovaru platobnou
										kartou, alebo bezhotovostným prevodom na účet predávajúceho, uvedený v akceptácii objednávky alebo na
										internetovej stránke predávajúceho v čase pred prevzatím tovaru.<br />
										6.3. Ak kupujúci zaplatí predávajúcemu kúpnu cenu bezhotovostným prevodom, za deň platby sa považuje deň, kedy
										bola celá kúpna cena pripísaná na účet predávajúceho.<br />
										6.4. Kupujúci je povinný zaplatiť predávajúcemu kúpnu cenu za dohodnutý tovar v lehote podľa kúpnej zmluvy.<br />
										6.5. Náklady spojené s montážou a vynáškou tovaru nie sú zahrnuté v kúpnej cene a predávajúci tieto služby nie
										je povinný kupujúcemu poskytnúť
									</p>
									<h3 class="mb-2"><strong>7. Nadobudnutie vlastníctva a prechod nebezpečenstva škody na tovare</strong></h3>
									<p>
										7.1. Kupujúci nadobúda vlastnícke právo k tovaru až úplným zaplatením celej kúpnej ceny za tovar.<br />
										7.2. Nebezpečenstvo škody na tovare prechádza na kupujúceho v čase, keď kupujúci alebo tretia osoba
										splnomocnená kupujúcim prevezme tovar od predávajúceho alebo od jeho zástupcu, povereného doručiť tovar, alebo
										keď tak neurobí včas, tak v čase, keď predávajúci umožní kupujúcemu nakladať s tovarom a kupujúci tovar
										neprevezme.
									</p>

									<h3 class="mb-2"><strong>8. Reklamačný poriadok (zodpovednosť za chyby, záruka, reklamácie)</strong></h3>
									<p>
										8.1. Ak ide o chybu tovaru, ktorú možno odstrániť, má kupujúci právo, aby bola bezplatne, včas a riadne
										odstránená. Predávajúci je povinný chybu bez zbytočného odkladu odstrániť.<br />
										8.2. Kupujúci môže namiesto odstránenia chyby požadovať výmenu tovaru, alebo ak sa chyba týka len súčasti
										tovaru, výmenu súčasti, ak tým predávajúcemu nevzniknú neprimerané náklady vzhľadom na cenu tovaru alebo
										závažnosť chyby.<br />
										8.3. Predávajúci môže vždy namiesto odstránenia chyby vymeniť chybný tovar za bezchybný, ak to kupujúcemu
										nespôsobí závažné ťažkosti.<br />
										8.4. Ak ide o chybu tovaru, ktorú nemožno odstrániť a ktorá bráni tomu, aby sa tovaru mohol riadne užívať ako
										vec bez chyby, má kupujúci právo na výmenu tovaru alebo má právo od kúpnej zmluvy odstúpiť. Tie isté práva
										prislúchajú kupujúcemu, ak ide síce o odstrániteľné chyby, ak však kupujúci nemôže pre opätovné vyskytnutie sa
										chyb po oprave alebo pre väčší počet chýb tovar riadne užívať.<br />
										8.5. Ak ide o iné neodstrániteľné chyby, má kupujúci právo na primeranú zľavu z ceny tovaru.<br />
										8.6. Predávajúci poučil kupujúceho o jeho právach, ktoré mu vyplývajú z ust. § 622 Občianskeho zákonníka (bod
										8.1. až 8.3. týchto obchodných a reklamačných podmienok) a právach, ktoré mu vyplývajú z ust. §623 Občianskeho
										zákonníka (bod 8.4. až 8.5. týchto obchodných a reklamačných podmienok) tak, že umiestnil tieto obchodné a
										reklamačné podmienky na príslušnej podstránke elektronického obchodu predávajúceho a kupujúci mal možnosť si
										ich prečítať a oboznámiť sa s nimi v čase pred odoslaním objednávky. V prípade ak by kupujúci s uvedenými
										obchodnými a reklamačnými podmienkami nesúhlasil, mohol tak kontaktovať bezprostredne predávajúceho .<br />
										8.7. Predávajúci zodpovedá za chyby tovaru v zmysle platných predpisov SR a kupujúci je povinný reklamáciu
										uplatniť u predávajúceho alebo u určenej osoby. Informácie o určených osobách a servisných miestach pre
										záručný a pozáručný servis sú uvedené na zadnej strane záručného listu alebo ich poskytne predávajúci
										kupujúcemu na požiadanie telefonicky alebo prostredníctvom e-mailu.<br />
										8.8. Na vybavovanie reklamácií sa vzťahuje platný reklamačný poriadok predávajúceho, teda čl. 8 týchto
										obchodných a reklamačných podmienok. Kupujúci bol riadne oboznámený s reklamačným poriadkom a informovaný o
										podmienkach a spôsobe reklamácie tovaru vrátane údajov o tom, kde možno reklamáciu uplatniť, a o vykonávaní
										záručných opráv v súlade s ust. § 18 ods. 1 zákona č. 250/2007 Z . z. o ochrane spotrebiteľa a o zmene zákona
										Slovenskej národnej rady č. 372/1990 Zb. o priestupkoch v znení neskorších predpisov (ďalej len "Zákon") v
										čase pred uzavretím kúpnej zmluvy tak, že umiestnil tieto obchodné a reklamačné podmienky na príslušnej
										podstránke elektronického obchodu predávajúceho a kupujúci mal možnosť si v čase pred odoslaním objednávky
										prečítať ich.<br />
										8.9. Reklamačný poriadok sa vzťahuje na tovar zakúpený kupujúcim od predávajúceho vo forme elektronického
										obchodu na internetovej stránke elektronického obchodu predávajúceho.<br />
										8.10. Kupujúci má právo uplatniť si u predávajúceho zodpovednosť za chybu tovaru týkajúcu sa tovaru, ktorý
										vykazuje chyby, za ktoré zodpovedá výrobca, dodávateľ alebo predávajúci, vzťahuje sa naň záruka a bol zakúpený
										u predávajúceho.<br />
										8.11. Ak tovar vykazuje chyby, kupujúci má právo uplatniť reklamáciu v prevádzkarni predávajúceho v súlade s
										ust. § 18 ods. 2 Zákona tak, že doručí tovar do prevádzkarne predávajúceho a doručí predávajúcemu prejav vôle
										kupujúceho uplatniť si svoje právo podľa bodov 8.1. až 8.5. týchto obchodných a reklamačných podmienok (ďalej
										len „Oznámenie o uplatnení reklamácie“) napr. vo forme vyplneného formulára na uplatnenie reklamácie, ktorý je
										umiestnený na príslušnej podstránke elektronického obchodu predávajúceho. Predávajúci odporúča tovar pri jeho
										zasielaní na reklamáciu poistiť. Zásielky na dobierku predávajúci nepreberá. Kupujúci je povinný v Oznámení o
										uplatnení reklamácie pravdivo uviesť všetky požadované informácie, najmä presne označiť druh a rozsah chyby
										tovaru; kupujúci zároveň uvedie, ktoré zo svojich práv vyplývajúcich z ust. § 622 a 633 Občianskeho zákonníka
										uplatňuje. Kupujúci má právo uplatniť reklamáciu aj u osoby oprávnenej výrobcom tovaru na vykonávanie
										záručných opráv (ďalej len „určená osoba“). Zoznam určených osôb je uvedený v záručnom liste alebo ho
										kupujúcemu zašle na jeho žiadosť predávajúci.<br />
										8.12. Reklamačné konanie týkajúce sa tovaru, ktorý sa dá doručiť predávajúcemu začína dňom, kedy sú splnené
										kumulatívne všetky nasledujúce podmienky:<br />
										a) doručenie Oznámenia o uplatnení reklamácie predávajúcemu,<br />
										b) doručenie reklamovaného tovaru od kupujúceho predávajúcemu alebo určenej osobe,<br />
										c) doručenie prístupových kódov, hesiel a pod. k reklamovanému tovaru predávajúcemu, ak sú to údaje nevyhnutné
										na riadne vybavenie reklamácie d) doručenie príslušnej kópie faktúry<br />
										8.13. Predávajúci alebo určená osoba vydá kupujúcemu potvrdenie o uplatnení reklamácie tovaru vo vhodnej forme
										zvolenej predávajúcim, napr. vo forme mailu alebo v písomnej podobe, v ktorom je povinný presne označiť
										reklamované chyby tovaru a ešte raz poučí spotrebiteľa o jeho právach, ktoré mu vyplývajú z bodu 8.1. až 8.3.
										týchto obchodných a reklamačných podmienok (ust. § 622 Občianskeho zákonníka) a právach, ktoré mu vyplývajú z
										bodu 8.4. až 8.5. týchto obchodných a reklamačných podmienok (ust. § 623 Občianskeho zákonníka). Ak je
										reklamácia uplatnená prostredníctvom prostriedkov diaľkovej komunikácie, predávajúci je povinný potvrdenie o
										uplatnení reklamácie doručiť kupujúcemu ihneď; ak nie je možné potvrdenie doručiť ihneď, musí sa doručiť bez
										zbytočného odkladu, najneskôr však spolu s dokladom o vybavení reklamácie; potvrdenie o uplatnení reklamácie
										sa nemusí doručovať, ak kupujúci má možnosť preukázať uplatnenie reklamácie iným spôsobom.<br />
										8.14. Kupujúci je oprávnený rozhodnúť sa, ktoré zo svojich práv v zmysle ust. § 622 a ust. § 623 Občianskeho
										zákonníka uplatňuje a zároveň je povinný bezodkladne informáciu o svojom rozhodnutí doručiť predávajúcemu. Na
										základe rozhodnutia kupujúceho, ktoré zo svojich práv v zmysle ust. § 622 a ust. § 623 Občianskeho zákonníka
										uplatňuje je predávajúci alebo určená osoba povinná určiť spôsob vybavenia reklamácie podľa ust. § 2 písm. m)
										Zákona ihneď, v zložitejších prípadoch do 3 pracovných dní od začiatku reklamačného konania, v odôvodnených
										prípadoch, najmä ak sa vyžaduje zložité technické zhodnotenie stavu tovaru najneskôr do 30 dní odo dňa
										začiatku reklamačného konania. Po určení spôsobu vybavenia reklamácie predávajúci alebo určená osoba
										reklamáciu vybaví ihneď, v odôvodnených prípadoch možno reklamáciu vybaviť aj neskôr. Vybavenie reklamácie
										však nesmie trvať dlhšie ako 30 dní odo dňa uplatnenia reklamácie. Po márnom uplynutí lehoty na vybavenie
										reklamácie má spotrebiteľ právo od zmluvy odstúpiť alebo má právo na výmenu tovaru za nový tovar.<br />
										8.15. Ak kupujúci reklamáciu tovaru uplatnil počas prvých 12 mesiacov od uzavretia kúpnej zmluvy, môže
										predávajúci vybaviť reklamáciu zamietnutím len na základe vyjadrenia znalca alebo stanoviska vydaného
										autorizovanou, notifikovanou alebo akreditovanou osobou alebo stanoviska určenej osoby (ďalej len “odborné
										posúdenie tovaru“). Bez ohľadu na výsledok odborného posúdenia nemôže predávajúci od kupujúceho vyžadovať
										úhradu nákladov na odborné posúdenie tovaru ani iné náklady súvisiace s odborným posúdením tovaru.<br />
										8.16. Ak kupujúci reklamáciu výrobku uplatnil po 12 mesiacoch od uzavretia kúpnej zmluvy a predávajúci ju
										zamietol, osoba, ktorá reklamáciu vybavila, je povinná v doklade o vybavení reklamácie uviesť, komu môže
										kupujúci zaslať tovar na odborné posúdenie. Ak kupujúci tovar zašle na odborné posúdenie určenej osobe
										uvedenej v doklade o vybavení reklamácie, náklady odborného posúdenia tovaru, ako aj všetky ostatné s tým
										súvisiace účelne vynaložené náklady znáša predávajúci bez ohľadu na výsledok odborného posúdenia. Ak kupujúci
										odborným posúdením preukáže zodpovednosť predávajúceho za reklamovanú chybu tovaru, môže reklamáciu uplatniť
										znova; počas vykonávania odborného posúdenia tovaru záručná doba neplynie. Predávajúci je povinný kupujúcemu
										uhradiť do 14 dní odo dňa znova uplatnenej reklamácie všetky náklady vynaložené na odborné posúdenie tovaru,
										ako aj všetky s týmsúvisiace účelne vynaložené náklady. Znova uplatnenú reklamáciu nemožno zamietnuť.<br />
										8.17. Kupujúci nemá právo uplatniť si právo zodpovednosti za chyby, o ktorých bol predávajúcim v dobe
										uzatvárania zmluvy upozornený, alebo o ktorých s prihliadnutím k okolnostiam, za ktorých bola kúpna zmluva
										uzatvorená, musel vedieť.<br />
										8.18. Predávajúci si vyhradzuje právo nahradiť chybný tovar za iný bezchybný tovar s rovnakými alebo lepšími
										technickými parametrami, ak to kupujúcemu nespôsobí závažné ťažkosti.<br />
										8.19. Predávajúci nezodpovedá za chyby tovaru:<br />
										a) ak ide o zjavnú chybu, ktorú kupujúci mohol zistiť kontrolou zásielky pri doručení tovaru a ktorú neoznámil
										zástupcovi predávajúcemu v súlade s bodom 5.8. týchto reklamačných a obchodných podmienok,<br />
										b) ak kupujúci neuplatnil svoje právo, týkajúce sa zodpovednosti predávajúceho za chybu tovaru do konca
										záručnej doby tovaru,<br />
										c) ak je chybou tovaru mechanické poškodenie tovaru spôsobené kupujúcim,<br />
										d) ak chyba tovaru vznikla používaním tovaru v podmienkach, ktoré nezodpovedajú svojou intenzitou, vlhkosťou,
										chemickými a mechanickými vplyvmi prirodzenému prostrediu tovaru,<br />
										e) ak chyba tovaru vznikla neodborným zaobchádzaním, obsluhou, alebo zanedbaním starostlivosti o tovar,<br />
										f) ak chyba tovaru vznikla poškodením tovaru nadmerným zaťažovaním, alebo používaním v rozpore s podmienkami
										uvedenými v dokumentácii alebo všeobecnými zásadami obvyklého používania tovaru,<br />
										g) ak chyba tovaru vznikla poškodením tovaru neodvrátiteľnými a/alebo nepredvídateľnými udalosťami,<br />
										h) ak chyba tovaru vznikla poškodením tovaru náhodnou skazou a náhodným zhoršením,<br />
										i) ak chyba tovaru vznikla neodborným zásahom, poškodením vodou, ohňom, statickou či atmosférickou elektrinou
										alebo iným zásahom vyššej moci,<br />
										j) ak chyba tovaru vznikla zásahom do tovaru k tomu neoprávnenej osoby.<br />
										k) Pred samotným použitím je potrebné skontrolovať farebnosť tovaru, počet kusov a či jednotlivé diely k sebe
										pasujú. Túto pozornosť je potrebné venovať najmä tapetám, obrazom a plagátom. Ak má tovar vady spôsobené
										výrobou, môže kupujúci zakúpený tovar reklamovať. Záruka sa vzťahuje výlučne na výrobné vady a nevzťahuje sa
										na vady vzniknuté nesprávnym použitím výrobku, najmä zlou aplikáciou a nesprávnym skladovaním. Ak je s tovarom
										manipulované, je pokrčený, je aplikovaný na stenu či iný povrch, alebo je iným spôsobom použitý, jeho
										reklamácia už nie je možná. Za chyby vzniknuté nesprávnym používaním predávajúci nezodpovedá. V prípade , ak
										si kupujúci objedná službu u tretej strany, alebo kupujúcim poverená osoba zle, nesprávne , neodborne nalepí
										tapetu na daný povrch, ak sa tapeta po nalepení odlepuje, alebo ju iným spôsobom tretia strana poškodí,
										reklamáciu si kupujúci uplatní v spoločnosti, ktorá poskytla kupujúcemu danú službu. Spoločnosť impresspic
										s.r.o. za nesprávne lepenie tapiet treťou stranou objednanou kupujúcim nezodpovedá.<br />
										8.20. Predávajúci je povinný vybaviť reklamáciu a ukončiť reklamačné konanie jedným z nasledujúcich
										spôsobov:<br />
										a) odovzdaním opraveného tovaru,<br />
										b) výmenou tovaru,<br />
										c) vrátením kúpnej ceny tovaru,<br />
										d) vyplatením primeranej zľavy z ceny tovaru,<br />
										e) písomnou výzvou na prevzatie predávajúcim určeného plnenia,<br />
										f) odôvodneným zamietnutím reklamácie tovaru.<br />
										8.21. Predávajúci je povinný o spôsobe určenia vybavenia reklamácie a o vybavení reklamácie kupujúcemu vydať
										písomný doklad najneskôr do 30 dní odo dňa uplatnenia reklamácie osobne, prostredníctvom poskytovateľa
										poštovej alebo kuriérskej alebo donáškovej služby. O výsledku vybavenia reklamácie bude predávajúci informovať
										kupujúceho bezprostredne po ukončení reklamačného konania telefonicky alebo e-mailom a zároveň mu bude spolu s
										tovarom, resp. prostredníctvom e-mailu doručený doklad o vybavení reklamácie.<br />
										8.22. Záručná doba je 24 mesiacov odo dňa doručenia tovaru, pokiaľ nie je pre konkrétne prípady stanovená
										záručná doba iná.<br />
										8.23. Záručná doba sa predlžuje o dobu, po ktorú kupujúci nemohol používať tovar z dôvodu záručnej opravy
										tovaru.<br />
										8.24. V prípade výmeny tovaru za nový dostane kupujúci doklad, na ktorom bude uvedená informácia o výmene
										tovaru, a prípadné ďalšie reklamácie sa uplatňujú na základe kúpnej zmluvy a tohto reklamačného dokladu. V
										prípade výmeny tovaru za nový začne plynúť záručná doba znovu od prevzatia nového tovaru, ale iba na nový
										tovar.<br />
										8.25. Pokiaľ ide o odstrániteľnú chybu, bude reklamácia vybavená v závislosti od rozhodnutia kupujúceho podľa
										bodu 8.15. týchto reklamačných a obchodných podmienok nasledujúcim spôsobom:<br />
										a) predávajúci zabezpečí odstránenie chyby, alebo<br />
										b) predávajúci chybný tovar vymení.<br />
										8.26. Pokiaľ ide o odstrániteľnú chybu a kupujúci neurčí bezodkladne podľa bodu 8.15. týchto reklamačných a
										obchodných podmienok, aký spôsobom má byť reklamácia vybavená, predávajúci reklamáciu vybaví odstránením
										chyby.<br />
										8.27. Pokiaľ sa jedná chybu, ktorú nemožno odstrániť, alebo o jednu viac krát opakovanú odstrániteľnú chybu,
										alebo o väčší počet rôznych odstrániteľných chýb, ktoré bránia tomu, aby mohol byť tovar riadne užívaný ako
										bez chyby, predávajúci vybaví v závislosti od rozhodnutia kupujúceho podľa bodu 8.15. týchto reklamačných a
										obchodných podmienok reklamáciu nasledujúcim spôsobom:<br />
										a) výmenou tovaru za iný funkčný tovar rovnakých alebo lepších technických parametrov, alebo<br />
										b) v prípade, že nemôže predávajúci vykonať výmenu tovaru za iný, vybaví reklamáciu vrátením kúpnej ceny za
										tovar.<br />
										8.28. Pokiaľ sa jedná chybu, ktorú nemožno odstrániť, alebo o jednu viac krát opakovanú odstrániteľnú chybu,
										alebo o väčší počet rôznych odstrániteľných chýb, ktoré bránia tomu, aby mohol byť tovar riadne užívaný ako
										bez chyby a kupujúci bezodkladne neurčí podľa bodu 8.15. týchto reklamačných a obchodných podmienok, aký
										spôsobom má byť reklamácia vybavená, predávajúci reklamáciu vybaví výmenou tovaru za iný funkčný tovar
										rovnakých alebo lepších technických parametrov.<br />
										8.29. Vybavenie reklamácie sa vzťahuje len na chyby uvedené v Oznámení o uplatnení reklamácie a v potvrdení o
										uplatnení reklamácie tovaru podľa bodu 8.14. týchto reklamačných a obchodných podmienok.<br />
										8.30. Pre účely reklamácie sa za viac krát opakovanú odstrániteľnú vadu považuje výskyt jednej odstrániteľnej
										chyby viac ako dva krát.<br />
										8.31. Pre účely reklamácie sa za väčší počet rôznych odstrániteľných vád považuje výskyt viac ako troch
										rôznych odstrániteľných chýb súčasne.<br />
										8.32. Oprávnenie kupujúceho na uplatnenie reklamácie chyby tovaru je po tom, ako využil svoje právo a požiadal
										predávajúceho o odstránenie chyby tovaru podľa bodu 8.1. týchto reklamačných a obchodných podmienok
										skonzumované a bez ohľadu na výsledok reklamácie už opätovne, je oprávnený pre tú istú jedinečnú chybu (aj
										chybou rovnakého druhu) uplatňovať reklamáciu opakovane.<br />
										8.33. Ustanovenia čl. 8 týchto reklamačných a obchodných podmienok výslovne neplatia pre subjekty nespĺňajúce
										definíciu spotrebiteľa uvedenú v ust. § 2 písm. a) Zákona.<br />
									</p>

									<h3 class="mb-2"><strong>10. Odstúpenie od kúpnej zmluvy</strong></h3>
									<p>
										10.1. Ak predávajúci nemôže splniť svoje povinnosti vyplývajúce mu z kúpnej zmluvy z dôvodu vypredania zásob,
										nedostupnosti tovaru, alebo ak výrobca, dovozca alebo dodávateľ tovaru dohodnutého v kúpnej zmluve prerušil
										výrobu alebo vykonal tak závažné zmeny, ktoré znemožnili realizáciu splnenia povinností predávajúceho
										vyplývajúcich z kúpnej zmluvy alebo z dôvodov vyššej moci alebo ak ani pri vynaložení všetkého úsilia, ktoré
										možno od neho spravodlivo požadovať nie je schopný dodať tovar zákazníkovi v lehote určenej týmito obchodnými
										podmienkami alebo v cene, ktorá je uvedená v objednávke, predávajúci je povinný o tejto skutočnosti okamžite
										informovať kupujúceho a zároveň je povinný ponúknuť kupujúcemu náhradné plnenie alebo možnosť pre kupujúceho
										odstúpiť od kúpnej zmluvy (stornovať objednávku). V prípade, ak kupujúci odstúpi od kúpnej zmluvy z dôvodov
										uvedených v tomto bode týchto reklamačných a obchodných podmienok, je predávajúci povinný vrátiť kupujúcemu už
										zaplatenú zálohu za tovar dohodnutý v kúpnej zmluve v lehote 14 dní od oznámenia o odstúpení od zmluvy
										prevodom na účet určený kupujúcim.<br />
										10.2.<strong
											>Kupujúci je oprávnený odstúpiť od kúpnej zmluvy bez udania dôvodu v súlade s ust. § 7 a nasl. Zákona č.
											102/2014 Z.z. o ochrane spotrebiteľa pri predaji na diaľku (ďalej len „Zákon o ochrane spotrebiteľa pri
											predaji na diaľku“) v lehote 14 dní od prevzatia tovaru, resp. odo dňa uzavretia zmluvy o poskytnutí
											služby alebo zmluvy o poskytovaní elektronického obsahu nedodávaného na hmotnom nosiči, ak predávajúci
											včas a riadne splnil info</strong
										>
										<br />

										10.3.. Vrátený tovar nesmie javiť známky používania a musí byť zaslaný predávajúcemu s dokladom o kúpe, s
										kompletným príslušenstvom, dokumentáciou, obalom atď. Zákazník má právo po prevzatí tovaru v rámci lehoty na
										odstúpenie tovar rozbaliť a odskúšať obdobným spôsobom, ako je to obvyklé pri nákupe v klasickom kamennom
										obchode, nemá však právo začať tovar používať a po niekoľkých dňoch vrátiť predávajúcemu (tovar použitý vo
										väčšom rozsahu ako postačuje na jeho odskúšanie vrátiť nemožno, ak predávajúci nerozhodne v konkrétnom prípade
										inak). Poškodenie obalu a tovaru samotného bude predávajúcim akceptované výhradne v rozsahu, v akom mu pri
										primeranom odskúšaní tovaru v zmysle tohto ustanovenia týchto podmienok nebolo možné zabrániť, t.j. ktoré
										nepresahuje rámec zaobchádzania potrebného na zistenie vlastností a funkčnosti tovaru. Tovar pri zaslaní
										predávajúcemu musí byť zabalený tak, aby nedošlo kjeho poškodeniu počas prepravy kpredávajúcemu, aj pokiaľ
										nemá pôvodný obal.Kupujúci znáša náklady na vrátenie tovaru predávajúcemu alebo osobe poverenej predávajúcim
										na prevzatie tovaru. To neplatí, ak predávajúci súhlasil, že ich bude znášať sám alebo ak si nesplnil
										povinnosť podľa § 3 ods. 1 písm. i) Zákona o ochrane spotrebiteľa pri predaji na diaľku. Tovar zaslaný
										kupujúcim predávajúcemu na dobierku predávajúci nepreberie.Ak však dodaný tovar nemá vlastnosti, o ktoré
										zákazník prejavil záujem a ktoré sa zhodujú s popisom poskytnutým predávajúcim, náklady na jeho vrátenie a
										dodanie tovaru, ktorý zodpovedá zmluve, ako aj všetky zákazníkom účelne vynaložené náklady v súvislosti s tým
										znáša predávajúci.<br />
										10.4. Lehota na odstúpenie od zmluvy začína plynúť v deň, keď kupujúci alebo ním určená tretia osoba s
										výnimkou dopravcu prevezme všetky časti objednaného tovaru, alebo ak sa<br />
										a) tovary objednané kupujúcim v jednej objednávke dodávajú oddelene, odo dňa prevzatia tovaru, ktorý bol
										dodaný ako posledný,<br />
										b) dodáva tovar pozostávajúci z viacerých dielov alebo kusov, odo dňa prevzatia posledného dielu alebo
										posledného kusu,<br />
										c) na základe zmluvy tovar dodáva opakovane počas vymedzeného obdobia, odo dňa prevzatia prvého dodaného
										tovaru.<br />
										10.5. Kupujúci môže odstúpiť od kúpnej zmluvy, predmetom ktorej je kúpa tovaru aj pred začatím plynutia lehoty
										na odstúpenie od zmluvy.<br />
										10.6. Odstúpenie od zmluvy musí kupujúci urobiť písomnou formou spôsobom nevzbudzujúcim pochybnosti, že došlo
										k odstúpeniu od zmluvy, alebo v podobe zápisu na inom trvanlivom nosiči alebo pomocou formulára, ktorý tvorí
										prílohu č. 1 týchto obchodných a reklamačných podmienok. Lehota na odstúpenie od zmluvy sa považuje za
										zachovanú, ak oznámenie o odstúpení od zmluvy bolo odoslané predávajúcemu najneskôr v posledný deň lehoty
										podľa ust. § 7 ods. 1 Zákona o ochrane spotrebiteľa pri predaji na diaľku.<br />
										10.7. Odstúpenie od kúpnej zmluvy podľa prechádzajúceho bodu týchto obchodných a reklamačných podmienok musí
										obsahovať informácie požadované vo formulári odstúpenia od kúpnej zmluvy, ktorý tvorí prílohu č. 1 týchto
										obchodných a reklamačných podmienok, najmä identifikáciu kupujúceho, číslo a dátum objednávky, číslo faktúry (
										daňového dokladu ), presnú špecifikáciu tovaru, spôsob, akým má predávajúci vrátiť už prijaté plnenie, najmä
										číslo účtu a/alebo poštovú adresu kupujúceho.<br />
										10.8. Ak kupujúci odstúpi od kúpnej zmluvy, zrušuje sa od začiatku aj každá doplnková zmluva súvisiaca s
										kúpnou zmluvou, od ktorej kupujúci odstúpil. Od kupujúceho nie je možné požadovať žiadne náklady alebo iné
										platby v súvislosti so zrušením doplnkovej zmluvy okrem úhrady nákladov a platieb uvedených v ust. § 9 ods. 3,
										ust. § 10 ods. 3 a 5 Zákona o ochrane spotrebiteľa pri predaji na diaľku a ceny za službu, ak je predmetom
										zmluvy poskytnutie služby a došlo k úplnému poskytnutiu služby.<br />
										10.9. Kupujúci je povinný bez zbytočného odkladu, najneskôr však v lehote do 14 dní odo dňa odstúpenia od
										kúpnej zmluvy zaslať tovar späť na adresu sídla prevádzkovateľa alebo ho odovzdať predávajúcemu alebo osobe
										poverenej predávajúcim na prevzatie tovaru. To neplatí, ak predávajúci navrhol, že si tovar vyzdvihne osobne
										alebo prostredníctvom ním poverenej osoby. Lehota podľa prvej vety tohto bodu týchto obchodných a reklamačných
										podmienok sa považuje za zachovanú, ak bol tovar odovzdaný na prepravu najneskôr v posledný deň lehoty.<br />
										10.10. Kupujúci je povinný doručiť predávajúcemu tovar kompletný vrátane kompletnej dokumentácie, nepoškodený,
										podľa možnosti v originálnom obale a nepoužívaný.<br />
										10.11. Odporúča sa tovar poistiť. Zásielky na dobierku predávajúci nepreberá. Predávajúci je povinný bez
										zbytočného odkladu, najneskôr do 14 dní odo dňa doručenia oznámenia o odstúpení od zmluvy vrátiť kupujúcemu
										všetky platby, ktoré od neho prijal na základe kúpnej zmluvy alebo v súvislosti s ňou vrátane nákladov na
										dopravu, dodanie a poštovné a iných nákladov a poplatkov. Predávajúci nie je povinný vrátiť kupujúcemu platby
										podľa tohto bodu týchto obchodných a reklamačných podmienok pred tým, ako mu je doručený tovar alebo kým
										kupujúci nepreukáže zaslanie tovaru späť predávajúcemu, ibaže predávajúci navrhne, že si tovar vyzdvihne
										osobne alebo prostredníctvom ním poverenej osoby. Náklady na dopravu, dodanie a poštovné však predávajúci
										zákazníkovi hradí len v rozsahu najlacnejšieho bežného spôsobu doručenia, ktorý je ponúkaný predávajúcim, bez
										ohľadu na to, aký spôsob doručenia si zvolil zákazník.<br />
										10.12. Kupujúci znáša náklady na vrátenie tovaru predávajúcemu alebo osobe poverenej predávajúcim na prevzatie
										tovaru. To neplatí, ak predávajúci súhlasil, že ich bude znášať sám alebo ak si nesplnil povinnosť podľa § 3
										ods. 1 písm. i) Zákona o ochrane spotrebiteľa pri predaji na diaľku. Tovar zaslaný kupujúcim predávajúcemu na
										dobierku predávajúci nepreberie.<br />
										10.13. Kupujúci zodpovedá len za zníženie hodnoty tovaru, ktoré vzniklo v dôsledku takého zaobchádzania s
										tovarom, ktoré je nad rámec zaobchádzania potrebného na zistenie vlastností a funkčnosti tovaru. Spotrebiteľ
										nezodpovedá za zníženie hodnoty tovaru, ak si predávajúci nesplnil informačnú povinnosť o práve spotrebiteľa
										odstúpiť od zmluvy podľa § 3 ods. 1 písm. h) Zákona o ochrane spotrebiteľa pri predaji na diaľku .<br />
										10.14. Predávajúci je povinný vrátiť kupujúcemu kúpnu cenu za tovar rovnakým spôsobom, aký použil kupujúci pri
										svojej platbe, pokiaľ sa s kupujúcim nedohodne na inom spôsobe vrátenia platieb bez toho, aby kupujúcemu v
										tejto súvislosti boli účtované ďalšie poplatky.<br />
										10.15. V prípade, že kupujúci odstúpi od zmluvy a doručí predávajúcemu tovar, ktorý je používaný, poškodený
										alebo neúplný:v prípade preukázateľnej vzniknutej škody na výrobku kupujúcim si môže predávajúci uplatniť
										právo na náhradu škody v rámci osobitného konania na príslušnom súde
									</p>

									<p>
										<strong
											>10.16. V súlade s ust. § 7 ods. 6 Zákona o ochrane spotrebiteľa pri predaji na diaľku kupujúci nemôže
											odstúpiť od zmluvy, ktorej predmetom sú:</strong
										>
									</p>
									<ul>
										<li>
											predaj tovaru zhotoveného podľa osobitných požiadaviek spotrebiteľa, tovaru vyrobeného na mieru alebo
											tovaru určeného osobitne pre jedného spotrebiteľa . Týka sa to všetkých výrobkov vyrobených podľa
											požiadaviek spotrebiteľa – tapety na mieru, obrazy na mieru. Ide ovýrobky / tovar , kde kupujúci požaduje
											( uvedie do objednávky ) rozmer na mieru, úpravu farebnosti, tlač zvlastnej fotografie, zvlastnej
											predlohy, poprípade iné úpravy pri tlači / výrobe tovaru na mieru
										</li>
										<li>
											predaj tovaru uzavretého v ochrannom obale, ktorý nie je vhodné vrátiť z dôvodu ochrany zdravia alebo z
											hygienických dôvodov a ktorého ochranný obal bol po dodaní porušený,
										</li>
										<li>
											predaj zvukových záznamov, obrazových záznamov, zvukovoobrazových záznamov, kníh alebo počítačového
											softvéru predávaných v ochrannom obale, ak spotrebiteľ tento obal rozbalil,
										</li>
										<li>
											poskytovanie elektronického obsahu inak ako na hmotnom nosiči, ak sa jeho poskytovanie začalo s výslovným
											súhlasom spotrebiteľa a spotrebiteľ vyhlásil, že bol riadne poučený o tom, že vyjadrením tohto súhlasu
											stráca právo na odstúpenie od zmluvy.
										</li>
										<li>
											predaj tovaru, ktorý bol v čase po uzavretí zmluvy a prevzatí tovaru od predávajúceho kupujúcemu
											zmontovaný, zložený alebo použitý takým spôsobom, že jeho opätovné uvedenie do
										</li>
										<li>
											pôvodného stavu predávajúcim nie je možné bez vynaloženia zvýšeného úsilia a zvýšených nákladov, napr.
											zložený alebo zmontovaný nábytok a pod.
										</li>
									</ul>

									<p>
										<strong>10.17. Neprevzatie tovaru kupujúcim</strong> / Neprevzatá zásielka<br />
										Každá potvrdená objednávka je zo strany zákazníka záväzná podľa našich obchodných podmienok (OZ §544-545,
										zákon č. 40/1964 Zb.)Bezdôvodné a neopodstatnené neprebratie zásielky zaslanej zákazníkovivdanej úložnej
										lehote sa chápe ako hrubé porušenie obchodných podmienok, pretože zákazník je vždy informovaný elektronickou
										formou o vyexpedovaní balíka.Ak sa zákazník rozhodne o opätovné zaslanie balíka, je povinný uhradiť platbu
										vopred za tovar (ako aj opätovné poštovné) na účet predajcu. V tomto prípade mu nebude účtovaný poplatok za
										porušenie týchto obchodných podmienok.<br />
										Predávajúci v prípade tovaru vyrobeného na mieru ( tapety a obrazy s vlastným rozmerom, z vlastnej grafie )
										môže kupujúcemu účtovať aj storno pokutu vo výške 40% z celkovej sumy objednávky, pretože kupujúci je povinný
										v zmysle príslušných zákonov aobchodných podmienok predávajúceho si prevziať riadne a včas doručený tovar od
										predávajúceho, ktorý si záväzne objednal a zaplatiť za jeho kúpnu cenu.<br />
										Vzmysle § 614 OZ je predávajúci podľa dohody s kupujúcim alebo podľa povahy veci povinný dodať vec na miesto
										určené kupujúcim, kupujúci je povinný prevziať vec pri dodaní. V ostatných prípadoch je kupujúci povinný
										prevziať vec pri predaji, ak sa s predávajúcim nedohodne inak.<br />
									</p>
									<p>
										<strong>10.18 Storno objednávky</strong> / Zrušenie objednávky - kúpnej zmluvy<br />
										<strong>Objednávku je možné bezplatne stornovať do 24hod od objednania tovaru,</strong> prostredníctvom
										elektronickej pošty príslušného elektronického obchodu predávajúceho<a href="mailto:objednavky@impresspic.com"
											>objednavky@impresspic.com</a
										>,alebo na telefónnom čísle +421911579 549 Pri zrušení / stornovaní objednávky je potrebné zaslať mailom aj
										číslo objednávky, resp. nahlásiť základné informácie o nej (napr. dátum a čas objednania tovaru, meno a
										priezvisko Kupujúceho a pod.) V prípade, že Kupujúci medzitým na účet Predávajúceho zrealizoval úhradu, táto
										bude v plnej výške obratom poukázaná na účet Kupujúceho.<br />
										V prípade stornovania objednávky po uvedenom termíne si Predávajúci nárokuje na storno poplatok vo výške 40% z
										hodnoty objednaného tovaru ( v súlade s ust. § 7 ods. 6 Zákona o ochrane spotrebiteľa pri predaji na diaľku ,
										v zmysle článku 10.16 Obchodných podmienok predávajúceho ) ak ide o tovar vyrobený podľa osobitných
										požiadaviek spotrebiteľa, tovaru vyrobeného na mieru alebo tovaru určeného osobitne pre jedného spotrebiteľa
										.<br />
										V prípade, že Kupujúci zrealizuje objednávku a ako spôsob platby zadá "prevod - platba vopred na účet" a táto
										platba nebude pripísaná na bežný účet Predávajúceho (uvedený na objednávke, ktorú Kupujúci obdrží ako prílohu
										mailu o potvrdení prijatia objednávky) do 5 pracovných dní od zrealizovania príslušnej objednávky, Predávajúci
										je oprávnený stornovať celú objednávku bez náhrady a iných nárokov zo strany Kupujúceho<br />
										10.19. Ustanovenia čl. 10 týchto obchodných a reklamačných podmienok výslovne neplatia pre subjekty
										nespĺňajúce definíciu spotrebiteľa uvedenú v ust. § 2 písm. a) Zákona.
									</p>

									<p>
										<strong>11. Záverečné ustanovenia</strong><br />
										11.1. V prípade, ak je kúpna zmluva uzatvorená v písomnej forme, akákoľvek jej zmena musí mať písomnú
										formu.<br />
										11.2. Zmluvné strany sa dohodli, že komunikácia medzi nimi bude uskutočňovaná vo forme e-mailových správ.<br />
										11.3. Na vzťahy neupravené týmito obchodnými a reklamačnými podmienkami sa vzťahujú príslušné ustanovenia
										Občianskeho zákonníka, Zákona, zákona č. 22/2004 Z.z. o elektronickom obchode a o zmene a doplnení zákona č.
										128/2002 Z.z. o štátnej kontrole vnútorného trhu vo veciach ochrany spotrebiteľa a o zmene a doplnení
										niektorých zákonov v znení zákona č. 284/2002 Z.z. v znení neskorších predpisov a Zákona č. 102/2014 Z.z. o
										ochrane spotrebiteľa pri predaji na diaľku.<br />
										11.4. Tieto obchodné a reklamačné podmienky nadobúdajú účinnosť voči kupujúcemu uzavretím kúpnej zmluvy.<br />
										11.5. Kupujúci bude pred odoslaním objednávky vyzvaný, aby zaškrtnutím políčka potvrdil, že sa s týmito
										obchodnými , dodacími, reklamačnými a záručnými podmienkami oboznámil, prečítal ich, porozumel ich obsahu a v
										celom rozsahu s nimi súhlasí.<br />
										11.6. Spoločnosť impresspic s.r.o. a každý jej zamestnanec sa zaväzuje dodržiavať nasledovné:Podávať pravdivé
										informácieRešpektovať človeka a pristupovať k nemu bez rozdielu."Zákazník odoslaním objednávky súhlasí so
										zhromažďovaním apoužívaním informácií osebe auskutočňovaných nákupoch. Predávajúci sa zaväzuje, že neposkytne
										žiadne osobné údaje spotrebiteľa aani žiadne ďalšie informácie ospotrebiteľovi tretej strane. Výnimkou sú
										osobné údaje spotrebiteľa nutné na doručenie tovaru, poskytnuté prepravcovi."<br />
										11.7 Doklady "Formulár na odstúpenie od zmluvy" , " Poučenie o uplatnení práva na odstúpenie od zmluvy",
										"Obchodné podmienky", "Reklamačný poriadok" a "Reklamačný protokol" sú zverejnené v elektronických obchodoch
										predávajúceho v menu "Obchodné podmienky".<br />
										Pred odoslaním objednávky v zmysle uvedeného zákona kupujúci pred odoslaním objednávky bol oboznámený, že
										uvedené doklady sú zverejnené v e-shope, sú čitateľné, zrozumiteľné, dajú sa vytlačiť na papier, uložiť na USB
										kľúč/PC a pod.Bez tohto odsúhlasenia nie je možné odoslať objednávku a objednať tovar.<br />
										Po obdržaní riadne vyplneného formulára Odstúpenia od zmluvy uzavretej na diaľku, Vám v najkratšom možnom
										termíne zašleme e-mailom na Vami zadanú adresu potvrdenie o jeho prijatí<br />
										<strong>Príloha č. 1</strong> <br />
										<strong>Formulár na odstúpenie od zmluvy</strong> si môžete
										<a href="{$root}/upload/source/dokumenty/formular-na-odstupenie-od-zmluvy.docx">stiahnuť</a>.<br />
										(vyplňte a zašlite tento formulár len v prípade, že si želáte odstúpiť od zmluvy. Vypísaný formulár zašlite
										spolu s vráteným tvarom a originálom faktúry, ktorý ste obdržali spolu s tovarom)<br />
										Na adresu: impresspic s.r.o., Bratislavská 2, 900 21 Svätý Jur, alebo Púchovská 16, 831 06 Bratislava,<a
											href="mailto:info@impresspic.com"
											>info@impresspic.com</a
										>
										<br />
										<strong>Príloha č. 2 </strong> <br />
										<strong>1. Právo na odstúpenie od zmluvy</strong> <br />
										Máte právo odstúpiť od tejto zmluvy bez uvedenia dôvodu v lehote 14 dní.Lehota na odstúpenie od zmluvy uplynie
										po 14 dňoch odo dňa keď Vy alebo Vami určená tretia osoba s výnimkou dopravcu prevezmete tovar (deň prevzatia
										od kuriéra). <br />
										Pri uplatnení práva na odstúpenie od zmluvy nás informujte o svojom rozhodnutí odstúpiť od tejto zmluvy
										jednoznačným vyhlásením (napríklad listom zaslaným poštou, alebo e-mailom) impresspic s.r.o., Bratislavská 2,
										900 21 Svätý Jur, alebo Púchovská 16, 831 06 Bratislava, alebo e-mailom príslušného elektronického obchodu
										predávajúceho : <a href="mailto:info@impresspic.com">info@impresspic.com</a>. . Na tento účel môžete použiť
										vyššie uvedený vzorový formulár na odstúpenie od zmluvy.Lehota na odstúpenie od zmluvy je zachovaná, ak
										zašlete oznámenie o uplatnení práva na odstúpenie od zmluvy pred tým, ako uplynie lehota na odstúpenie od
										zmluvy. <br />
										<strong>2. Dôsledky odstúpenia od zmluvy</strong><br />
										Po odstúpení od zmluvy Vám vrátime všetky platby, ktoré ste uhradili v súvislosti s uzavretím zmluvy, najmä
										kúpnu cenu vrátane nákladov na doručenie tovaru k Vám. To sa nevzťahuje na dodatočné náklady, ak ste si
										zvolili iný druh doručenia, ako je najlacnejší bežný spôsob doručenia, ktorý ponúkame. Platby Vám budú vrátené
										bez zbytočného odkladu, najneskôr do 14 dní odo dňa, keď nám bude doručené Vaše oznámenie o odstúpení od tejto
										zmluvy. Ich úhrada bude uskutočnená rovnakým spôsobom, aký ste použili pri Vašej platbe, pokiaľ ste výslovne
										nesúhlasili s iným spôsobom platby, a to bez účtovania akýchkoľvek ďalších poplatkov. Vrátené peniaze
										spravidla posielame na Vami uvedené číslo účtu.Platba za zakúpený tovar Vám bude uhradená až po doručení
										vráteného tovaru späť na našu adresu alebo po predložení dokladu preukazujúceho zaslanie tovaru späť, podľa
										toho, čo nastane skôr.„Zašlite nám tovar späť na adresu sídla spoločnosti impresspic s.r.o. najneskôr do 14
										dní odo dňa uplatnenia práva na odstúpenie od zmluvy. Lehota sa považuje za zachovanú, ak tovar odošlete späť
										pred uplynutím 14-dňovej lehoty.Spotrebiteľ zodpovedá iba za akékoľvek zníženie hodnoty tovaru v dôsledku
										zaobchádzania s ním iným spôsobom, než aký je potrebný na zistenie povahy, vlastností a funkčnosti
										tovaru.Vypracované v súlade so zákonom č. 102/2014 Z.z. ochrane spotrebiteľa pri predaji tovaru alebo
										poskytovaní služieb na základe zmluvy uzavretej na diaľku alebo zmluvy uzavretej mimo prevádzkových priestorov
										predávajúceho.<br />
										<strong>Príloha č. 3 Reklamačný formulár</strong> <br />
										Reklamačný formulár si môžete
										<a href="{$root}/upload/source/dokumenty/reklamacny-formular.docx">stiahnuť</a>.
									</p>

									<h3 class="mb-2"><strong>ARS Alternatívne riešenie sporov</strong></h3>
									<p>
										Vprípade nespokojnosti nakupujúceho so spôsobom vybavenia reklamácie zo strany predávajúceho, príp. ak sa
										domnieva, že predávajúci porušil jeho práva, má nakupujúci právo, obrátiť sa na predávajúceho so žiadosťou
										onápravu – emailom na adresu
										<a href="mailto:info@impresspic.com">info@impresspic.com</a>
									</p>
									<p>
										Ak predávajúci odpovie na túto žiadosť zamietavo alebo na ňu neodpovie do 30 dní od jej odoslania, spotrebiteľ
										má právo podať návrh na začatie alternatívneho riešenia sporu subjektu alternatívneho riešenia sporov (ďalej
										len subjekt ARS) podľa zákona 391/2015 Z.z. ARS subjektami sú orgány a oprávnené právnické osoby podľa §3
										zákona 391/2015 Z.z. Návrh môže spotrebiteľ podať spôsobom určeným podľa §12 Zákona 391/2015 Z.z. Spotrebiteľ
										môže podať sťažnosť aj prostredníctvom platformy alternatívneho riešenia sporov RSO, ktorá je dostupná online
										na<a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>
									</p>

									<p>
										Alternatívne riešenie sporov môže využiť len spotrebiteľ – fyzická osoba, ktorá pri uzatváraní a plnení
										spotrebiteľskej zmluvy nekoná v rámci predmetu svojej podnikateľskej činnosti, zamestnania alebo povolania.
										Alternatívne riešenie sporov sa týka len sporu medzi spotrebiteľom a predávajúcim, vyplývajúceho zo
										spotrebiteľskej zmluvy alebo súvisiaceho so spotrebiteľskou zmluvou. Alternatívne riešenie sporov sa týka len
										zmlúv uzatvorených na diaľku. Alternatívne riešenie sporov sa netýka sporov, kde hodnota sporu<strong
											>neprevyšuje sumu 20 EUR</strong
										>. Subjekt ARS môže od spotrebiteľa požadovať úhradu poplatku za začatie alternatívneho riešenia sporu
										maximálne do výšky<strong>5 EUR s DPH</strong>.
									</p>

									<p>
										Rovnaké možnosti majú podľa smernice EÚ aj obchodníci – aj prevádzkovateľ internetového obchodu môže rovnakým
										spôsobom podať sťažnosť na zákazníka
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'ObchodnePodmienky',
	head() {
		return {
			title: 'Obchodné podmienky',
		};
	},
};
</script>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}

h4 {
	color: $primary-color;
	font-size: rem(17px);
}
.payment-icon {
	max-width: 100%;
	margin-right: 15px;
	@include media-breakpoint-down(md) {
		margin-bottom: 15px;
	}
	&:first-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
small {
	font-size: rem(12px);
	display: block;
	margin-top: 10px;
	a {
		color: $secondary-color;
	}
}
.tab-pane div {
	margin-top: 30px;
	a,
	button {
		color: $secondary-color;
		text-decoration: underline !important;
		padding: 0;
	}
}

.tab-content {
	padding-left: 30px;
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
		padding-left: 0;
	}
}
.nav {
	border: 1px solid $light-grey;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	li {
		width: 100%;
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		a {
			text-align: left;
			width: 100%;
			display: flex;
			color: $secondary-color;
			justify-content: space-between;
			align-items: center;
			svg {
				display: none;
			}
			&:hover {
				background-color: $light-grey;
				color: $secondary-color;
			}
			&.active {
				color: $white;
				background-color: $light-secondary-color;
				svg {
					display: block;
					color: $white;
				}
			}
		}
	}
}
</style>
