// BOUNCE DOWN ANIMATION

@keyframes bounce-down {
	0% {
		top: 0;
	}

	50% {
		top: 5%;
	}

	100% {
		top: 0%;
	}
}

// SLIDE UP ANIMATION

@keyframes slide-up {
	from {
		top: 0;
	}

	to {
		top: -100%;
	}
}

// ROTATE ANIMATION

@keyframes rotate {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
	25% {
		transform: rotate(3deg) translate3d(0, 0, 0);
	}
	50% {
		transform: rotate(-3deg) translate3d(0, 0, 0);
	}
	75% {
		transform: rotate(1deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

// STORM ANIMATION

@keyframes storm {
	0% {
		transform: translate3d(0, 0, 0) translateZ(0);
	}
	25% {
		transform: translate3d(4px, 0, 0) translateZ(0);
	}
	50% {
		transform: translate3d(-3px, 0, 0) translateZ(0);
	}
	75% {
		transform: translate3d(2px, 0, 0) translateZ(0);
	}
	100% {
		transform: translate3d(0, 0, 0) translateZ(0);
	}
}

// SCALE ANIMATION

@keyframes scale {
	0% {
		@include transform(scale(0));
	}

	70% {
		@include transform(scale(1.15));
	}

	100% {
		@include transform(scale(1));
	}
}

// LINE

@keyframes line {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

// STEP

@keyframes step {
	0% {
		width: 11px;
		height: 11px;
		@include transform(scale(1));
	}

	75% {
		@include transform(scale(1.2));
	}

	100% {
		width: 17px;
		height: 17px;
		margin-left: -8.5px;
		top: 15.5px;
		@include transform(scale(1));
	}
}

// Opacity

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/**
Animations
 */

// Fade animation
.fade-enter-active,
.fade-leave-active {
	transition: all 0.2s;
}
.fade-enter,
.fade-leave-active {
	opacity: 0;
}

// Fade up animation
.fade-up-enter-active,
.fade-up-leave-active {
	transition: all 0.2s;
}
.fade-up-enter,
.fade-up-leave-active {
	opacity: 0;
	transform: translateY(-15px);
}

// Fade left animation
.fade-left-enter-active,
.fade-left-leave-active {
	transition: all 0.3s;
}
.fade-left-enter,
.fade-left-leave-active {
	opacity: 0;
	transform: translateX(-50px);
}


// Zoom in animation
.zoom-in-enter-active,
.zoom-in-leave-active {
	transition: all 0.3s;
}
.zoom-in-enter,
.zoom-in-leave-active {
	opacity: 0;
	transform: scale(0);
}

// Base page switching animation
.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}
.page-enter,
.page-leave-active {
	opacity: 0;
	transform: translateY(-50px);
}
