// Colors
$header-bg: #f2f5f7;
$body-bg: #ffffff;
$white: #fff;
$black: #000;
$primary-color: #4f9a95;
$light-primary-color: #80cbc6;
$secondary-color: #101c32;
$light-secondary-color: #39435c;
$grey: #F9F9F9;
$dark-grey: #333333;
$light-grey: #e5e7e9;
$grey-bg: #fafafa;
$text-color: #6d7580;
$footer-bg: #000000;
$dark-blue: #133344;
$red: #fe1717;
$green: #03e00b;
$green2: #0a9a10;
$green3: #93b95a;

//Fonts
$base-font: nunito-sans, sans-serif;
$secondary-font: brandon-grotesque, sans-serif;
$viktor-font: viktor-script, sans-serif;
$base-font-size: 16px;
$thin-font: 100;
$light-font: 300;
$regular-font: 400;
$semibold-font: 600;
$medium-font: 500;
$bold-font: 700;
$extrabold-font: 800;
$black-font: 900;
$big-title-size: 50px;
$small-title-size: 24px;

// BS container widths
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	//xxl: 1140px,
);

$grid-columns: 60;
$min-contrast-ratio: 2.5;

$min_width: 320px;
$max_width: 1200px;

// Add bootstrap
@import '~bootstrap/scss/bootstrap';
