// All custom styles
body,
html {
	overflow-x: hidden;
	scroll-behavior: auto !important;
}

.modal-open {
	overflow-y: hidden;
}

body {
	font-family: $base-font;
	font-weight: $regular-font;
	background-color: $body-bg;
}

button {
	background: none;
	border: none;
}

ul {
	margin-bottom: 0 !important;
}

input {
	background: none;
	border: none;
	outline: none;
}

a,
button,
svg {
	@include transition(all 0.2s ease-in-out);
}

a {
	text-decoration: none !important;
}

p {
	margin-bottom: 0 !important;
	color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $regular-font;
	margin-bottom: 0;
}

main {
	margin-top: 128px;
	@include media-breakpoint-down(lg) {
		margin-top: 109px;
	}
	@include media-breakpoint-down(sm) {
		margin-top: 90px;
	}
}

section:not(.hero, .discount) {
	padding: 80px 0;
}

h2 {
	font-family: $secondary-font;
	font-size: rem(24px) !important;
	font-weight: $light-font !important;
}

// Sweetalert 2 colors
.swal2-title,
.swal2-html-container {
	color: $white !important;
}

.swal2-top-end {
	.swal2-title {
		margin-left: 0.7em !important;
	}
}

.swal2-container {
	z-index: 10000 !important;
}
// Buttons
.base-btn {
	width: 100%;
	display: inline-block;
	height: 54px;
	line-height: 54px;
	background-color: $primary-color;
	color: $white !important;
	font-size: rem(14px);
	letter-spacing: 1px;
	text-align: center;
	position: relative;
	overflow: hidden;
	@include media-breakpoint-down(sm) {
		max-width: 100% !important;
	}
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		@include transition(all 0.3s ease-in-out);
		background-color: $light-primary-color;
		opacity: 0;
		z-index: 1;
	}
	&:hover:after,
	&:active:after {
		top: 0;
		opacity: 1;
	}

	span {
		position: relative;
		z-index: 2;
	}
}

.light-base-btn {
	color: $secondary-color !important;
	background-color: $light-primary-color;
	&:after {
		background-color: $secondary-color;
	}
	&:hover {
		color: $white !important;
	}
}

.close-btn {
	position: absolute;
	top: 30px;
	right: 30px;
	&:hover {
		opacity: 0.6;
	}
	svg {
		font-size: rem(30px);
		color: $secondary-color;
	}
}

// Forms
.form-box textarea {
	border: 1px solid $light-grey !important;
	height: 131px !important;
	&:focus {
		border-color: $primary-color !important;
	}
}
.selectbox input {
	border: none !important;
}

form .form-group:not(footer form .form-group),
.selectbox {
	margin-bottom: 20px;
	position: relative;

	&.form-group-error .pull-tab {
		bottom: 39px;
	}
	label:not(label[for='files'], label[for='gdpr'],label[for='businessConditions'], label[for='regGdpr'],label[for='regBusinessConditions'],label[for='profileGdpr'],label[for='profileBusinessConditions']) {
		font-size: rem(14px);
		font-weight: $semibold-font;
		color: $black;
		position: absolute;
		top: 2px;
		left: 2px;
		right: -2px;
		background-color: $white;
		width: 98%;
		padding: 5px 0 2px 15px;
		cursor: pointer;
	}
	input:not(.vs__search) {
		width: 100%;
		height: 73px;
		padding: 21px 15px 0 15px;
		font-weight: $light-font;
		border: 2px solid transparent;
		cursor: pointer;
		background-color: $white;
		&:focus {
			border-color: $primary-color;
			cursor: auto;
		}
	}

	textarea {
		width: 100%;
		height: 73px;
		border: none;
		outline: none;
		padding: 35px 15px 0 15px;
		font-weight: $light-font;
		border: 2px solid transparent;
		cursor: pointer;
		background-color: $white;
		&::-webkit-resizer {
			opacity: 0;
		}
		&:focus {
			border-color: $primary-color;
			cursor: auto;
		}
	}

	.pull-tab {
		height: 0px;
		width: 0px;
		border-top: 11px solid #362e2c;
		border-left: 10px solid transparent;
		border-right: 11px solid transparent;
		@include transform(rotate(-47deg));
		position: absolute;
		bottom: 13px;
		right: 1px;
		pointer-events: none;
		z-index: 2;
	}

	p {
		color: $white;
	}

	input[type='file'] {
		display: none;
	}

	label[for='files'] {
		width: 100%;
		height: 35px;
		background-color: $white;
		position: relative;
		cursor: pointer;
		margin-top: 5px;
		&:hover {
			span.upload {
				background-color: $primary-color;
			}
		}
		span.file-text {
			position: absolute;
			left: 10px;
			top: 50%;
			font-size: rem(14px);
			@include transform(translateY(-50%));
			small {
				color: $primary-color;
			}
		}

		span.upload {
			position: absolute;
			height: 35px;
			background-color: $light-primary-color;
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			padding: 0 15px;
			font-size: rem(14px);
			@include transition(background-color 0.2s ease-in-out);
			svg {
				margin-right: 5px;
			}
		}
	}

	input[type='checkbox'] {
		display: none;
		&:checked + label span svg {
			display: block;
		}
	}

	label[for='gdpr'],label[for='businessConditions'],label[for='regGdpr'],label[for='regBusinessConditions'],label[for='profileGdpr'],label[for='profileBusinessConditions']  {
		cursor: pointer;
		font-size: rem(14px);
		color: $white;
		position: relative;
		padding-left: 25px;
		a {
			color: $primary-color;
			&:hover {
				text-decoration: underline !important;
			}
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 15px;
			height: 15px;
			background-color: $white;
			position: absolute;
			top: 3px;
			left: 0;
			@include border-radius(50%);
			svg {
				color: $primary-color;
				font-size: rem(11px);
				display: none;
			}
		}
	}
}

.form-box {
	background-color: $white;
	padding: 30px 30px 50px 30px;
	max-width: 450px;
	margin: 20px auto 0 auto;
	border-top: 3px solid $primary-color;
	@include box-shadows(0px 9px 15px -2px rgba(58, 58, 58, 16%));
	@include media-breakpoint-down(sm) {
		padding: 30px 15px 30px 15px;
	}
	a {
		display: inline-block;
		margin-top: 5px;
		color: $secondary-color;
		text-decoration: underline !important;
		font-size: rem(15px);
		&:hover {
			opacity: 0.6;
		}
	}

	input:not(.selectbox input) {
		border: 1px solid $light-grey !important;
		&:focus {
			border-color: $primary-color !important;
		}
	}

	&:not(.full-width) {
		.form-group:last-of-type {
			margin-bottom: 0;
		}
	}
}

.checkout-form .form-box {
	margin-top: 0;
}

// Form group checkbox
.form-group-chkbx {
	margin-bottom: 20px;
	label {
		font-size: rem(18px);
		font-weight: $light-font;
		cursor: pointer;
		display: flex !important;
		span {
			display: flex;
			flex: 0 0 15px;
			width: 15px;
			height: 15px;
			border: 1px solid $light-grey;
			margin-right: 10px;
			align-items: center;
			justify-content: center;
			margin-top: 6px;
			svg {
				font-size: rem(12px);
				display: none;
				color: $white;
			}
		}
	}

	input {
		display: none;
		&:checked + label span {
			background-color: $primary-color;
			border-color: transparent;
			svg {
				display: block;
			}
		}
	}
}

.full-width {
	max-width: 100%;
}

// Selectbox
.vs__dropdown-toggle {
	height: 73px;
	border-radius: 0 !important;
	border-color: $light-grey !important;
}

.product-detail .vs__dropdown-toggle {
	border-color: $secondary-color !important;
	height: 60px;
	@include border-radius(8px !important);
}

.product-detail .vs__selected {
	line-height: 60px !important;
}

.vs__selected {
	line-height: 84px !important;
	margin: 0 !important;
	padding: 0 0 0 15px !important;
}

.vs__actions {
	padding: 5px 15px 0 3px !important;
}

.vs--open .vs__dropdown-toggle {
	border-color: $primary-color !important;
}
.vs--disabled .vs__search {
	background-color: transparent !important;
}

.vs--disabled {
	opacity: .2;
}

// Big radio btn
.big-radio-btn {
	margin-bottom: 15px;

	input {
		display: none;
	}

	img {
		@include media-breakpoint-down(sm) {
			width: 120px;
		}
	}

	label {
		width: 100%;
		height: 100px;
		border: 1px solid $light-grey;
		cursor: pointer;
		display: flex !important;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		@include border-radius(6px);
		span {
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 20px;
			border: 1px solid $light-grey;
			@include border-radius(50%);
			margin-right: 15px;
			svg {
				display: none;
				color: $white;
				font-size: rem(12px);
			}
		}
		&.active {
			border-color: $primary-color;
			span {
				background-color: $primary-color;
				border-color: transparent;
				svg {
					display: block;
				}
			}
		}

		svg:not(span svg) {
			font-size: rem(35px);
			margin-right: 15px;
		}

		p {
			font-size: rem(20px);
			font-weight: $bold-font;
			@include media-breakpoint-down(sm) {
				font-size: rem(13px);
			}
		}

		strong {
			font-size: rem(20px);
			white-space: nowrap;
			@include media-breakpoint-down(sm) {
				font-size: rem(13px);
			}
		}
	}
}


// Error message
.form-group-error .error {
	display: block;
}

.form-box .error {
	color: $red;
}

.error {
	margin-top: 5px;
	color: pink;
	letter-spacing: 1px;
	font-size: rem(14px);
	display: none;
}

// Pagination
.pagination {
	justify-content: center;
	margin-bottom: 20px !important;
	li:first-child a,
	li:nth-last-child(2) a,
	li:last-child a {
		margin-right: 0;
	}

	li:first-child a,
	li:last-child a,
	li:nth-child(2) a,
	li:nth-last-child(2) a {
		&:hover {
			background-color: $light-grey !important;
			cursor: pointer;
			@include media-breakpoint-down(lg) {
				background-color: $white !important;
			}
		}

		&:focus {
			color: #6d708d;
		}
	}
}

.page-link {
	width: 40px;
	height: 40px;
	font-weight: $semibold-font;
	background-color: $white;
	border: 1px solid $light-grey;
	margin-right: 20px;
	color: #6d708d;
	position: relative;
	padding: 0;
	line-height: 40px;
	@include media-breakpoint-down(sm) {
		margin-right: 10px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	&:hover {
		color: #6d708d;
	}
}

.page-item.active .page-link {
	border-color: transparent;
}

.page-item.disabled .page-link {
	background-color: $light-grey;
}

.page-item.active .page-link {
	background-color: $primary-color;
}

.VuePagination__count {
	margin-bottom: 20px !important;
}


.article-detail .content {
	h5 {
		font-weight: $bold-font;
		margin-bottom: 10px;
	}

	img {
		max-width: 100%;
	}

	p {
		margin-bottom: 25px !important;

		a {
			text-decoration: underline !important;
			color: $secondary-color;

			&:hover {
				color: $secondary-color;
			}
		}
	}
}
