<template>
	<div class="col-30 col-md-20">
		<div class="category-box">
			<NuxtLink to="/produkty/kategoria/blueprint">
				<div class="img-wrap">
					<img src="~assets/img/architecture-img.jpg" alt="Architektúra" />
				</div>

				<div class="content">
					<p>Vzdelávanie a mapy</p>
				</div>
			</NuxtLink>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Card',
};
</script>

<style lang="scss" scoped>
.col-30 {
	margin-bottom: 30px;
	&:last-of-type {
		margin-bottom: 0;
	}
}
.img-wrap {
	width: 100%;
	height: 168px;
	@include media-breakpoint-between(sm, lg) {
		height: 115px;
	}

	@include media-breakpoint-down(sm) {
		height: 80px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.category-box {
	background-color: $white;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	@include transition(box-shadow 0.2s ease-in-out);
	&:hover {
		@include box-shadows(0px 9px 22px -2px rgba($primary-color, 46%));
	}
	.content {
		padding: 20px;
		@include media-breakpoint-between(sm, lg) {
			padding: 10px;
		}

		@include media-breakpoint-down(sm) {
			padding: 5px;
		}
		p {
			color: $black;
			@include media-breakpoint-down(sm) {
				font-size: rem(14px);
			}
		}
	}
}
</style>
