<template>
	<div class="container text-center">
		<h2>Kategórie</h2>

		<div class="row mt-5">
			<CategoryCard v-for="card in 12" :key="card" />
		</div>
	</div>
</template>

<script>
export default {
	name: 'SectionDisplay',
};
</script>

<style lang="scss" scoped></style>
