<template>
	<div class="order">
		<div class="d-flex flex-column flex-md-row">
			<div class="left-side">
				<ul class="list-unstyled">
					<li>
						Objednávka č.: <strong>{{ orderNumber }}</strong>
					</li>
					<li>
						Celkom zaplatiť: <span>{{ orderTotalPrice | toCurrency('SK') }}</span>
					</li>
					<li>
						Celkom zaplatené: <span v-if="orderStatus.code === 'complete'">{{ orderTotalPrice | toCurrency('SK') }}</span>
						<span v-else>{{ 0 | toCurrency('SK') }}</span>
					</li>
					<li>
						Stav: <strong :style="{ color: orderStatus.color }">{{ orderStatus.name }}</strong>
					</li>
					<li>
						<small>Vytvorená {{ $moment(createdAt).format('D.M.Y - HH:mm:ss') }}</small>
					</li>
					<li>
						<a href="#">Stiahnuť faktúru v PDF <fa icon="file-download" /></a>
					</li>
				</ul>
			</div>

			<div class="right-side">
				<div class="top-heading d-flex">
					<div class="product-name">
						<p>Produkt</p>
					</div>

					<div class="title d-flex">
						<p>Počet</p>
						<p>Jedn. cena</p>
						<p>Celkom</p>
					</div>
				</div>

				<div v-for="item in orderItems" :key="item.id" class="product-item d-flex align-items-center">
					<div class="product-name">
						<p>{{ item.product.name }}</p>
						<p>{{ item.offer.name }}</p>
					</div>

					<div class="title d-flex">
						<p>{{ item.quantity }} ks</p>
						<p>{{ item.offer.price_value | toCurrency('SK') }}</p>
						<p>{{ (item.quantity * item.offer.price_value) | toCurrency('SK') }}</p>
					</div>
				</div>

				<ul class="list-unstyled mt-3">
					<li>
						Spôsob dopravy: <strong>{{ orderShippingType.name }} (+{{ orderShippingType.price_value | toCurrency('SK') }})</strong>
					</li>

					<li>
						Spôsob platby: <strong>{{ orderPaymentMethod.name }} (+{{ orderPaymentMethod.price_value | toCurrency('SK') }})</strong>
					</li>
				</ul>

				<h5>
					Celkom spolu: <strong>{{ orderTotalPrice | toCurrency('SK') }}</strong>
				</h5>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Order',
	props: {
		orderNumber: String,
		orderStatus: Object,
		createdAt: String,
		orderItems: Array,
		orderShippingType: Object,
		orderPaymentMethod: Object,
		orderTotalPrice: Number,
	},
};
</script>

<style lang="scss" scoped>
h5 {
	margin-bottom: 0;
	margin-top: 20px;
	strong {
		color: $primary-color;
		font-weight: $extrabold-font;
	}
}
.product-item {
	border-bottom: 1px solid $light-grey;
	padding: 5px 0;
}
.product-name {
	flex: 0 0 50%;
	max-width: 50%;
}

.title {
	flex: 0 0 50%;
	max-width: 50%;
	text-align: center;
	p {
		flex-grow: 1;
		flex-basis: 0;
	}
}

.top-heading {
	p {
		font-weight: $bold-font;
	}
}
.order {
	border: 1px solid $light-grey;
	background-color: $white;
	padding: 25px;
	margin-top: 30px;
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	@include media-breakpoint-down(md) {
		padding: 15px;
	}
	.left-side {
		flex: 0 0 30%;
		border-right: 1px solid $light-grey;
		padding-right: 10px;
		@include media-breakpoint-between(md, xl) {
			flex: 0 0 35%;
		}

		@include media-breakpoint-down(md) {
			flex: 0 0 100%;
			border-right: none;
			border-bottom: 1px solid $light-grey;
			padding-bottom: 15px;
			padding-right: 0;
			margin-bottom: 10px;
		}
	}

	.right-side {
		flex: 0 0 70%;
		padding: 0 0 0 10px;
		@include media-breakpoint-down(md) {
			padding: 0 0 0 0;
		}
		@include media-breakpoint-between(md, xl) {
			flex: 0 0 65%;
		}

		@include media-breakpoint-down(sm) {
			flex: 0 0 100%;
		}
		p {
			@include media-breakpoint-down(md) {
				font-size: rem(12px);
			}
		}

		ul li {
			@include media-breakpoint-down(md) {
				font-size: rem(14px);
			}
		}
	}
	ul {
		li {
			color: $primary-color;
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
			span,
			strong,
			small {
				color: $secondary-color;
			}

			small {
				display: block;
				padding-top: 20px;
			}

			a {
				color: $secondary-color;
				font-weight: $bold-font;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $light-grey;
				padding: 5px;
				text-align: center;
				&:hover {
					background-color: darken($light-grey, 5%);
				}
				svg {
					margin-left: 5px;
				}
			}

			strong {
				&.pending {
					color: $orange;
				}

				&.success {
					color: $green;
				}

				&.canceled {
					color: $red;
				}
			}
		}
	}
}
</style>
