<template>
	<div class="sidebar">
		<ul class="list-unstyled">
			<li :class="{ active: $route.path == '/user' }">
				<NuxtLink to="/user"><fa icon="angle-right" />Profil</NuxtLink>
			</li>
			<li :class="{ active: $route.path == '/user/orders' }">
				<NuxtLink to="/user/orders"><fa icon="angle-right" />Moje objednávky</NuxtLink>
			</li>
			<li :class="{ active: $route.path == '/user/wishlist' }">
				<NuxtLink to="/user/wishlist"><fa icon="angle-right" />Wishlist</NuxtLink>
			</li>

			<li><button @click="logout()">Odhlásiť sa</button></li>
		</ul>

		<loading :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>
	</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	name: 'Sidebar',
	components: {
		Loading,
	},

	data() {
		return {
			isLoading: false,
		};
	},
	methods: {
		async logout() {
			this.isLoading = true;
			await this.$auth
				.logout()
				.then(() => {
					this.isLoading = false;
					this.$swal({
						title: 'OK',
						text: 'Úspešne ste sa odhlásili.',
						icon: 'success',
						background: '#7DB212',
					});
				})
				.catch((e) => {
					this.isLoading = false;
					this.$swal({
						title: e.response.status,
						text: 'Odhlásenie bolo neúspešné',
						icon: 'error',
						background: '#ED3F26',
					});
				});
		},
	},
};
</script>

<style lang="scss" scoped>
ul {
	li {
		&:last-child a {
			margin-left: 17px;
		}
		&.active svg {
			opacity: 1;
		}
		a {
			color: $secondary-color;
			display: flex;
			align-items: center;
			&:hover {
				color: $secondary-color;
			}

			svg {
				margin-right: 10px;
				opacity: 0;
			}
		}
	}
}
</style>
