<template>
	<form :class="{ 'in-modal': inModal }" @submit.prevent="formSubmit($event)">
		<div class="form-group" :class="{ 'form-group-error': $v.fullName.$error }">
			<label for="fullName">Meno a Priezvisko</label>
			<input id="fullName" v-model.trim="$v.fullName.$model" type="text" name="fullName" @input="delayTouch($v.fullName)" />
			<div v-if="!$v.fullName.required" class="error">Prosím vyplňte Vaše meno a priezvisko!</div>
		</div>

		<div class="form-group" :class="{ 'form-group-error': $v.email.$error }">
			<label for="email">E-mail</label>
			<input id="email" v-model.trim="$v.email.$model" type="email" name="email" @input="delayTouch($v.email)" />
			<div v-if="!$v.email.required" class="error">Prosím zadajte Váš e-mail!</div>
			<div v-if="!$v.email.email" class="error">Nesprávny e-mail!</div>
		</div>

		<div class="form-group" :class="{ 'form-group-error': $v.phone.$error }">
			<label for="phone">Mobil</label>
			<input id="phone" v-model.trim="$v.phone.$model" type="tel" name="phone" @input="delayTouch($v.phone)" />
			<div v-if="!$v.phone.required" class="error">Prosím zadajte Vaše tel. číslo!</div>
			<div v-if="!$v.phone.numeric || !$v.phone.minLength || !$v.phone.maxLength" class="error">
				Zlý formát tel. čísla! (Zadajte ju v tvare: 0948xxxxxx)
			</div>
		</div>

		<div class="form-group" :class="{ 'form-group-error': $v.message.$error }">
			<label for="message">Správa</label>
			<textarea id="message" v-model.trim="$v.message.$model" name="message" @input="delayTouch($v.message)"></textarea>
			<div class="pull-tab"></div>
			<div v-if="!$v.message.required" class="error">Prosím vyplňte toto pole!</div>
		</div>

		<div class="form-group">
			<p>Nahrajte svoj vlastný motív</p>
			<div class="input-file-wrap">
				<input id="files" type="file" name="files" multiple @change="handleFileUploads($event)" />
				<label for="files">
					<span class="file-text"
						>Počet príloh: <small>{{ files.length }} ks</small></span
					>
					<span class="upload"><fa icon="upload" /> Nahrať prílohy</span>
				</label>
			</div>

			<transition-group name="fade" tag="ul" class="list-unstyled uploaded-files">
				<li v-for="(file, key) in files" :key="key">
					{{ `${key + 1}.` }} {{ file.name }} <span class="remove-file" @click="removeFile(key)">Vymazať</span>
				</li>
			</transition-group>
		</div>

		<div class="form-group" :class="{ 'form-group-error': $v.gdpr.$error }">
			<input id="gdpr" v-model="$v.gdpr.$model" name="gdpr" type="checkbox" />
			<label for="gdpr">
				<span><fa icon="check" /></span>Súhlasím so <NuxtLink to="/ako-objednat/gdpr">spracovaním osobných údajov</NuxtLink>
			</label>
			<div v-if="!$v.gdpr.required" class="error">Prosím zaškrtnite toto políčko!</div>
		</div>

		<div class="d-flex justify-content-end">
			<button type="submit" class="base-btn">
				<span v-if="!isLoading">Poslať</span>
				<loading :active.sync="isLoading" :can-cancel="false" :is-full-page="false" :width="30" :height="30"></loading>
			</button>
		</div>
	</form>
</template>

<script>
import { required, email, numeric, minLength, maxLength, sameAs } from 'vuelidate/lib/validators';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

const touchMap = new WeakMap();

export default {
	name: 'CustomPrintForm',
	components: {
		Loading,
	},
	props: ['inModal'],

	data() {
		return {
			fullName: '',
			email: '',
			phone: '',
			message: '',
			files: [],
			gdpr: false,
			submitStatus: '',
			isLoading: false,
		};
	},

	watch: {
		files() {
			let uploadedFilesSize = 0;

			for (let i = 0; i < this.files.length; i++) {
				uploadedFilesSize += this.files[i].size;
			}

			if (uploadedFilesSize > 4194304) {
				this.files = [];
				this.$swal({
					title: 'Chyba',
					text: 'Maximálna povolená veľkosť všetkých príloh je 4MB!',
					icon: 'error',
					background: '#ED3F26',
				});
			}
		},
	},

	created() {
		this.$nuxt.$on('close-modal-custom-print', () => {
			if (this.$v.$error) {
				this.$v.$reset();
			}
		});
	},

	validations: {
		fullName: {
			required,
		},

		email: {
			required,
			email,
		},

		phone: {
			required,
			numeric,
			minLength: minLength(10),
			maxLength: maxLength(10),
		},

		message: {
			required,
		},

		gdpr: {
			sameAs: sameAs(() => true),
		},
	},

	methods: {
		/**
		 *** Show error messages with delay on input
		 *** @param $v
		 ***/
		delayTouch($v) {
			$v.$reset();
			if (touchMap.has($v)) {
				clearTimeout(touchMap.get($v));
			}
			touchMap.set($v, setTimeout($v.$touch, 1000));
		},

		/**
		 *** File uploading/removing logic
		 * @param event
		 ***/

		handleFileUploads(event) {
			const uploadedFiles = event.target.files;

			for (let i = 0; i < uploadedFiles.length; i++) {
				this.files.push(uploadedFiles[i]);
			}
		},

		removeFile(key) {
			this.files.splice(key, 1);
		},

		/***
		 *** Form submit method
		 ***/

		async formSubmit(event) {
			const formData = new FormData();
			this.$v.$touch();
			this.isLoading = true;

			// Error block
			if (this.$v.$invalid) {
				this.submitStatus = 'ERROR';
				this.isLoading = false;
				this.$swal({
					title: 'Chyba',
					text: 'Prosím vyplňte všetky povinné údaje.',
					icon: 'error',
					background: '#ED3F26',
				});
			}
			// Success block
			else {
				formData.append('fullName', this.fullName);
				formData.append('email', this.email);
				formData.append('phone', this.phone);
				formData.append('message', this.message);
				formData.append('gdpr', this.gdpr);

				for (let i = 0; i < this.files.length; i++) {
					const file = this.files[i];

					formData.append(`files[]`, file);
				}

				await this.$axios
					.$post('/v1/custom-template/send', formData)
					.then((response) => {
						if (response.status !== false) {
							this.$swal({
								title: 'Ok',
								text: response.message,
								icon: 'success',
								background: '#7DB212',
								toast: false,
								position: 'center',
							});
							this.submitStatus = 'OK';
							this.$v.$reset();
							this.fullName = '';
							this.email = '';
							this.phone = '';
							this.message = '';
							this.files = [];
							this.gdpr = false;
							this.submitStatus = '';
							this.isLoading = false;
						} else {
							this.$swal({
								title: 'Chyba',
								text: response.message,
								icon: 'error',
								background: '#ED3F26',
							});

							this.isLoading = false;
						}
					})
					.catch((err) => {
						this.isLoading = false;
						this.$swal({
							title: err.response.status,
							text: 'Formulár sa nepodarilo odoslať.Vyskúšajte neskôr prosím.',
							icon: 'error',
							background: '#ED3F26',
							toast: false,
							position: 'center',
						});
					});
			}
		},
	},
};
</script>

<style lang="scss" scoped>
.in-modal input,
.in-modal textarea,
.in-modal label[for='files'] {
	border: 2px solid $light-grey !important;
	&:focus {
		border-color: $primary-color !important;
	}
}

.in-modal span.upload {
	top: -2px !important;
	right: -2px !important;
}

.in-modal label[for='gdpr'] {
	color: $secondary-color !important;
	span {
		border: 1px solid $light-grey;
	}
}

.in-modal .error {
	color: $red;
}

.in-modal p {
	color: $black !important;
}

.uploaded-files {
	li {
		color: lighten(#203b77, 35%);
		border-bottom: 1px solid lighten(#203b77, 35%);
		display: flex;
		justify-content: space-between;
		padding: 3px 0;
		.remove-file {
			display: inline-block;
			cursor: pointer;
			background-color: darken($red, 15%);
			color: $white;
			padding: 2px 10px;
			font-size: rem(12px);
			@include border-radius(4px);
			@include transition(background-color 0.2s ease-in-out);
			&:hover {
				background-color: darken($red, 25%);
			}
		}
	}
}

button {
	max-width: 255px;
}
</style>
