<template>
	<div class="form-box">
		<h2 class="text-center mb-4">Zabudnuté heslo</h2>
		<form @submit.prevent="formSubmit($event)">
			<div class="form-group" :class="{ 'form-group-error': $v.email.$error }">
				<label for="email">Zadajte svoj e-mail.</label>
				<input id="email" v-model.trim="$v.email.$model" name="email" type="email" autofocus @input="delayTouch($v.email)" />
				<div v-if="!$v.email.required" class="error">Prosím vyplňte toto pole!</div>
				<div v-if="!$v.email.email" class="error">Nesprávny e-mail!</div>

				<small>Bude Vám zaslaný email s odkazom na obnovenie hesla.</small>
			</div>

			<div class="form-group text-center">
				<button type="submit" class="base-btn"><span>Obnoviť heslo</span></button>
			</div>
		</form>
	</div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
const touchMap = new WeakMap();

export default {
	name: 'ForgotPassword',

	data() {
		return {
			email: '',
		};
	},

	validations: {
		email: {
			required,
			email,
		},
	},

	methods: {
		/**
		 *** Show error messages with delay on input
		 *** @param $v
		 ***/
		delayTouch($v) {
			$v.$reset();
			if (touchMap.has($v)) {
				clearTimeout(touchMap.get($v));
			}
			touchMap.set($v, setTimeout($v.$touch, 1000));
		},

		/***
		 *** Form submit method
		 ***/

		async formSubmit(event) {
			this.$v.$touch();
			// Error block
			if (this.$v.$invalid) {
				this.$swal({
					title: 'Chyba',
					text: 'Prosím vyplňte všetky povinné údaje.',
					icon: 'error',
					background: '#ED3F26',
				});
			}
			// Success block
			else {
				await this.$axios
					.post('/v1/auth/forgot', {
						email: this.email,
					})
					.then((response) => {
						this.$swal({
							text: 'Aktivačný kód bol odoslaný na Váš e-mail.',
							icon: 'success',
							background: '#7DB212',
							toast: false,
							position: 'center',
						});
						this.$v.$reset();
						this.email = '';
						this.$router.push('/auth/reset');
					})
					.catch((err) => {
						this.$swal({
							title: err.response.status,
							text: 'Formulár sa nepodarilo odoslať.Vyskúšajte neskôr prosím.',
							icon: 'error',
							background: '#ED3F26',
							toast: false,
							position: 'center',
						});
					});
			}
		},
	},
};
</script>

<style lang="scss" scoped>
small {
	color: $secondary-color;
}
</style>
