<template>
	<div class="form-box position-relative login" :class="{ 'full-width': inCheckout }">
		<h2 class="text-center mb-4">Prihlásenie</h2>
		<form @submit.prevent="login($event)">
			<div class="form-group" :class="{ 'form-group-error': $v.email.$error }">
				<label for="email">E-mail*</label>
				<input id="email" v-model.trim="$v.email.$model" name="email" type="text" autofocus @input="delayTouch($v.email)" />
				<div v-if="!$v.email.required" class="error">Prosím zadajte Váš e-mail!</div>
				<div v-if="!$v.email.email" class="error">Nesprávny e-mail!</div>
			</div>

			<div class="form-group" :class="{ 'form-group-error': $v.password.$error }">
				<label for="password">Heslo*</label>
				<input id="password" v-model.trim="$v.password.$model" type="password" name="password" @input="delayTouch($v.password)" />
				<div v-if="!$v.password.required" class="error">Prosím zadajte Vaše heslo!</div>
				<NuxtLink to="/auth/forgot-password">Zabudli ste heslo?</NuxtLink>
			</div>

			<div class="form-group text-center">
				<button type="submit" class="base-btn"><span>Prihlásiť sa</span></button>
				<NuxtLink to="/registration">Ešte nemáte konto? Zaregistrujte sa!</NuxtLink>
			</div>
		</form>
		<loading :active.sync="isLoading" :can-cancel="false" :is-full-page="false"></loading>
	</div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

const touchMap = new WeakMap();

export default {
	name: 'Login',
	components: {
		Loading,
	},
	props: ['inCheckout', 'sendOrderTrigger'],
	data() {
		return {
			email: '',
			password: '',
			isLoading: false,
		};
	},

	validations: {
		email: {
			required,
			email,
		},
		password: {
			required,
		},
	},

	watch: {
		// Send order trigger
		sendOrderTrigger() {
			this.login();
		},
	},
	methods: {
		/**
		 *** Show error messages with delay on input
		 *** @param $v
		 ***/
		delayTouch($v) {
			$v.$reset();
			if (touchMap.has($v)) {
				clearTimeout(touchMap.get($v));
			}
			touchMap.set($v, setTimeout($v.$touch, 1000));
		},

		/***
		 *** Login method
		 ***/
		login(event) {
			this.$v.$touch();
			// Error block
			if (this.$v.$invalid) {
				this.$swal({
					title: 'Chyba',
					text: 'Prosím vyplňte všetky povinné údaje.',
					icon: 'error',
					background: '#ED3F26',
				});

				this.$nextTick(() => {
					const domRect = document.querySelector('.login .form-group-error').getBoundingClientRect();
					window.scrollTo(domRect.left + document.documentElement.scrollLeft - 115, domRect.top + document.documentElement.scrollTop - 115);
				});
			}
			// Success block
			else {
				this.isLoading = true;
				this.$auth
					.loginWith('local', {
						data: {
							login: this.email,
							password: this.password,
						},
					})
					.then((response) => {
						this.isLoading = false;
						this.$auth.setUser(response.data.data.user);

						this.$nuxt.$emit('user-logged-in');

						this.$swal({
							title: 'OK',
							text: 'Úspešne ste sa prihlásili.',
							icon: 'success',
							background: '#7DB212',
						});
					})
					.catch((e) => {
						this.isLoading = false;
						this.$swal({
							title: 'Chyba',
							text: 'Zlý e-mail alebo heslo.',
							icon: 'error',
							background: '#ED3F26',
							position: 'center',
							toast: false,
						});
					});
			}
		},
	},
};
</script>

<style lang="scss" scoped></style>
