<template>
	<div>
		<h5>Odoberajte náš newsletter</h5>
		<form @submit.prevent="formSubmit">
			<div class="form-group" :class="{ 'form-group-error': $v.email.$error }">
				<input v-model.trim="email" type="email" placeholder="e-mail" @input="delayTouch($v.email)" />
				<div v-if="!$v.email.required" class="error">Prosím zadajte Váš e-mail!</div>
				<div v-if="!$v.email.email" class="error">Nesprávny e-mail!</div>
			</div>

			<div class="form-group" :class="{ 'form-group-error': $v.gdpr.$error }">
				<input id="n-gdpr" v-model="$v.gdpr.$model" name="n-gdpr" type="checkbox" class="d-none" />
				<label for="n-gdpr">
					<span><fa icon="check" /></span>Súhlasím so <NuxtLink to="/gdpr">spracovaním osobných údajov</NuxtLink></label
				>
				<div v-if="!$v.gdpr.required" class="error">Prosím zaškrtnite toto políčko!</div>
			</div>

			<button type="submit">Odoberať</button>
		</form>
	</div>
</template>

<script>
import { required, email, sameAs } from 'vuelidate/lib/validators';

const touchMap = new WeakMap();

export default {
	name: 'Newsletter',
	data() {
		return {
			email: '',
			gdpr: false,
		};
	},

	validations: {
		email: {
			required,
			email,
		},

		gdpr: {
			sameAs: sameAs(() => true),
		},
	},

	methods: {
		/**
		 *** Show error messages with delay on input
		 *** @param $v
		 ***/
		delayTouch($v) {
			$v.$reset();
			if (touchMap.has($v)) {
				clearTimeout(touchMap.get($v));
			}
			touchMap.set($v, setTimeout($v.$touch, 1000));
		},

		async formSubmit() {
			this.$v.$touch();
			// Error block
			if (this.$v.$invalid) {
				this.submitStatus = 'ERROR';

				this.$swal({
					title: 'Chyba',
					text: 'Prosím vyplňte všetky povinné údaje.',
					icon: 'error',
					background: '#ED3F26',
				});
			}
			// Success block
			else {
				await this.$axios
					.post('https://jsonplaceholder.typicode.com/posts', {})
					.then((response) => {
						this.submitStatus = 'OK';
						this.$swal({
							title: this.submitStatus,
							text: 'Formulár bol odoslaný. Ďakujeme!',
							icon: 'success',
							background: '#7DB212',
							toast: false,
							position: 'center',
						});
						this.$v.$reset();
						this.email = '';
						this.gdpr = false;
						this.submitStatus = '';
					})
					.catch((err) => {
						this.$swal({
							title: err.response.status,
							text: 'Formulár sa nepodarilo odoslať.Vyskúšajte neskôr prosím.',
							icon: 'error',
							background: '#ED3F26',
							toast: false,
							position: 'center',
						});
					});
			}
		},
	},
};
</script>

<style lang="scss" scoped>
.error {
	margin-top: 0;
	margin-bottom: 5px;
}
button {
	background-color: $light-primary-color;
	color: $black;
	max-width: 160px;
	width: 100%;
	padding: 5px 0;
	margin-top: 15px;
	&:hover {
		background-color: $primary-color;
	}
}
input[type='checkbox'] {
	&:checked + label span {
		background-color: $light-primary-color;
		border-color: transparent;
		svg {
			display: block;
		}
	}
}

label {
	font-size: rem(14px);
	color: $white;
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	span {
		width: 15px;
		height: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 3px;
		@include border-radius(4px);
		border: 1px solid $white;
		svg {
			display: none;
			font-size: rem(12px);
		}
	}
	a {
		text-decoration: underline !important;
		color: $light-primary-color;
		&:hover {
			color: $light-primary-color;
		}
	}
}

input {
	width: 100%;
	border-bottom: 1px solid $light-primary-color;
	color: $light-primary-color;
	margin-bottom: 10px;
	&::placeholder {
		color: $light-primary-color;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: $light-primary-color;
	}

	&::-ms-input-placeholder {
		color: $light-primary-color;
	}
}

h5 {
	color: $white;
	font-size: rem(14px);
	font-weight: $semibold-font;
	margin-bottom: 10px;
}
</style>
