<template>
	<div class="form-box full-width profile">
		<form @submit.prevent="formSubmit()">
			<h4>Fakturačná adresa</h4>
			<div class="row">
				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.firstName.$error }">
						<label for="firstName">Meno*</label>
						<input id="firstName" v-model.trim="$v.firstName.$model" name="firstName" type="text" @input="delayTouch($v.firstName)" />
						<div v-if="!$v.firstName.required" class="error">Prosím zadajte Vaše meno!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.lastName.$error }">
						<label for="lastName">Priezvisko*</label>
						<input id="lastName" v-model.trim="$v.lastName.$model" name="lastName" type="text" @input="delayTouch($v.lastName)" />
						<div v-if="!$v.lastName.required" class="error">Prosím zadajte Vaše priezvisko!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group">
						<label for="email">E-mail* </label>
						<input id="email" v-model="email" disabled name="email" type="email" />
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.phone.$error }">
						<label for="phone">Telefón*</label>
						<input
							id="phone"
							v-model.trim="$v.phone.$model"
							name="phone"
							type="tel"
							placeholder="0948xxxxxx"
							@input="delayTouch($v.phone)"
						/>
						<div v-if="!$v.phone.required" class="error">Prosím zadajte Vaše tel. číslo!</div>
						<div v-if="!$v.phone.numeric || !$v.phone.minLength || !$v.phone.maxLength" class="error">
							Zlý formát tel. čísla! (Zadajte ju v tvare: 0948xxxxxx)
						</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.address.$error }">
						<label for="address">Adresa*</label>
						<input
							id="address"
							v-model.trim="$v.address.$model"
							name="address"
							type="text"
							placeholder="Ulica a číslo"
							@input="delayTouch($v.address)"
						/>

						<div v-if="!$v.address.required" class="error">Prosím zadajte Vašu adresu!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group">
						<label for="additionAddress">Adresa(doplnenie) </label>
						<input id="additionAddress" v-model="additionAddress" name="additionAddress" type="text" />
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.city.$error }">
						<label for="city">Mesto*</label>
						<input id="city" v-model.trim="$v.city.$model" name="city" type="text" @input="delayTouch($v.city)" />
						<div v-if="!$v.city.required" class="error">Prosím zadajte Vaše mesto!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.zipCode.$error }">
						<label for="zipCode">PSČ*</label>
						<input id="zipCode" v-model.trim="$v.zipCode.$model" name="zipCode" type="text" @input="delayTouch($v.zipCode)" />
						<div v-if="!$v.zipCode.required" class="error">Prosím zadajte Vaše PSČ!</div>
						<div v-if="!$v.zipCode.numeric || !$v.zipCode.minLength || !$v.zipCode.maxLength" class="error">
							Zlý formát PSČ! (zadajte ju bez medzier a písmen)
						</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="selectbox">
						<label>Krajina*</label>
						<v-select v-model="selectedCountry" :clearable="false" :searchable="false" label="name" :options="countries"></v-select>
					</div>
				</div>
			</div>

			<!-- buy as company -->
			<div class="form-group-chkbx">
				<input id="buyAsCompany" v-model="buyAsCompany" name="buyAsCompany" type="checkbox" @input="resetBuyAsCompany()" />
				<label for="buyAsCompany"
					><span><fa icon="check" /></span> Nákup na firmu</label
				>
			</div>

			<transition name="fade-up">
				<div v-if="buyAsCompany" class="row">
					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.companyName.$error }">
							<label for="companyName">Názov firmy*</label>
							<input
								id="companyName"
								v-model.trim="$v.companyName.$model"
								name="companyName"
								type="text"
								@input="delayTouch($v.companyName)"
							/>
							<div v-if="!$v.companyName.required" class="error">Prosím zadajte názov firmy!</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.ico.$error }">
							<label for="ico">IČO*</label>
							<input id="ico" v-model.trim="$v.ico.$model" name="ico" type="text" @input="delayTouch($v.ico)" />
							<div v-if="!$v.ico.required" class="error">Prosím zadajte Vaše IČO číslo!</div>
							<div v-if="!$v.ico.numeric || !$v.ico.minLength || !$v.ico.maxLength" class="error">
								Zlý formát IČO! (zadajte ju bez medzier)
							</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.dic.$error }">
							<label for="dic">DIČ*</label>
							<input id="dic" v-model.trim="$v.dic.$model" name="dic" type="text" @input="delayTouch($v.dic)" />
							<div v-if="!$v.dic.required" class="error">Prosím zadajte Vaše DIČ číslo!</div>
							<div v-if="!$v.dic.numeric || !$v.dic.minLength || !$v.dic.maxLength" class="error">
								Zlý formát DIČ! (zadajte ju bez medzier)
							</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.icdph.$error }">
							<label for="icdph">IČ DPH*</label>
							<input
								id="icdph"
								v-model.trim="$v.icdph.$model"
								name="icdph"
								type="text"
								class="text-uppercase"
								@input="delayTouch($v.icdph)"
							/>
							<div v-if="!$v.icdph.required" class="error">Prosím zadajte Vaše IČ DPH číslo!</div>
							<div v-if="!$v.icdph.minLength || !$v.icdph.maxLength" class="error">
								Zlý formát IČ DPH čísla! (zadajte ju bez medzier)
							</div>
						</div>
					</div>
				</div>
			</transition>

			<h4>Dodacia adresa</h4>

			<!-- ship address -->
			<div class="form-group-chkbx">
				<input id="shipAddressCheck" v-model="sameAddress" name="shipAddressCheck" type="checkbox" @input="resetSameAddress()" />
				<label for="shipAddressCheck"
					><span><fa icon="check" /></span> Dodacia adresa je rovnaká ako fakturačná</label
				>
			</div>

			<transition name="fade-up">
				<div class="row">
					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.shipAddress.$error }">
							<label for="shipAddress">Adresa*</label>
							<input
								id="shipAddress"
								v-model.trim="$v.shipAddress.$model"
								name="shipAddress"
								type="text"
								placeholder="Ulica a číslo"
								@input="delayTouch($v.shipAddress)"
							/>
							<div v-if="!$v.shipAddress.required" class="error">Prosím zadajte Vašu adresu!</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group">
							<label for="shipAdditionAddress">Adresa (doplnenie)</label>
							<input id="shipAdditionAddress" name="shipAdditionAddress" type="text" placeholder="číslo bytu a pod." />
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="selectbox">
							<label>Krajina*</label>
							<v-select
								v-model="selectedShipCountry"
								:clearable="false"
								:searchable="false"
								label="name"
								:options="countries"
							></v-select>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.shipCity.$error }">
							<label for="shipCity">Mesto*</label>
							<input id="shipCity" v-model.trim="$v.shipCity.$model" name="shipCity" type="text" @input="delayTouch($v.shipCity)" />
							<div v-if="!$v.shipCity.required" class="error">Prosím zadajte Vaše mesto!</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.shipZipCode.$error }">
							<label for="shipZipCode">PSČ*</label>
							<input
								id="shipZipCode"
								v-model.trim="$v.shipZipCode.$model"
								name="shipZipCode"
								type="text"
								@input="delayTouch($v.shipZipCode)"
							/>
							<div v-if="!$v.shipZipCode.required" class="error">Prosím zadajte Vaše PSČ!</div>
							<div v-if="!$v.shipZipCode.numeric || !$v.shipZipCode.minLength || !$v.shipZipCode.maxLength" class="error">
								Zlý formát PSČ! (zadajte ju bez medzier a písmen)
							</div>
						</div>
					</div>
				</div>
			</transition>

			<h4>Zmena hesla</h4>

			<div class="row">
				<div class="col-60 col-md-30">
					<div class="form-group" :class="{ 'form-group-error': $v.newPassword.$error }">
						<label for="newPassword">Nové heslo</label>
						<input
							id="newPassword"
							v-model.trim="$v.newPassword.$model"
							type="password"
							name="newPassword"
							@input="delayTouch($v.newPassword)"
						/>
						<div
							v-if="newPassword && (!$v.newPassword.hasNum || !$v.newPassword.hasUppercase || !$v.newPassword.minLength)"
							class="error"
						>
							Heslo musí mať minimálne 6 znakov a musí obsahovať jedno veľké písmeno a číslo.
						</div>
					</div>
				</div>

				<div class="col-60 col-md-30">
					<div class="form-group" :class="{ 'form-group-error': $v.confirmPassword.$error }">
						<label for="confirmPassword">Zopakujte svoje nové heslo</label>
						<input
							id="confirmPassword"
							v-model.trim="$v.confirmPassword.$model"
							type="password"
							name="confirmPassword"
							@input="delayTouch($v.confirmPassword)"
						/>
						<div v-if="!$v.confirmPassword.sameAs || !$v.confirmPassword.required" class="error">Heslo sa nezhoduje!</div>
					</div>
				</div>
			</div>

			<button type="button" class="base-btn mb-3" @click="updateUserData()"><span>Uložiť údaje</span></button>

			<div v-if="inCheckout" class="row">
				<div class="col-60">
					<div class="form-group">
						<label for="message">Poznámka k objednávke</label>
						<textarea id="message" v-model="message" name="message"></textarea>
					</div>
				</div>
			</div>

			<!-- SHIP METHODS -->
			<CheckoutShipMethods v-if="inCheckout" />

			<!-- PAYMENT METHODS -->
			<CheckoutPaymentMethods v-if="inCheckout && $store.state.cart.cart.shippingId" />

			<!-- PROMO CODE -->
			<CheckoutPromoCode v-if="inCheckout" />

			<div class="form-group" :class="{ 'form-group-error': $v.gdpr.$error }">
				<input id="profileGdpr" v-model="$v.gdpr.$model" name="profileGdpr" type="checkbox" />
				<label for="profileGdpr">
					<span><fa icon="check" /></span>Súhlasím so
					<NuxtLink to="/ako-objednat">spracovaním osobných údajov</NuxtLink>
				</label>
				<div v-if="!$v.gdpr.required" class="error">Prosím zaškrtnite toto políčko!</div>
			</div>

			<div class="form-group" :class="{ 'form-group-error': $v.businessConditions.$error }">
				<input id="profileBusinessConditions" v-model="$v.businessConditions.$model" name="profileBusinessConditions" type="checkbox" />
				<label for="profileBusinessConditions">
					<span><fa icon="check" /></span>Súhlasím s
					<NuxtLink to="/ako-objednat/obchodne-podmienky">obchodnými podmienkami</NuxtLink>
				</label>
				<div v-if="!$v.businessConditions.required" class="error">Prosím zaškrtnite toto políčko!</div>
			</div>
		</form>
	</div>
</template>

<script>
import { required, numeric, minLength, maxLength, requiredIf, sameAs } from 'vuelidate/lib/validators';
const touchMap = new WeakMap();

export default {
	name: 'Profile',
	props: ['inCheckout', 'promoCode', 'sendOrderTrigger'],
	data() {
		return {
			firstName: '',
			lastName: '',
			email: '',
			phone: '',
			address: '',
			additionAddress: '',
			city: '',
			zipCode: '',
			ico: '',
			dic: '',
			icdph: '',
			shipAddress: '',
			shipAdditionAddress: '',
			shipCity: '',
			shipZipCode: '',
			companyName: '',
			message: '',
			sameAddress: false,
			buyAsCompany: false,
			selectedCountry: {},
			selectedShipCountry: {},
			countries: [],
			gdpr: false,
			businessConditions: false,
			newPassword: '',
			confirmPassword: '',
		};
	},

	watch: {
		// Send order trigger
		sendOrderTrigger() {
			this.formSubmit();
		},

		// Same address watcher - true/false
		sameAddress(val) {
			if (val) {
				this.shipAddress = this.address;
				this.shipAdditionAddress = this.additionAddress;
				this.shipCity = this.city;
				this.shipZipCode = this.zipCode;
				this.selectedShipCountry = this.selectedCountry;
			} else {
				this.shipAddress = this.$auth.user.user_address.shipping[0].address1;
				this.shipAdditionAddress = this.$auth.user.user_address.shipping[0].address2;
				this.shipCity = this.$auth.user.user_address.shipping[0].city;
				this.shipZipCode = this.$auth.user.user_address.shipping[0].postcode;
			}
		},
	},

	created() {
		// Set authenticated user data
		this.firstName = this.$auth.user.general.firstName;
		this.lastName = this.$auth.user.general.lastName;
		this.email = this.$auth.user.general.email;
		this.phone = this.$auth.user.general.phone;
		this.address = this.$auth.user.user_address.billing[0].address1;
		this.additionAddress = this.$auth.user.user_address.billing[0].address2;
		this.city = this.$auth.user.user_address.billing[0].city;
		this.zipCode = this.$auth.user.user_address.billing[0].postcode;
		this.selectedCountry = this.$auth.user.user_address.billing[0].country;
		this.companyName = this.$auth.user.company.name;
		this.ico = this.$auth.user.company.ico;
		this.dic = this.$auth.user.company.dic;
		this.icdph = this.$auth.user.company.icdph;
		this.shipAddress = this.$auth.user.user_address.shipping[0].address1;
		this.shipAdditionAddress = this.$auth.user.user_address.shipping[0].address2;
		this.selectedShipCountry = this.$auth.user.user_address.shipping[0].country;
		this.shipCity = this.$auth.user.user_address.shipping[0].city;
		this.shipZipCode = this.$auth.user.user_address.shipping[0].postcode;

		// Fetch countries
		this.fetchCountries();
	},

	validations: {
		firstName: {
			required,
		},

		lastName: {
			required,
		},

		phone: {
			required,
			numeric,
			minLength: minLength(10),
			maxLength: maxLength(10),
		},

		address: {
			required,
		},

		city: {
			required,
		},

		zipCode: {
			required,
			numeric,
			minLength: minLength(5),
			maxLength: maxLength(5),
		},

		companyName: {
			required: requiredIf(function () {
				return this.buyAsCompany;
			}),
		},

		ico: {
			required: requiredIf(function () {
				return this.buyAsCompany;
			}),
			numeric,
			minLength: minLength(8),
			maxLength: maxLength(8),
		},

		dic: {
			required: requiredIf(function () {
				return this.buyAsCompany;
			}),
			numeric,
			minLength: minLength(10),
			maxLength: maxLength(10),
		},

		icdph: {
			required: requiredIf(function () {
				return this.buyAsCompany;
			}),
			minLength: minLength(12),
			maxLength: maxLength(12),
		},

		shipAddress: {
			required: requiredIf(function () {
				return !this.sameAddress;
			}),
		},

		shipCity: {
			required: requiredIf(function () {
				return !this.sameAddress;
			}),
		},
		shipZipCode: {
			required: requiredIf(function () {
				return !this.sameAddress;
			}),
			numeric,
			minLength: minLength(5),
			maxLength: maxLength(5),
		},
		gdpr: {
			sameAs: sameAs(() => true),
		},
		businessConditions: {
			sameAs: sameAs(() => true),
		},

		newPassword: {
			minLength: minLength(6),
			hasUppercase: function (value) {
				if (value) {
					return !!value.match(/\d/g);
				} else {
					return true;
				}
			},

			hasNum: function (value) {
				if (value) {
					return !!value.match(/\d/g);
				} else {
					return true;
				}
			},
			// hasUppercase: (value) => !!value.match(/[A-Z]/g),
			// hasNum: (value) => !!value.match(/\d/g),
		},

		confirmPassword: {
			required: requiredIf(function () {
				return this.newPassword;
			}),
			sameAs: sameAs(function () {
				return this.newPassword;
			}),
		},
	},

	methods: {
		/**
		 *** Show error messages with delay on input
		 *** @param $v
		 ***/
		delayTouch($v) {
			$v.$reset();
			if (touchMap.has($v)) {
				clearTimeout(touchMap.get($v));
			}
			touchMap.set($v, setTimeout($v.$touch, 1000));
		},

		// Reset buy as company validation
		resetBuyAsCompany() {
			this.$v.companyName.$reset();
			this.$v.ico.$reset();
			this.$v.dic.$reset();
			this.$v.icdph.$reset();
		},

		// Reset same address validation
		resetSameAddress() {
			this.$v.shipAddress.$reset();
			this.$v.shipCity.$reset();
			this.$v.shipZipCode.$reset();
		},

		/***
		 *** Form submit method
		 ***/

		async formSubmit(event) {
			// Send order
			this.$v.$touch();
			// Error block
			if (this.$v.$invalid) {
				this.$swal({
					title: 'Chyba',
					text: 'Prosím vyplňte všetky povinné údaje.',
					icon: 'error',
					background: '#ED3F26',
				});

				this.$nextTick(() => {
					const domRect = document.querySelector('.profile .form-group-error').getBoundingClientRect();
					window.scrollTo(domRect.left + document.documentElement.scrollLeft - 115, domRect.top + document.documentElement.scrollTop - 115);
				});
			}
			// Success block
			else if (this.$store.state.cart.cart.shippingId && this.$store.state.cart.cart.paymentId) {
				await this.$axios
					.post('v1/order/create', {
						user: {
							email: this.email,
							firstName: this.firstName,
							lastName: this.lastName,
							phone: this.phone,
						},
						billing_address: {
							address1: this.address,
							address2: this.additionAddress,
							postcode: this.zipCode,
							city: this.city,
							country: this.selectedCountry.id,
						},
						shipping_address: {
							address1: this.shipAddress,
							address2: this.shipAdditionAddress,
							postcode: this.shipZipCode,
							city: this.shipCity,
							country: this.selectedShipCountry.id,
						},

						company: {
							companyName: this.companyName,
							ico: this.ico,
							dic: this.dic,
							icdph: this.icdph,
						},
						order_notice: this.message,
					})
					.then((response) => {
						if (response.data.status === true) {
							this.$router.push('/');
							this.$swal({
								title: 'OK',
								text: 'Objednávka bola úspešne odoslaná. Ďakujeme!',
								icon: 'success',
								background: '#7DB212',
								toast: false,
								position: 'center',
							});
							this.$v.$reset();

							this.gdpr = false;
							this.businessConditions = false;

							if (this.$props.promoCode) {
								this.$nuxt.$emit('remove-promo-code', '');
							}
						} else {
							this.$swal({
								title: 'Chyba',
								text: response.data.message,
								icon: 'error',
								background: '#ED3F26',
								toast: false,
								position: 'center',
							});
						}
					})
					.catch((err) => {
						this.$swal({
							title: err.response.status,
							text: 'Objednávku sa nepodarilo odoslať.Vyskúšajte neskôr prosím.',
							icon: 'error',
							background: '#ED3F26',
							toast: false,
							position: 'center',
						});
					});
			} else {
				this.$swal({
					title: 'Chyba',
					text: 'Prosím zvoľte dopravnú a platobnú metódu.',
					icon: 'error',
					background: '#ED3F26',
				});
			}
		},

		/**
		 * Save user data
		 * @param event
		 * @returns {Promise<void>}
		 */
		async updateUserData() {
			this.$v.$touch();
			// Error block
			if (this.$v.$invalid) {
				this.$swal({
					title: 'Chyba',
					text: 'Prosím vyplňte všetky povinné údaje.',
					icon: 'error',
					background: '#ED3F26',
				});

				this.$nextTick(() => {
					const domRect = document.querySelector('.profile .form-group-error').getBoundingClientRect();
					window.scrollTo(domRect.left + document.documentElement.scrollLeft - 115, domRect.top + document.documentElement.scrollTop - 115);
				});
			}
			// Success block
			else {
				await this.$axios
					.put('/v1/auth/update', {
						firstName: this.firstName,
						lastName: this.lastName,
						email: this.email,
						phone: this.phone,
						address: this.address,
						additionAddress: this.additionAddress,
						country: this.selectedCountry.id,
						city: this.city,
						zipCode: this.zipCode,
						companyName: this.companyName,
						ico: this.ico,
						dic: this.dic,
						icdph: this.icdph,
						shipAddress: this.shipAddress,
						shipAdditionAddress: this.shipAdditionAddress,
						shipCountry: this.selectedShipCountry.id,
						shipCity: this.shipCity,
						shipZipCode: this.shipZipCode,
						password: this.newPassword,
						password_confirmation: this.confirmPassword,
					})
					.then(() => {
						this.$swal({
							title: 'OK',
							text: 'Nové údaje boli úspešne uložené.',
							icon: 'success',
							background: '#7DB212',
						});
						this.$v.$reset();

						this.gdpr = false;
						this.businessConditions = false;
						this.newPassword = '';
						this.confirmPassword = '';

						// Set user data
						this.$auth.setUser(this.$auth.fetchUser().then((response) => response.data.data.user));
					})
					.catch((err) => {
						this.$swal({
							title: err.response.status,
							text: 'Údaje sa nepodarilo uložiť.Vyskúšajte neskôr prosím.',
							icon: 'error',
							background: '#ED3F26',
							toast: false,
							position: 'center',
						});
					});
			}
		},

		/**
		 * Fetch countries
		 */

		async fetchCountries() {
			this.countries = await this.$axios
				.get('v1/location/country')
				.then((response) => {
					return response.data.data;
				})
				.catch((e) => {
					return e;
				});
		},
	},
};
</script>

<style lang="scss" scoped>
label[for='profileGdpr'],
label[for='profileBusinessConditions'] {
	color: $secondary-color !important;
	span {
		border: 1px solid $light-grey;
		top: 8px !important;
	}
}

.base-btn {
	max-width: 230px;
}
input:disabled,
label[for='email'] {
	background-color: $light-grey !important;
}
h4 {
	font-weight: $bold-font;
	font-size: rem(20px);
	margin-bottom: 15px;
}
</style>
