<template>
	<div class="form-box">
		<h2 class="text-center mb-4">Resetovanie hesla</h2>
		<form @submit.prevent="reset($event)">
			<div class="form-group" :class="{ 'form-group-error': $v.email.$error }">
				<label for="resetEmail">E-mail*</label>
				<input id="resetEmail" v-model.trim="$v.email.$model" name="resetEmail" type="text" autofocus @input="delayTouch($v.email)" />
				<div v-if="!$v.email.required" class="error">Prosím zadajte Váš e-mail s ktorým ste zaregistrovali!</div>
				<div v-if="!$v.email.email" class="error">Nesprávny e-mail!</div>
			</div>

			<div class="form-group" :class="{ 'form-group-error': $v.code.$error }">
				<label for="code">Aktivačný kód*</label>
				<input id="code" v-model.number="$v.code.$model" type="text" name="code" @input="delayTouch($v.code)" />
				<div v-if="!$v.code.required" class="error">Prosím zadajte Váš aktivačný kód!</div>
				<div v-if="!$v.code.numeric || !$v.code.minLength || !$v.code.maxLength" class="error">
					Aktivačný kód je nesprávny! Musí to byť 6-miestny číselný kód.
				</div>
			</div>

			<div class="form-group" :class="{ 'form-group-error': $v.password.$error }">
				<label for="password">Heslo*</label>
				<input id="password" v-model.trim="$v.password.$model" type="password" name="password" @input="delayTouch($v.password)" />
				<div v-if="!$v.password.error" class="error">Heslo musí mať minimálne 6 znakov a musí obsahovať jedno veľké písmeno a číslo.</div>
			</div>

			<div class="form-group" :class="{ 'form-group-error': $v.confirmPassword.$error }">
				<label for="confirmPassword">Potvrdenie hesla*</label>
				<input
					id="confirmPassword"
					v-model.trim="$v.confirmPassword.$model"
					type="password"
					name="confirmPassword"
					@input="delayTouch($v.confirmPassword)"
				/>
				<div v-if="!$v.confirmPassword.sameAs || !$v.confirmPassword.required" class="error">Heslo sa nezhoduje!</div>
			</div>

			<div class="form-group text-center">
				<button type="submit" class="base-btn"><span>Resetovať heslo</span></button>
			</div>
		</form>
	</div>
</template>

<script>
import { required, email, numeric, minLength, maxLength, sameAs } from 'vuelidate/lib/validators';
const touchMap = new WeakMap();

export default {
	name: 'FormResetPassword',
	data() {
		return {
			email: '',
			code: null,
			password: '',
			confirmPassword: '',
		};
	},

	head() {
		return {
			title: 'Resetovanie hesla',
		};
	},

	validations: {
		email: {
			required,
			email,
		},
		code: {
			required,
			numeric,
			minLength: minLength(6),
			maxLength: maxLength(6),
		},

		password: {
			required,
			minLength: minLength(6),
			hasUppercase: (value) => !!value.match(/[A-Z]/g),
			hasNum: (value) => !!value.match(/\d/g),
		},

		confirmPassword: {
			required,
			sameAs: sameAs(function () {
				return this.password;
			}),
		},
	},

	methods: {
		/**
		 *** Show error messages with delay on input
		 *** @param $v
		 ***/
		delayTouch($v) {
			$v.$reset();
			if (touchMap.has($v)) {
				clearTimeout(touchMap.get($v));
			}
			touchMap.set($v, setTimeout($v.$touch, 1000));
		},

		/**
		 * Sumbit reset
		 */

		async reset() {
			this.$v.$touch();

			// If form is invalid
			if (this.$v.$invalid) {
				this.$swal({
					title: 'Chyba',
					text: 'Prosím vyplňte všetky povinné údaje.',
					icon: 'error',
					background: '#ED3F26',
				});
			} else {
				await this.$axios
					.post('/v1/auth/reset', {
						email: this.email,
						code: this.code,
						password: this.password,
						password_confirmation: this.confirmPassword,
					})
					.then(() => {
						this.$swal({
							title: 'OK',
							text: 'Heslo bolo úspešne uložené. Môžete sa prihlásiť.',
							icon: 'success',
							background: '#7DB212',
							position: 'center',
							toast: false,
						});
						this.$router.push('/login');
					})
					.catch((e) => {
						this.$swal({
							title: e.response.status,
							text: 'Heslo sa nepodarilo uložiť. Vyskúšajte znova.',
							icon: 'error',
							background: '#ED3F26',
							position: 'center',
							toast: false,
						});
					});
			}
		},
	},
};
</script>

<style lang="scss" scoped></style>
