<template>
	<div class="form-box full-width">
		<h5 class="text-center mb-4">Nákupom bez registrácie prichádzate o možné výhody</h5>

		<form @submit.prevent="formSubmit()" class="without-registration">
			<div class="row">
				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.firstName.$error }">
						<label for="firstName">Meno*</label>
						<input id="firstName" v-model.trim="$v.firstName.$model" name="firstName" type="text" @input="delayTouch($v.firstName)" />
						<div v-if="!$v.firstName.required" class="error">Prosím zadajte Vaše meno!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.lastName.$error }">
						<label for="lastName">Priezvisko*</label>
						<input id="lastName" v-model.trim="$v.lastName.$model" name="lastName" type="text" @input="delayTouch($v.lastName)" />
						<div v-if="!$v.firstName.required" class="error">Prosím zadajte Vaše priezvisko!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.email.$error }">
						<label for="email">E-mail*</label>
						<input id="email" v-model.trim="$v.email.$model" name="email" type="email" @input="delayTouch($v.email)" />
						<div v-if="!$v.email.required" class="error">Prosím zadajte Váš e-mail!</div>
						<div v-if="!$v.email.email" class="error">Nesprávny e-mail!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.phone.$error }">
						<label for="phone">Telefón*</label>
						<input
							id="phone"
							v-model.trim="$v.phone.$model"
							name="phone"
							type="tel"
							placeholder="0948xxxxxx"
							@input="delayTouch($v.phone)"
						/>
						<div v-if="!$v.phone.required" class="error">Prosím zadajte Vaše tel. číslo!</div>
						<div v-if="!$v.phone.numeric || !$v.phone.minLength || !$v.phone.maxLength" class="error">
							Zlý formát tel. čísla! (Zadajte ju v tvare: 0948xxxxxx)
						</div>
					</div>
				</div>
			</div>

			<h4>Fakturačná adresa</h4>

			<div class="row">
				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.address.$error }">
						<label for="address">Adresa*</label>
						<input
							id="address"
							v-model.trim="$v.address.$model"
							name="address"
							type="text"
							placeholder="Ulica a číslo"
							@input="delayTouch($v.address)"
						/>

						<div v-if="!$v.address.required" class="error">Prosím zadajte Vašu adresu!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group">
						<label for="additionAddress">Adresa (doplnenie)</label>
						<input id="additionAddress" v-model="additionAddress" name="additionAddress" type="text" placeholder="číslo bytu a pod." />
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="selectbox">
						<label>Krajina*</label>
						<v-select v-model="selectedCountry" :clearable="false" :searchable="false" label="name" :options="countries"></v-select>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.city.$error }">
						<label for="city">Mesto*</label>
						<input id="city" v-model.trim="$v.city.$model" name="city" type="text" @input="delayTouch($v.city)" />
						<div v-if="!$v.city.required" class="error">Prosím zadajte Vaše mesto!</div>
					</div>
				</div>

				<div class="col-60 col-lg-30">
					<div class="form-group" :class="{ 'form-group-error': $v.zipCode.$error }">
						<label for="zipCode">PSČ*</label>
						<input id="zipCode" v-model.trim="$v.zipCode.$model" name="zipCode" type="text" @input="delayTouch($v.zipCode)" />
						<div v-if="!$v.zipCode.required" class="error">Prosím zadajte Vaše PSČ!</div>
						<div v-if="!$v.zipCode.numeric || !$v.zipCode.minLength || !$v.zipCode.maxLength" class="error">
							Zlý formát PSČ! (zadajte ju bez medzier a písmen)
						</div>
					</div>
				</div>
			</div>

			<!-- buy as company -->
			<div class="form-group-chkbx">
				<input id="buyAsCompany" v-model="buyAsCompany" name="buyAsCompany" type="checkbox" @input="resetBuyAsCompany()" />
				<label for="buyAsCompany"
					><span><fa icon="check" /></span> Nákup na firmu</label
				>
			</div>

			<transition name="fade-up">
				<div v-if="buyAsCompany" class="row">
					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.companyName.$error }">
							<label for="companyName">Názov firmy*</label>
							<input
								id="companyName"
								v-model.trim="$v.companyName.$model"
								name="companyName"
								type="text"
								@input="delayTouch($v.companyName)"
							/>
							<div v-if="!$v.companyName.required" class="error">Prosím zadajte názov firmy!</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.ico.$error }">
							<label for="ico">IČO*</label>
							<input id="ico" v-model.trim="$v.ico.$model" name="ico" type="text" @input="delayTouch($v.ico)" />
							<div v-if="!$v.ico.required" class="error">Prosím zadajte Vaše IČO číslo!</div>
							<div v-if="!$v.ico.numeric || !$v.ico.minLength || !$v.ico.maxLength" class="error">
								Zlý formát IČO! (zadajte ju bez medzier)
							</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.dic.$error }">
							<label for="dic">DIČ*</label>
							<input id="dic" v-model.trim="$v.dic.$model" name="dic" type="text" @input="delayTouch($v.dic)" />
							<div v-if="!$v.dic.required" class="error">Prosím zadajte Vaše DIČ číslo!</div>
							<div v-if="!$v.dic.numeric || !$v.dic.minLength || !$v.dic.maxLength" class="error">
								Zlý formát DIČ! (zadajte ju bez medzier)
							</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.icdph.$error }">
							<label for="icdph">IČ DPH*</label>
							<input
								id="icdph"
								v-model.trim="$v.icdph.$model"
								name="icdph"
								type="text"
								class="text-uppercase"
								@input="delayTouch($v.icdph)"
							/>
							<div v-if="!$v.icdph.required" class="error">Prosím zadajte Vaše IČ DPH číslo!</div>
							<div v-if="!$v.icdph.minLength || !$v.icdph.maxLength" class="error">
								Zlý formát IČ DPH čísla! (zadajte ju bez medzier)
							</div>
						</div>
					</div>
				</div>
			</transition>

			<!-- ship address -->
			<div class="form-group-chkbx">
				<input id="shipAddressCheck" v-model="sameAddress" name="shipAddressCheck" type="checkbox" @input="resetSameAddress()" />
				<label for="shipAddressCheck"
					><span><fa icon="check" /></span> Dodacia adresa je rovnaká ako fakturačná</label
				>
			</div>

			<transition name="fade-up">
				<div v-if="!sameAddress" class="row">
					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.shipAddress.$error }">
							<label for="shipAddress">Adresa*</label>
							<input
								id="shipAddress"
								v-model.trim="$v.shipAddress.$model"
								name="shipAddress"
								type="text"
								placeholder="Ulica a číslo"
								@input="delayTouch($v.shipAddress)"
							/>
							<div v-if="!$v.shipAddress.required" class="error">Prosím zadajte Vašu adresu!</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group">
							<label for="shipAdditionAddress">Adresa (doplnenie)</label>
							<input id="shipAdditionAddress" name="shipAdditionAddress" type="text" placeholder="číslo bytu a pod." />
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="selectbox">
							<label>Krajina*</label>
							<v-select
								v-model="selectedShipCountry"
								:clearable="false"
								:searchable="false"
								label="name"
								:options="countries"
							></v-select>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.shipCity.$error }">
							<label for="shipCity">Mesto*</label>
							<input id="shipCity" v-model.trim="$v.shipCity.$model" name="shipCity" type="text" @input="delayTouch($v.shipCity)" />
							<div v-if="!$v.shipCity.required" class="error">Prosím zadajte Vaše mesto!</div>
						</div>
					</div>

					<div class="col-60 col-lg-30">
						<div class="form-group" :class="{ 'form-group-error': $v.shipZipCode.$error }">
							<label for="shipZipCode">PSČ*</label>
							<input
								id="shipZipCode"
								v-model.trim="$v.shipZipCode.$model"
								name="shipZipCode"
								type="text"
								@input="delayTouch($v.shipZipCode)"
							/>
							<div v-if="!$v.shipZipCode.required" class="error">Prosím zadajte Vaše PSČ!</div>
							<div v-if="!$v.shipZipCode.numeric || !$v.shipZipCode.minLength || !$v.shipZipCode.maxLength" class="error">
								Zlý formát PSČ! (zadajte ju bez medzier a písmen)
							</div>
						</div>
					</div>
				</div>
			</transition>

			<div class="row">
				<div class="col-60">
					<div class="form-group">
						<label for="message">Poznámka k objednávke</label>
						<textarea id="message" v-model="message" name="message"></textarea>
					</div>
				</div>
			</div>

			<!-- SHIP METHODS -->
			<CheckoutShipMethods />

			<!-- PAYMENT METHODS -->
			<CheckoutPaymentMethods v-if="$store.state.cart.cart.shippingId" />

			<!-- PROMO CODE -->
			<CheckoutPromoCode />

			<div class="form-group" :class="{ 'form-group-error': $v.gdpr.$error }">
				<input id="gdpr" v-model="$v.gdpr.$model" name="gdpr" type="checkbox" />
				<label for="gdpr">
					<span><fa icon="check" /></span>Súhlasím so
					<NuxtLink to="/ako-objednat/gdpr">spracovaním osobných údajov</NuxtLink>
				</label>
				<div v-if="!$v.gdpr.required" class="error">Prosím zaškrtnite toto políčko!</div>
			</div>

			<div class="form-group" :class="{ 'form-group-error': $v.businessConditions.$error }">
				<input id="businessConditions" v-model="$v.businessConditions.$model" name="businessConditions" type="checkbox" />
				<label for="businessConditions">
					<span><fa icon="check" /></span>Súhlasím s
					<NuxtLink to="/ako-objednat/obchodne-podmienky">obchodnými podmienkami</NuxtLink>
				</label>
				<div v-if="!$v.businessConditions.required" class="error">Prosím zaškrtnite toto políčko!</div>
			</div>
		</form>
	</div>
</template>

<script>
import { required, email, numeric, minLength, maxLength, requiredIf, sameAs } from 'vuelidate/lib/validators';

import 'vue-select/dist/vue-select.css';
const touchMap = new WeakMap();

export default {
	name: 'FormWithoutRegistration',
	props: ['promoCode', 'sendOrderTrigger'],
	data() {
		return {
			firstName: '',
			lastName: '',
			email: '',
			phone: '',
			address: '',
			additionAddress: '',
			city: '',
			zipCode: '',
			companyName: '',
			ico: '',
			dic: '',
			icdph: '',
			shipAddress: '',
			shipAdditionAddress: '',
			shipCity: '',
			shipZipCode: '',
			buyAsCompany: false,
			sameAddress: true,
			selectedCountry: {},
			selectedShipCountry: {},
			message: '',
			countries: [],
			gdpr: false,
			businessConditions: false,
		};
	},

	watch: {
		sendOrderTrigger() {
			this.formSubmit();
		},

		buyAsCompany(val) {
			if (!val) {
				this.companyName = '';
				this.ico = '';
				this.dic = '';
				this.icdph = '';
			}
		},

		// Same address watcher - true/false
		sameAddress(val) {
			if (val) {
				this.shipAddress = this.address;
				this.shipAdditionAddress = this.additionAddress;
				this.shipCity = this.city;
				this.shipZipCode = this.zipCode;
				this.selectedShipCountry = this.selectedCountry;
			} else {
				this.shipAddress = '';
				this.shipAdditionAddress = '';
				this.shipCity = '';
				this.shipZipCode = '';
			}
		},

		// Watch billing address and set this data to ship address
		address(val) {
			this.shipAddress = val;
		},

		additionAddress(val) {
			this.shipAdditionAddress = val;
		},

		selectedCountry(val) {
			this.selectedShipCountry = val;
		},

		city(val) {
			this.shipCity = val;
		},

		zipCode(val) {
			this.shipZipCode = val;
		},
	},

	created() {
		this.fetchCountries();
	},

	validations: {
		firstName: {
			required,
		},

		lastName: {
			required,
		},

		email: {
			required,
			email,
		},

		phone: {
			required,
			numeric,
			minLength: minLength(10),
			maxLength: maxLength(10),
		},

		address: {
			required,
		},

		city: {
			required,
		},

		zipCode: {
			required,
			numeric,
			minLength: minLength(5),
			maxLength: maxLength(5),
		},

		companyName: {
			required: requiredIf(function () {
				return this.buyAsCompany;
			}),
		},

		ico: {
			required: requiredIf(function () {
				return this.buyAsCompany;
			}),
			numeric,
			minLength: minLength(8),
			maxLength: maxLength(8),
		},

		dic: {
			required: requiredIf(function () {
				return this.buyAsCompany;
			}),
			numeric,
			minLength: minLength(10),
			maxLength: maxLength(10),
		},

		icdph: {
			required: requiredIf(function () {
				return this.buyAsCompany;
			}),
			minLength: minLength(12),
			maxLength: maxLength(12),
		},

		shipAddress: {
			required: requiredIf(function () {
				return !this.sameAddress;
			}),
		},

		shipCity: {
			required: requiredIf(function () {
				return !this.sameAddress;
			}),
		},
		shipZipCode: {
			required: requiredIf(function () {
				return !this.sameAddress;
			}),
			numeric,
			minLength: minLength(5),
			maxLength: maxLength(5),
		},
		gdpr: {
			sameAs: sameAs(() => true),
		},

		businessConditions: {
			sameAs: sameAs(() => true),
		},
	},

	methods: {
		/**
		 *** Show error messages with delay on input
		 *** @param $v
		 ***/
		delayTouch($v) {
			$v.$reset();
			if (touchMap.has($v)) {
				clearTimeout(touchMap.get($v));
			}
			touchMap.set($v, setTimeout($v.$touch, 1000));
		},

		// Reset buy as company validation
		resetBuyAsCompany() {
			this.$v.companyName.$reset();
			this.$v.ico.$reset();
			this.$v.dic.$reset();
			this.$v.icdph.$reset();
		},

		// Reset same address validation
		resetSameAddress() {
			this.$v.shipAddress.$reset();
			this.$v.shipCity.$reset();
			this.$v.shipZipCode.$reset();
		},

		/***
		 *** Send order method
		 ***/

		async formSubmit(event) {
			// Error block
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.$nextTick(() => {
					const domRect = document.querySelector('.without-registration .form-group-error').getBoundingClientRect();
					window.scrollTo(domRect.left + document.documentElement.scrollLeft - 115, domRect.top + document.documentElement.scrollTop - 115);
				});

				this.$swal({
					title: 'Chyba',
					text: 'Prosím vyplňte všetky povinné údaje.',
					icon: 'error',
					background: '#ED3F26',
				});
			}
			// Success block
			else if (this.$store.state.cart.cart.shippingId && this.$store.state.cart.cart.paymentId) {
				await this.$axios
					.post('/v1/order/create', {
						user: {
							email: this.email,
							firstName: this.firstName,
							lastName: this.lastName,
							phone: this.phone,
							is_guest: true,
						},
						billing_address: {
							address1: this.address,
							address2: this.additionAddress,
							postcode: this.zipCode,
							city: this.city,
							country: this.selectedCountry.id,
						},
						shipping_address: {
							address1: this.shipAddress,
							address2: this.shipAdditionAddress,
							postcode: this.shipZipCode,
							city: this.shipCity,
							country: this.selectedShipCountry.id,
						},

						company: {
							companyName: this.companyName,
							ico: this.ico,
							dic: this.dic,
							icdph: this.icdph,
						},

						order_notice: this.message,
					})
					.then((response) => {

						if (response.data.status === true) {
							// Fetch cart data after order send
							this.$store.dispatch('cart/fetchCartItems');
							this.$router.push('/');

							this.$swal({
								title: 'OK',
								text: 'Objednávka bola úspešne odoslaná. Ďakujeme!',
								icon: 'success',
								background: '#7DB212',
								toast: false,
								position: 'center',
							});
							this.$v.$reset();
							this.firstName = '';
							this.lastName = '';
							this.email = '';
							this.phone = '';
							this.address = '';
							this.city = '';
							this.zipCode = '';
							this.selectedCountry = {};
							this.message = '';

							// Reset buy as company data
							if (this.buyAsCompany) {
								this.companyName = '';
								this.ico = '';
								this.dic = '';
								this.icdph = '';
							}

							// Reset same address data
							if (!this.sameAddress) {
								this.shipAddress = '';
								this.shipCity = '';
								this.shipZipCode = '';
							}

							this.gdpr = false;
							this.businessConditions = false;
							if (this.$props.promoCode) {
								this.$nuxt.$emit('remove-promo-code', '');
							}
						} else  {
							this.$swal({
								title: 'Chyba',
								text: response.data.message,
								icon: 'error',
								background: '#ED3F26',
								toast: false,
								position: 'center',
							});
						}
					})
					.catch((err) => {
						this.$swal({
							title: err.response.status,
							text: 'Objednávku sa nepodarilo odoslať.Vyskúšajte neskôr prosím.',
							icon: 'error',
							background: '#ED3F26',
							toast: false,
							position: 'center',
						});
					});
			} else {
				this.$swal({
					title: 'Chyba',
					text: 'Prosím zvoľte dopravnú a platobnú metódu.',
					icon: 'error',
					background: '#ED3F26',
				});
			}
		},

		/**
		 * Fetch countries
		 */

		async fetchCountries() {
			this.countries = await this.$axios
				.get('v1/location/country')
				.then((response) => {
					const defaultCountry = response.data.data.find((obj) => {
						return obj.is_pinned === 1;
					});
					this.selectedCountry = defaultCountry;
					this.selectedShipCountry = defaultCountry;

					return response.data.data;
				})
				.catch((e) => {
					return e;
				});
		},
	},
};
</script>

<style lang="scss" scoped>
.base-btn {
	max-width: 230px;
}
label[for='gdpr'],
label[for='businessConditions'] {
	color: $secondary-color !important;
	span {
		border: 1px solid $light-grey;
		top: 8px !important;
	}
}

h4 {
	font-size: rem(20px);
	font-weight: $bold-font;
	margin-top: 20px;
}

h5 {
	color: darken($light-grey, 30%);
	font-size: rem(17px);
	font-weight: $light-font;
}
</style>
