<template>
	<section class="custom-print">
		<div class="container">
			<div class="row text-center mb-5">
				<h2>Vytlačíme váš vlastný motív</h2>
				<p>
					Milí priatelia, nenašli ste medzi našimi návrhmi to, čo ste hľadali? Ak dávate prednosť originalite a chcete si vytlačiť vlastný
					vizuál, radi pre vás zabezpečíme individuálnu tlač. Do správy, prosíme, nezabudnite uviesť požadovaný rozmer, v ktorom chcete
					tlačiť váš návrh a tiež materiál, z ktorého vyhotovíme vaše dielo. Nezabúdajte, že kvalita a veľkosť súboru, ktorý nám zašlete,
					rozhoduje o kvalite finálneho produktu. Z technických dôvodov môžeme prostredníctvom formulára nižšie prijímať iba súbory s
					celkovou veľkosťou 4MB. Ak je Vaša príloha väčšia ako 4MB, nahrajte ju na cloudové úložisko (napríklad Google Drive,
					wetransfer.com, uschovna.cz, uloz.to a pod) a zašlite nám na ňu odkaz spolu so správou, rozmermi a vybraným materiálom.
					Potrebujete poradiť? Neváhajte nás kontaktovať.
				</p>
			</div>

			<div class="row">
				<div class="col-60 col-lg-30 text-center mb-5 mb-lg-0">
					<img src="~assets/img/custom-print-img.jpg" class="img-fluid" alt="Logo impresspic" />
				</div>

				<div class="col-60 col-lg-30">
					<FormCustomPrint />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'CustomPrint',
};
</script>

<style lang="scss" scoped>
.custom-print {
	background-color: #114464;
	img {
		@include box-shadows(0 0 7px 5px rgba($black, 0.2));
	}
	h2 {
		color: $white;
	}

	p {
		color: $white;
		margin-top: 20px;
		font-weight: $light-font;
		letter-spacing: 1px;
	}
}
</style>
