<template>
	<div class="discount-box d-flex flex-column flex-lg-row">
		<div class="left d-flex justify-content-center align-items-center">
			<h5>20%</h5>
		</div>

		<div class="right d-flex align-items-center flex-column flex-lg-row text-center text-lg-start">
			<p>
				Nevšedná detská izba? Zadaj v objednávke promo kód a získaj zľavu na obrazy v kategóriách
				<NuxtLink to="/produkty/kategoria/priroda">Príroda</NuxtLink> a
				<NuxtLink to="/produkty/kategoria/pre-deti">Pre deti!</NuxtLink>
			</p>
			<span>Promo kód: nevsedna_izba</span>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DiscountBox',
};
</script>

<style lang="scss" scoped>
.discount-box {
	position: relative;
	.left {
		flex: 0 0 160px;
		background-color: $secondary-color;
		@include media-breakpoint-down(lg) {
			flex: 0 0 100%;
			padding: 20px 0;
		}
		h5 {
			color: $white;
			@include fluid-font($min_width, $max_width, 40px, 60px);
			font-weight: $thin-font;
			font-family: $secondary-font;
		}
	}

	.right {
		background-color: $light-secondary-color;
		padding: 30px;
		p {
			color: $white;
			@include fluid-font($min_width, $max_width, 18px, 24px);
			font-family: $secondary-font;
			font-weight: $light-font;
			a {
				text-decoration: underline !important;
				color: $light-primary-color;
			}
		}

		span {
			display: inline-block;
			min-width: 255px;
			height: 54px;
			text-align: center;
			line-height: 54px;
			background-color: #f2ffff;
			font-size: rem(14px);
			font-weight: $medium-font;
			margin-left: 35px;
			letter-spacing: 2px;
			@include media-breakpoint-down(lg) {
				margin-left: 0;
				margin-top: 15px;
			}
		}
	}
}

.home .discount-box {
	&:before {
		content: ' ';
		width: 9999px;
		height: 100%;
		position: absolute;
		right: 100%;
		background-color: $secondary-color;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	&:after {
		content: ' ';
		width: 9999px;
		height: 100%;
		position: absolute;
		left: 100%;
		background-color: $light-secondary-color;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}
</style>
