<template>
	<client-only placeholder="Načítava sa...">
		<agile ref="carousel" :nav-buttons="false" :autoplay="true" :dots="false" :fade="true" :autoplay-speed="3000" :speed="2500">
			<div class="slide">
				<div class="hp-banner">
					<img src="~assets/img/hp-banner1.jpg" alt="Banner fotka" />
				</div>
			</div>

			<div class="slide">
				<div class="hp-banner">
					<img src="~assets/img/hp-banner2.jpg" alt="Banner fotka" />
				</div>
			</div>
		</agile>
	</client-only>
</template>

<script>
import { VueAgile } from 'vue-agile';

export default {
	name: 'HomeBanner',

	components: {
		agile: VueAgile,
	},
};
</script>

<style lang="scss" scoped>
.hp-banner {
	width: 100%;
	height: 0;
	padding: 19% 0;
	position: relative;
	@include media-breakpoint-down(sm) {
		padding: 33% 0;
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;
	}
}
</style>
