<template>
	<div class="info-box">
		<span><fa icon="exclamation" /></span>
		<p>POZOR: Pri nákupe nad 120€ doprava ZADARMO</p>
	</div>
</template>

<script>
export default {
	name: 'InfoBox',
};
</script>

<style lang="scss" scoped>
.info-box {
	max-width: 263px;
	background-color: $secondary-color;
	position: relative;
	padding: 30px 15px 15px;
	margin-top: 50px;
	@include media-breakpoint-down(lg) {
		margin: 50px auto 20px auto;
	}
	span {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 50%;
		top: -15px;
		@include transform(translateX(-50%));
		background-color: $primary-color;
		@include border-radius(50%);
		svg {
			color: $white;
			font-size: rem(13px);
		}
	}
	p {
		color: $white;
		font-size: rem(14px);
	}
}
</style>
