<template>
	<ul class="list-unstyled d-flex justify-content-center flex-column flex-md-row align-items-center">
		<li><NuxtLink to="/ako-objednat">Ako objednať</NuxtLink></li>
		<li><NuxtLink to="/ako-objednat/gdpr">Ochrana osobných údajov</NuxtLink></li>
		<li><NuxtLink to="/ako-objednat/obchodne-podmienky">Obchodné podmienky</NuxtLink></li>
	</ul>
</template>

<script>
export default {
	name: 'Links',
};
</script>

<style lang="scss" scoped>
li {
	border-right: 1px solid darken($light-grey, 10%);
	&:last-child {
		border-right: none;
	}
	@include media-breakpoint-down(md) {
		border-right: none;
	}
}
a {
	display: inline-block;
	padding: 0 25px;
	font-size: rem(14px);
	color: $black;
	@include media-breakpoint-down(md) {
		padding: 0;
	}
	&:hover {
		color: $primary-color;
		text-decoration: underline !important;
	}
}
</style>
