<template>
	<footer>
		<div class="container">
			<img src="~assets/img/logo-white.png" class="mx-auto d-block" alt="Logo" />

			<div class="row mt-5">
				<div class="col-60 col-lg-20 d-flex justify-content-between">
					<ul class="d-flex flex-column nav list-unstyled text-uppercase white-c">
						<li><NuxtLink to="/o-nas">O nás</NuxtLink></li>
						<li><NuxtLink to="/ako-objednat">Ako objednať</NuxtLink></li>
						<li><NuxtLink to="/blog">Blog</NuxtLink></li>
						<li><NuxtLink to="/kontakt">Kontakt</NuxtLink></li>
					</ul>

					<ul class="d-flex flex-column nav list-unstyled white-c">
						<li><NuxtLink to="/ako-objednat/obchodne-podmienky">Obchodné podmienky</NuxtLink></li>
						<li><NuxtLink to="/ako-objednat/gdpr">GDPR</NuxtLink></li>
						<li><NuxtLink to="/ako-objednat/doprava-a-platba">Doprava a platba</NuxtLink></li>
						<li><NuxtLink to="/ako-objednat/materialy">Materiály</NuxtLink></li>
						<li><NuxtLink to="/ako-objednat/navody">Návody</NuxtLink></li>
					</ul>
				</div>

				<div class="col-60 col-lg-40">
					<div class="footer-products">
						<h5>produkty</h5>
						<ul class="product-lists list-unstyled">
							<li v-for="item in 12" :key="item"><NuxtLink to="/">BluePrint</NuxtLink></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row mt-80">
				<div class="col-60 col-lg-20">
					<FormNewsletter />
				</div>

				<div class="col-60 col-lg-40 d-flex justify-content-between mt-5 mt-lg-0">
					<div>
						<p>impresspic s.r.o &vert; Bratislavská 2 &vert; 900 21 Svätý Jur &vert; SK</p>
						<ul class="c-info list-unstyled mt-3">
							<li>
								<a href="tel: +421 911 579 549"><fa icon="phone-alt" /> +421 911 579 549</a>
							</li>
							<li>
								<a href="mailto: info@impresspic.com"><fa icon="envelope" /> info@impresspic.com </a>
							</li>
						</ul>
					</div>

					<div>
						<ul class="list-unstyled social d-flex">
							<li>
								<a href="https://www.facebook.com/impresspic.dekortlac/" target="_blank"><fa :icon="['fab', 'facebook-f']" /></a>
							</li>

							<li>
								<a href="https://www.instagram.com/impresspic_sk/" target="_blank"><fa :icon="['fab', 'instagram']" /></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright mt-5">
			<div class="container text-center">
				<p>&copy; 2019-{{ currentYear }} <a href="https://imagons.com/" target="_blank">imagons</a> - impresspic s.r.o</p>
			</div>
		</div>

		<span class="scrolltop" @click="scrollTop"><fa icon="angle-up" /></span>
	</footer>
</template>

<script>
export default {
	name: 'MainFooter',
	data() {
		return {
			currentYear: new Date().getFullYear(),
		};
	},
	methods: {
		scrollTop() {
			window.scrollTo({ top: 0, behavior: 'smooth' });
		},
	},
};
</script>

<style lang="scss" scoped>
.copyright p {
	font-size: rem(12px);
	a {
		color: $light-primary-color;
	}
}
.social svg {
	margin-left: 10px;
	color: $white;
	&:hover {
		color: $light-primary-color;
	}
}
.c-info {
	a {
		color: $light-primary-color;
		font-size: rem(14px);
	}
	svg {
		color: $white;
		margin-right: 5px;
	}
}
p {
	color: $white;
	font-size: rem(14px);
}

.scrolltop {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 65px;
	@include border-radius(50%);
	background-color: $light-primary-color;
	position: absolute;
	right: 10%;
	top: -32.5px;
	@include transition(background-color 0.2s ease-in-out);
	@include media-breakpoint-down(md) {
		right: 50%;
		@include transform(translateX(50%));
		width: 45px;
		height: 45px;
		top: -22.5px;
	}
	svg {
		font-size: rem(28px);
	}
	&:hover {
		background-color: $primary-color;
	}
}

.mt-80 {
	margin-top: 80px;
}

.footer-products {
	margin-left: 40px;
	padding-left: 40px;
	border-left: 1px solid $light-primary-color;
	height: 100%;
	@include media-breakpoint-down(lg) {
		margin-left: 0;
		padding-left: 0;
		border-left: none;
		border-top: 1px solid $light-primary-color;
		padding-top: 30px;
		margin-top: 30px;
	}
	.product-lists {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 20px 10px;
		a {
			font-size: rem(14px);
			color: $light-primary-color;
		}
	}
}

h5 {
	color: $white;
	text-transform: uppercase;
	font-size: rem(14px);
	font-weight: $semibold-font;
	margin-bottom: 20px;
}
footer {
	background-color: $secondary-color;
	padding: 60px 0 30px 0;
	position: relative;
	.nav {
		li {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: $white;
			font-size: rem(14px);
			&:hover {
				color: $light-primary-color;
			}
		}
	}
}
</style>
