<template>
	<header class="fixed-top">
		<div class="header-top">
			<div class="container d-flex justify-content-end">
				<a href="https://impresspic.cz" target="_blank">Česky <fa icon="globe-europe" /></a>
			</div>
		</div>

		<div class="main-header">
			<div class="container d-flex align-items-center justify-content-between">
				<div class="logo" @click="menuIsActive = false">
					<NuxtLink to="/"><img src="~assets/img/logo.svg" alt="Logo" /></NuxtLink>
				</div>

				<nav class="d-flex align-items-center" :class="{ opened: menuIsActive }">
					<ul class="menu list-unstyled d-flex">
						<li><NuxtLink to="/o-nas">O nás</NuxtLink></li>
						<li><NuxtLink to="/blog">Blog</NuxtLink></li>
						<li><NuxtLink to="/ako-objednat">Ako objednať</NuxtLink></li>
						<li><NuxtLink to="/produkty">Produkty</NuxtLink></li>
						<li><NuxtLink to="/individualna-tlac">Vlastný motív</NuxtLink></li>
						<li><NuxtLink to="/kontakt">Kontakt</NuxtLink></li>
					</ul>

					<ul class="list-unstyled social d-flex d-lg-none flex-row mt-3">
						<li>
							<a href="https://www.facebook.com/impresspic.dekortlac/" target="_blank"><fa :icon="['fab', 'facebook-f']" /></a>
						</li>

						<li>
							<a href="https://www.instagram.com/impresspic_sk/" target="_blank"><fa :icon="['fab', 'instagram']" /></a>
						</li>
					</ul>
				</nav>

				<ul class="list-unstyled social d-none d-lg-flex">
					<li>
						<a href="https://www.facebook.com/impresspic.dekortlac/" target="_blank"><fa :icon="['fab', 'facebook-f']" /></a>
					</li>

					<li>
						<a href="https://www.instagram.com/impresspic_sk/" target="_blank"><fa :icon="['fab', 'instagram']" /></a>
					</li>
				</ul>

				<ul class="list-unstyled action-btns d-flex align-items-center">
					<li>
						<button type="button" @click="$nuxt.$emit('open-search')"><fa icon="search" /></button>
					</li>

					<li>
						<NuxtLink to="/user"><fa :icon="['far', 'user']" /></NuxtLink>
					</li>

					<li class="cart">
						<NuxtLink to="/order/cart"><small>{{cart.totalPriceWithTax | toCurrency('SK')}}</small><fa icon="shopping-cart" /><span>{{ cartItems }}</span></NuxtLink>
					</li>

					<li class="menu-opener d-lg-none">
						<button type="button" :class="{ opened: menuIsActive }" @click="menuIsActive = !menuIsActive">
							<svg width="40" height="40" viewBox="0 0 100 100">
								<path
									class="line line1"
									d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
								/>
								<path class="line line2" d="M 20,50 H 80" />
								<path
									class="line line3"
									d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
								/>
							</svg>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</header>
</template>

<script>
import {mapGetters,mapState} from "vuex";

export default {
	data() {
		return {
			menuIsActive: false,
		};
	},

	computed: {
		...mapGetters("cart",['cartItems']),
		...mapState("cart",['cart'])
	},

	mounted() {
		const navBar = document.querySelector('header');

		// Close menu if menu item is clicked
		const navItems = Array.from(document.querySelectorAll('nav ul li '));
		navItems.forEach((item) => {
			item.addEventListener('click', () => {
				this.menuIsActive = false;
			});
		});

		// Resize header after scroll
		document.addEventListener('scroll', function () {
			if (window.scrollY > 0) {
				navBar.classList.add('smaller');
			} else {
				navBar.classList.remove('smaller');
			}
		});
	},

	created() {
		this.$store.dispatch('cart/fetchCartItems');
	}
};
</script>

<style lang="scss" scoped>
header {
	background-color: $body-bg;
	@include transition(all 0.2s ease-in-out);
	@include media-breakpoint-down(lg) {
		background-color: $white;
		@include box-shadows(0 0 7px 0 rgba($black, 0.1));
	}
	&.smaller {
		background-color: $white;
		@include box-shadows(0 0 7px 0 rgba($black, 0.1));
		@include media-breakpoint-up(lg) {
			.main-header {
				.logo img {
					width: 100px;
				}
			}
		}
	}
}

nav {
	@include media-breakpoint-down(lg) {
		position: fixed;
		top: 109px;
		left: 0;
		right: 0;
		width: 100%;
		height: calc(100vh - 109px);
		background-color: lighten($secondary-color, 15%);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-20px);
		@include transition(all 0.3s ease-in-out);
		&.opened {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			.social,
			.menu {
				opacity: 1;
				transform: translateX(0);
			}
		}
		@include media-breakpoint-down(sm) {
			top: 90px;
			height: calc(100vh - 90px);
		}
		ul {
			flex-direction: column;
			align-items: center;
			li {
				margin-right: 0 !important;
				a {
					color: $white !important;
				}
				&:last-child a {
					margin-right: 0 !important;
				}
			}

			&.menu {
				opacity: 0;
				@include transition(all 0.3s ease-in-out);
				transform: translateX(20px);
			}
			&.social {
				@include transition(all 0.3s ease-in-out);
				opacity: 0;
				transform: translateX(-20px);
			}
		}
	}
}

.menu-opener {
	margin: 5px 0 0 10px;
}

.line {
	fill: none;
	stroke: black;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}
.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}
.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}
.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.logo {
	@include media-breakpoint-up(sm) {
		width: 160px;
	}
}

.logo img {
	width: 160px;
	@include transition(all 0.2s ease-in-out);
	@include media-breakpoint-between(sm, lg) {
		width: 120px;
	}
	@include media-breakpoint-down(sm) {
		width: 100px;
	}
}

.action-btns {
	li.cart {
		margin-left: 10px;
		a {
			position: relative;
		}
		small {
			color: $black;
			font-size: rem(12px);
			font-weight: $semibold-font;
			display: inline-block;
			margin-right: 3px;
			position: relative;
			top: 2px;
		}

		span {
			display: block;
			position: absolute;
			bottom: -8px;
			width: 16px;
			height: 16px;
			background-color: $secondary-color;
			@include border-radius(50%);
			right: -8px;
			color: $light-primary-color;
			font-size: rem(10px);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	a:hover svg,
	button:hover svg {
		color: $primary-color;
	}
	svg {
		color: $light-primary-color;
	}
}

.social {
	a {
		color: $light-primary-color;
		margin-right: 10px;
		&:hover {
			color: $primary-color;
		}
	}
}
.main-header {
	padding-bottom: 25px;

	@include media-breakpoint-down(sm) {
		padding-bottom: 20px;
	}
	nav {
		li {
			margin-right: 50px;
			&:last-child {
				margin-right: 0;
			}
			@include media-breakpoint-down(xl) {
				margin-right: 25px;
			}
		}

		a {
			display: block;
			padding: 2px;
			color: $black;
			&.nuxt-link-active,
			&:hover {
				color: $light-primary-color;
			}
		}
	}
}

.header-top {
	padding: 5px 0;
	@include media-breakpoint-down(sm) {
		padding-bottom: 0;
	}
	a {
		color: $primary-color;
		font-size: rem(12px);
		display: flex;
		align-items: center;
		svg {
			margin-left: 5px;
		}
		&:hover svg {
			color: $light-primary-color;
		}
	}
}
</style>
