<template>
	<div class="mt-0">
		<h2>Možnosti materiálov</h2>

		<div class="mb-5">
			<h3><span>obrazy</span></h3>
			<h3>PRÉMIOVÉ PLÁTNO S OBSAHOM BAVLNY</h3>
			<p>plátno s obsahom bavlny vhodné na tlač fotografie aj umeleckých diel</p>
			<p>Zloženie: 65% bavlna, 35% polyester</p>
			<p>Gramáž: 353g/m2</p>
		</div>

		<div class="mb-5">
			<h3><span>fotografie a plagáty</span></h3>
			<h3>PAPIER S POVRCHOM SATIN S VYSOKOU KVALITOU</h3>
			<p>Papier vhodný na tlač plagátov – povrch satin</p>
			<p>Gramáž: 220g/m2</p>
		</div>

		<div class="mb-5">
			<h3><span>tapety</span></h3>
			<h3>VLIESOVÁ TAPETA S HLADKÝM POVRCHOM VHODNÁ NA HLADKÉ A JEMNE ŠTRUKTÚROVANÉ POVRCHY</h3>
			<p>Odolná voči poškriabaniu a roztrhnutiu. Certifikovaná podľa DIN EN 13501-1-spomaľujúca horenie.</p>
			<p>
				Bez obsahu PVC, ťažkých kovov, formaldehydu, sklenených vlákien a rozpúšťadiel. K aplikácii je potrebné lepidlo na tapety. Lepidlo je
				súčasťou balenia a aplikuje sa priamo na stenu a nie na tapetu.
			</p>
			<p>Použitie : Steny s hladkým a jemne štrukturovaným povrchom.</p>
			<p>Gramáž 150g/m2</p>
			<p>Hrúbka 270 μm (mikrónov)</p>
			<p>
				Tapeta Vám bude dodaná vo viacerých kusoch-pásoch (pri najmenších rozmeroch to môže iba jeden kus) Šírka pásov závisí od veľkosti
				tapety. Najčastejšie sú to pásy od 80cm do 130cm.
			</p>
		</div>

		<div class="mb-5">
			<h3>SAMOLEPIACA TAPETA HLADKÁ VHODNÁ NA HLADKÉ A JEMNE ŠTRUKTÚROVANÉ POVRCHY</h3>
			<p>
				Predstavuje riešenie nemeckého výrobcu pre aplikáciu tapiet a fólií v interiéroch aj exteriéroch. Je vhodná na hladké aj štruktúrované
				povrchy, alebo nábytok. V prípade lepenia na štruktúrovanú/zrnitú stenu, alebo v exteriéri, je potrebné fóliu po nalepení nahriať
				teplovzdušnou pištoľou a pritlačiť valčekom na to určeným. Jej povrch ma hodvábny nádych a hladký matný povrch. Pre účinnú a dlhodobú
				aplikáciu výrobca ako lepiacu plochu používa Hi-tech lepidlo.
			</p>

			<p>Použitie : Interiér, exteriér, hladké aj štruktúrované povrchy, nábytok, kuchynské zásteny, sklo, atď.</p>
			<p>Hrúbka 100 μm (mikrónov)</p>
			<p>
				Tapeta Vám bude dodaná vo viacerých kusoch-pásoch ( pri najmenších rozmeroch to môže iba jeden kus) Šírka pásov závisí od veľkosti
				tapety. Najčastejšie sú to pásy od 80cm do 130cm.
			</p>
		</div>

		<div>
			<h3>SAMOLEPIACA TAPETA S IMITÁCIOU PLÁTNA VHODNÁ NA HLADKÉ AJ ŠTRUKTÚROVANÉ POVRCHY (ZRNITÉ)</h3>
			<p>Textúrovaný povrch umeleckého plátna, ktorý je ideálny na reprodukciu fotografii a umeleckých diel.</p>
			<p>
				Tapeta so štruktúrou plátna je matné hrubšie médium s obsahom PVC dostupné s vysoko lepivým lepidlom pre optimálnu priľnavosť na
				všetkých povrchoch.
			</p>
			<p>Použitie : Na hladké a jemne štruktúrované (zrnité) povrchy.</p>
			<p>Gramáž 220g/m2</p>
			<p>Hrúbka 330 μm (mikrónov)</p>
			<p>
				Tapeta Vám bude dodaná vo viacerých kusoch-pásoch (pri najmenších rozmeroch to môže iba jeden kus) Šírka pásov závisí od veľkosti
				tapety. Najčastejšie sú to pásy od 80cm do 130cm.
			</p>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MaterialsSection',
};
</script>

<style lang="scss" scoped>
h3 {
	font-weight: $extrabold-font;
	@include fluid-font($min_width, $max_width, 18px, 22px);
	margin-top: 10px;
	span {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: $light-font;
	}
}
</style>
