<template>
	<transition appear name="fade-up">
		<div class="search-backdrop" @click="$nuxt.$emit('close-search')">
			<div class="search" @click.stop>
				<form @submit.prevent="search">
					<input v-model="searchQuery" type="search" placeholder="Hľadať..." ref="search" v-focus />
					<button type="submit"><fa icon="search" /></button>
				</form>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	name: 'SearchBar',
	data() {
		return {
			searchQuery: '',
		};
	},
	directives: {
		focus: {
			inserted: function (el) {
				el.focus();
			},
		},
	},

	methods: {
		search() {
			if (this.searchQuery) {
				this.$router.push({ path: '/search-results', query: { search: this.searchQuery } });
				this.$nuxt.$emit('close-search');
			}
		},
	},
};
</script>

<style lang="scss" scoped>
button {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	&:hover svg {
		color: $primary-color;
	}
}
input {
	width: 100%;
	height: 100%;
	padding: 0 60px 0 20px;
	&[type='search']::-webkit-search-decoration,
	&[type='search']::-webkit-search-cancel-button,
	&[type='search']::-webkit-search-results-button,
	&[type='search']::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}
}
.search {
	max-width: 962px;
	height: 60px;
	background-color: $white;
	margin: 30px auto;
	position: relative;
	@include media-breakpoint-down(lg) {
		margin: 30px 15px;
	}
	form {
		width: 100%;
		height: 100%;
	}
}
.search-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 9999;
}
</style>
