<template>
	<div>
		<h3>Spôsob platby</h3>
		<div class="row mb-2">
			<div v-for="paymentMethod in paymentMethods" :key="paymentMethod.id" class="col-60 col-lg-30">
				<div class="big-radio-btn">
					<label
						:for="paymentMethod.property[0].id"
						:class="{ active: paymentId === paymentMethod.property[0].id }"
						@click="$store.dispatch('cart/addPaymentMethod', paymentMethod.property[0].id)"
					>
						<div class="d-flex align-items-center">
							<span><fa icon="check" /></span>
							<p>{{ paymentMethod.property[0].name }}</p>
						</div>
						<strong>+ {{ paymentMethod.property[0].price_value | toCurrency('SK') }}</strong>
					</label>
					<input :id="paymentMethod.property[0].id" type="radio" :name="paymentMethod.property[0].id" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'PaymentMethods',
	computed: {
		...mapGetters('cart', ['paymentMethods', 'paymentId']),
	},
};
</script>

<style lang="scss" scoped>
h3 {
	display: block;
	color: $white;
	background-color: $primary-color;
	font-weight: $light-font;
	font-size: rem(20px);
	padding: 5px 10px;
	margin-bottom: 20px;
}
</style>
