<template>
	<div class="mb-4">
		<h3>Promokód</h3>
		<div class="promocode mb-2 d-flex">
			<input v-model="promoCode" :disabled="disabled === 1" type="text" ref="promocode" />
			<button type="button" :disabled="disabled === 1" @click="addPromoCode()">Použiť kód</button>
		</div>

		<button v-if="disabled === 1" type="button" class="remove-promocode" @click="removePromoCode()">Vymazať promokód</button>
	</div>
</template>

<script>
export default {
	name: 'PromoCode',
	data() {
		return {
			promoCodes: ['nevsedna_izba', 'krasna_obyvacka'],
			promoCode: '',
			disabled: 0,
		};
	},

	created() {
		this.$nuxt.$on('remove-promo-code', ($event) => {
			this.promoCode = $event;
			this.disabled = 0;
		});
	},

	methods: {
		addPromoCode() {
			if (this.promoCode) {
				if (this.promoCodes.includes(this.promoCode)) {
					this.disabled = 1;

					this.$nuxt.$emit('add-promo-code', this.promoCode);

					this.$swal({
						title: 'OK',
						text: 'Promokód bol pridaný.',
						icon: 'success',
						background: '#7DB212',
					});
				} else {
					this.promoCode = '';
					this.$refs.promocode.focus();

					this.$swal({
						title: 'Chyba',
						text: 'Neplatný promokód',
						icon: 'error',
						background: '#ED3F26',
					});
				}
			}
		},

		removePromoCode() {
			this.disabled = 0;
			this.promoCode = '';
			this.$nuxt.$emit('remove-promo-code', this.promoCode);
		},
	},
};
</script>

<style lang="scss" scoped>
.promocode {
	position: relative;
}

.remove-promocode {
	color: $white;
	background-color: darken($red, 15%);
	@include border-radius(4px);
	&:hover {
		background-color: darken($red, 5%);
	}
}

button:not(.remove-promocode) {
	position: absolute;
	left: 149px;
	width: 100px;
	height: 45px;
	background-color: $light-primary-color;
	&:not(&:disabled):hover {
		background-color: $primary-color;
	}
}

input {
	width: 150px;
	height: 45px;
	border: 1px solid $light-grey;
	padding: 0 5px;
	text-align: center;
	&:disabled {
		color: darken($light-grey, 15%);
	}
}

h3 {
	font-size: rem(24px);
	font-weight: $bold-font;
	margin-bottom: 10px;
}
</style>
