<template>
	<div>
		<h3>Spôsob dopravy</h3>
		<div class="row mb-2">
			<div v-for="shipMethod in shippingMethods" :key="shipMethod.id" class="col-60 col-lg-30">
				<div class="big-radio-btn">
					<label
						:for="shipMethod.id"
						:class="{ active: shippingId === shipMethod.id }"
						@click="$store.dispatch('cart/addShippingMethod', shipMethod.id)"
					>
						<div class="d-flex align-items-center">
							<span><fa icon="check" /></span>
							<p>{{ shipMethod.name }}</p>
						</div>
						<strong>+ {{ shipMethod.price_value | toCurrency('SK') }}</strong>
					</label>
					<input :id="shipMethod.id" type="radio" :name="shipMethod.id" />
				</div>
			</div>
		</div>

		<transition name="fade-up">
			<div v-if="shippingId === 4" class="info mb-3">
				<span><fa icon="exclamation" /></span>
				<p>{{ shippingMethods.find((obj) => obj.code === 'osobny-odber').preview_text }}</p>
			</div>
		</transition>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'ShipMethods',

	computed: {
		...mapGetters('cart', ['shippingMethods', 'shippingId']),
	},
};
</script>

<style lang="scss" scoped>
.info {
	display: flex;
	align-items: center;
	background-color: #0e8dc6;
	padding: 10px;
	p {
		color: $white;
	}

	span {
		width: 30px;
		height: 30px;
		display: flex;
		flex: 0 0 30px;
		align-items: center;
		justify-content: center;
		background-color: $white;
		@include border-radius(50%);
		margin-right: 10px;
		svg {
			color: #0e8dc6;
			font-size: rem(16px);
		}
	}
}

h3 {
	display: block;
	color: $white;
	background-color: $primary-color;
	font-weight: $light-font;
	font-size: rem(20px);
	padding: 5px 10px;
	margin-bottom: 20px;
}
</style>
