<template>
	<div class="mt-5 mt-lg-0">
		<h2 class="text-center">Profil</h2>
		<FormProfile />
	</div>
</template>

<script>
export default {
	name: 'User',
	layout: 'userPage',
	middleware: 'auth',
	transition: 'fade-left',
	head() {
		return {
			title: 'Profil',
		};
	},
};
</script>

<style lang="scss" scoped></style>
