<template>
	<div class="mt-5 mt-lg-0">
		<h2 class="text-center">Moje objednávky</h2>
		<div v-if="orders.length > 0" class="orders">
			<UserOrder
				v-for="order in orders"
				:key="order.order_number"
				:order-number="order.order_number"
				:order-status="order.status"
				:created-at="order.created_at"
				:order-items="order.order_position"
				:order-shipping-type="order.shipping_type"
				:order-payment-method="order.payment_method"
				:order-total-price="order.order_total"
			/>

			<div class="text-center mt-5">
				<Pagination v-model="page" :per-page="10" :records="orders.length" :options="options" />
			</div>
		</div>

		<div class="text-center mt-5" v-if="!isLoading && orders.length < 1">
			<h3>Nie sú vytvorené žiadne objednávky</h3>
		</div>

		<loading :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>
	</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	name: 'Orders',
	layout: 'userPage',
	transition: 'fade-left',
	components: {
		Loading,
	},
	data() {
		return {
			page: 1,
			orders: [],
			isLoading: false,
			options: {
				chunk: 4,
				texts: {
					count: 'Stránka {page} z {pages}',
				},
			},
		};
	},
	head() {
		return {
			title: 'Objednávky',
		};
	},

	created() {
		this.fetchOrders();
	},

	methods: {
		async fetchOrders() {
			this.isLoading = true;
			await this.$axios
				.get('/v1/auth/info')
				.then((response) => {
					this.orders = response.data.data.user.orders;
					this.isLoading = false;
				})
				.catch((e) => {
					this.isLoading = false;
				});
		},
	},
};
</script>

<style scoped></style>
