<template>
	<div class="mt-5 mt-lg-0">
		<h2 class="text-center">Wishlist</h2>
		<div v-if="products.length" class="row">
			<div v-for="product in products" :key="product.id" class="col-60 col-sm-30 col-lg-20 mt-4">
				<ProductSmallCard
					:name="product.name"
					:slug="product.slug"
					:preview-img="product.preview_image ? product.preview_image.path : 'https://via.placeholder.com/1000x500'"
					:price-from="getLowestPrice(product.offers)"
					:product-id="product.id"
					:in-wishlist="true"
				/>
			</div>
		</div>

		<div v-if="!isLoading && products.length < 1" class="text-center mt-5">
			<h3>V zozname prianí sa nenachádzajú žiadne produkty.</h3>
		</div>

		<loading :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>
	</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	name: 'Wishlist',
	layout: 'userPage',
	transition: 'fade-left',
	components: {
		Loading,
	},
	data() {
		return {
			products: [],
			isLoading: false,
		};
	},
	head() {
		return {
			title: 'Wishlist',
		};
	},

	created() {
		// Fetch products in wishlist
		this.fetchProductsInWishlist();

		// If product removed from wishlist
		this.$nuxt.$on('removed-from-wishlist', this.fetchProductsInWishlist);
	},

	methods: {
		/**
		 * Get lowest price of product
		 * @param offers
		 * @returns {number}
		 */
		getLowestPrice(offers) {
			const minPrice = Math.min.apply(
				Math,
				offers.map(function (offer) {
					return offer.price;
				})
			);

			return minPrice;
		},

		/**
		 * Fetch products in wishlist
		 */
		fetchProductsInWishlist() {
			this.isLoading = true;
			this.$axios
				.get(`/v1/user/wishlist`)
				.then((response) => {
					this.products = response.data.data;
					this.isLoading = false;
				})
				.catch((e) => {
					this.isLoading = false;
				});
		},
	},
};
</script>

<style scoped></style>
