<template>
	<!-- FORGOT PASSWORD -->
	<section class="login">
		<div class="container">
			<FormForgotPassword />
		</div>
	</section>
</template>

<script>
export default {
	name: 'ForgotPassword',
	middleware: 'auth',
	auth: 'guest',

	head() {
		return {
			title: 'Zabudnuté heslo',
		};
	},
};
</script>

<style scoped></style>
