<template>
	<section class="reset-password">
		<FormResetPassword />
	</section>
</template>

<script>
export default {
	name: 'ResetPassword',
	middleware: 'auth',
	auth: 'guest',
};
</script>

<style lang="scss" scoped>
section {
	padding: 50px 0;
}
</style>
