<template>
	<div class="verify container text-center">
		<h1>Kliknutím na tlačítko si aktivujete Váš účet.</h1>
		<button type="button" class="base-btn" @click="verifyAccount()"><span>Aktivovať účet</span></button>
	</div>
</template>

<script>
export default {
	name: 'Verify',
	auth: 'guest',
	head() {
		return {
			title: 'Aktivácia konta',
		};
	},

	methods: {
		async verifyAccount() {
			await this.$axios
				.post('/v1/auth/verify', {
					activation: this.$route.query.activate,
				})
				.then(() => {
					this.$swal({
						title: 'OK',
						text: 'Aktivácia účtu prebehla úspešne.',
						icon: 'success',
						background: '#7DB212',
						position: 'center',
						toast: false,
					});

					this.$router.push('/auth/forgot-password');
				})
				.catch((error) => {
					this.$swal({
						title: error.response.status,
						text: 'Aktivácia účtu sa nepodarila.',
						icon: 'error',
						background: '#ED3F26',
						toast: false,
						position: 'center',
					});
				});
		},
	},
};
</script>

<style lang="scss" scoped>
h1 {
	@include fluid-font($min_width, $max_width, 30px, 50px);
	font-family: $secondary-font;
	font-weight: $thin-font;
}
.base-btn {
	max-width: 255px;
	margin-top: 20px;
}

.verify {
	padding: 150px 0;
}
</style>
