<template>
	<div class="product-detail pt-3">
		<div class="container">
			<button type="button" class="back" @click="$router.back()"><fa icon="angle-left" /> späť</button>

			<div class="row py-5">
				<div class="col-60 col-lg-27">
					<div class="img-wrap">
						<img
							class="main-img"
							:src="product.preview_image ? product.preview_image.path : 'https://via.placeholder.com/1000x500'"
							:alt="product.name"
							@click="showLightBox()"
						/>

						<img
							v-if="selectedVariant.value === 3"
							src="~assets/img/room-foreground.png"
							class="foreground"
							alt="Popredie"
							@click="showLightBox()"
						/>
						<button v-if="$auth.loggedIn" type="button" @click="addToWishlist()"><fa :icon="['far', 'heart']" /></button>
					</div>

					<div class="info-box">
						<span><fa icon="exclamation" /></span>
						<p>
							Zvoľte svoj vlastný rozmer - Ak Vám nevyhovuje žiaden zo štandardných rozmerov, ktoré sú uvedené pre každý materiál,
							jednoducho zadajte svoj vlastný
						</p>
					</div>
				</div>

				<div class="col-60 col-lg-33">
					<div class="right-side">
						<h2>{{ product.name }}</h2>
						<p>
							{{ product.preview_text }}
						</p>

						<div class="variants mt-4 d-flex justify-content-center flex-column flex-sm-row">
							<div class="checkbox-wrap" :class="{ active: selectedVariant.value === 1 }">
								<input id="variant1" v-model="selectedVariant.value" :value="1" type="radio" />
								<label for="variant1">
									<img src="~assets/img/platno.jpg" alt="Plátno" />
									<small>Plátno</small>
								</label>
							</div>

							<div class="checkbox-wrap" :class="{ active: selectedVariant.value === 2 }">
								<input id="variant2" v-model="selectedVariant.value" :value="2" type="radio" />
								<label for="variant2">
									<img src="~assets/img/fotopapier.jpg" alt="Fotopapier" />
									<small>Plagát / Fotopapier</small>
								</label>
							</div>

							<div class="checkbox-wrap" :class="{ active: selectedVariant.value === 3 }">
								<input id="variant3" v-model="selectedVariant.value" :value="3" type="radio" />
								<label for="variant3">
									<img src="~assets/img/fototapeta.jpg" alt="Fototapeta" />
									<small>Tapeta</small>
								</label>
							</div>
						</div>

						<transition name="fade">
							<div v-if="selectedVariant.value === 3" class="mt-4">
								<h6>Typ fototapety</h6>
								<button type="button" class="variant-type" @click="openModal('isVariantModalVisible')">
									<span v-if="selectedVariant.subVariant === 1">Samolepiaca tapeta hladká</span>
									<span v-if="selectedVariant.subVariant === 2">Samolepiaca tapeta s imitáciou plátna</span>
									<span v-if="selectedVariant.subVariant === 3">Vliesová tapeta s hladkým povrchom</span>
								</button>
							</div>
						</transition>

						<div class="selectbox mt-4">
							<h6>Rozmer</h6>

							<v-select
								v-model="selectedVariant.selectedDimension"
								:disabled="customDimension.selected"
								:clearable="false"
								:searchable="false"
								:options="selectedVariant.dimensions"
							></v-select>

							<button type="button" class="btn-custom-dimension" @click="openModal('isCustomDimensionModalVisible')">
								Vybrať vlastný rozmer
							</button>
							<button v-if="customDimension.selected" type="button" class="delete-btn-custom-dimension" @click="resetCustomDimension()">
								Zrušiť vlastný rozmer
							</button>
						</div>

						<!-- preview custom dimension image -->
						<div v-if="customDimension.selected" class="preview-img">
							<h5>Vami vybraté rozmery:</h5>
							<p class="mt-0">
								Šírka: <strong>{{ customDimension.cropWidth }}cm</strong>
							</p>
							<p class="mt-0">
								Výška: <strong>{{ customDimension.cropHeight }}cm</strong>
							</p>

							<img :src="customDimension.image" :srcset="customDimension.image" class="img-fluid" alt="Ukážka fotky" />
						</div>

						<div class="d-flex justify-content-end add-to-cart text-center text-sm-end flex-column">
							<div>
								<p>
									Cena s DPH 20%:
									<span v-if="!customDimension.selected">{{ selectedVariant.selectedOffer.price | toCurrency('SK') }} </span>
									<span v-if="customDimension.selected">{{ customDimension.price | toCurrency('SK') }} </span>
								</p>
								<button type="button" class="base-btn" @click="addToCart()">
									<span v-if="!$store.getters['cart/isLoading']">Pridať do košíka</span>
									<loading
										:active.sync="$store.getters['cart/isLoading']"
										:can-cancel="false"
										:is-full-page="false"
										:width="30"
										:height="30"
									></loading>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- VARIANT MODAL -->
		<ModalDefault v-show="isVariantModalVisible">
			<template #body>
				<div class="row">
					<div class="col-60 col-lg-20 variant-left-side">
						<div v-show="selectedVariant.subVariant === 1">
							<h4>Samolepiaca tapeta hladká</h4>
							<p>- hrúbka 100 μm</p>
						</div>

						<div v-show="selectedVariant.subVariant === 2">
							<h4>Samolepiaca tapeta s imitáciou plátna</h4>
							<p>
								- gramáž 220g/m2 <br />
								- hrúbka 330 μm
							</p>
						</div>

						<div v-show="selectedVariant.subVariant === 3">
							<h4>Vliesová tapeta s hladkým povrchom</h4>
							<p>
								- gramáž 150g/m2 <br />
								- hrúbka 270 μm
							</p>
						</div>
					</div>

					<div class="col-60 col-lg-40 variant-right-side mt-4 mt-lg-0">
						<div class="variants d-flex justify-content-center justify-content-lg-end flex-column flex-sm-row">
							<div class="checkbox-wrap" :class="{ active: selectedVariant.subVariant === 1 }">
								<input id="subVariant1" v-model="selectedVariant.subVariant" :value="1" type="radio" />
								<label for="subVariant1">
									<img src="~assets/img/hladka-350.jpg" alt="Samolepiaca tapeta hladká" />
									<small>Samolepiaca tapeta hladká</small>
								</label>
							</div>

							<div class="checkbox-wrap" :class="{ active: selectedVariant.subVariant === 2 }">
								<input id="subVariant2" v-model="selectedVariant.subVariant" :value="2" type="radio" />
								<label for="subVariant2">
									<img src="~assets/img/strukturovana-430.jpg" alt="Samolepiaca tapeta s imitáciou plátna" />
									<small>Samolepiaca tapeta s imitáciou plátna</small>
								</label>
							</div>

							<div class="checkbox-wrap" :class="{ active: selectedVariant.subVariant === 3 }">
								<input id="subVariant3" v-model="selectedVariant.subVariant" :value="3" type="radio" />
								<label for="subVariant3">
									<img src="~assets/img/vlies-270.jpg" alt="Vliesová tapeta s hladkým povrchom" />
									<small>Vliesová tapeta s hladkým povrchom</small>
								</label>
							</div>
						</div>

						<div class="text-center text-lg-end mt-4">
							<button type="button" class="base-btn" @click="closeModal('isVariantModalVisible')">
								<span>Vybrať materiál</span>
							</button>
						</div>
					</div>
				</div>
			</template>
		</ModalDefault>

		<!-- CUSTOM DIMENSION MODAL -->
		<ModalDefault v-if="isCustomDimensionModalVisible">
			<template #close>
				<button type="button" class="close-btn" @click="closeModal('isCustomDimensionModalVisible')"><fa icon="times" /></button>
			</template>

			<template #body>
				<div class="row">
					<div class="col-60 col-lg-30 custom-d-left-side">
						<div class="crop-img-wrap">
							<cropper
								ref="cropper"
								:src="product.preview_image ? product.preview_image.path + '?GET' : 'https://via.placeholder.com/1000x500'"
								:canvas="true"
								:stencil-props="{
									aspectRatio: customDimension.cropperDynamicAspectRatio / 1,
								}"
								cross-origin="Anonymous"
							/>
						</div>
					</div>

					<div class="col-60 col-lg-30 custom-d-right-side mt-4 mt-lg-0">
						<h2>Zadajte svoj vlastný rozmer</h2>
						<p>
							Začnite tým, že zadáte Vami požadovanú šírku a výšku produktu, ktorý si želáte vyrobiť. Na obrázku sa Vám objaví výrez
							podľa zadaných rozmerov. Výrez môžete prispôsobiť - zväčšovať a zmenšovať pomocou pohybu ktoroukoľvek zo strán, alebo
							posúvaním na požadovanú časť obrázka. Vami zadaný rozmer zostane zachovaný. Naša kalkulačka Vám určí konečnú cenu
							produktu. Po zadaní vlastných rozmerov a úprave výrezu potvrďte stlačením VYBRAŤ ROZMER a pokračujte v nákupe. Pokiaľ sa
							Vám pri výreze objavia biele plochy z okolia obrázka, jednoducho prispôsobte výrez posunom jednej zo strán tak, aby do
							bielych plôch nezasahoval. Vami zadaný rozmer sa tým nezmení.
						</p>

						<div class="d-flex justify-content-between mt-4 flex-column flex-sm-row">
							<div class="dimension d-flex mb-3 mb-sm-0 flex-column flex-sm-row align-items-sm-center">
								<small>šírka (cm)</small>
								<div class="d-flex align-items-center">
									<input v-model.number="customDimension.cropWidth" type="number" @change="dimensionInputChanged()" />
									<div class="quantity">
										<button type="button" @click="increaseCropWidth()"><fa icon="plus" /></button>
										<button type="button" @click="decreaseCropWidth()"><fa icon="minus" /></button>
									</div>
								</div>
							</div>

							<div class="dimension d-flex flex-column flex-sm-row align-items-sm-center">
								<small>výška (cm)</small>
								<div class="d-flex align-items-center">
									<input v-model.number="customDimension.cropHeight" type="number" @change="dimensionInputChanged()" />
									<div class="quantity">
										<button type="button" @click="increaseCropHeight()"><fa icon="plus" /></button>
										<button type="button" @click="decreaseCropHeight()"><fa icon="minus" /></button>
									</div>
								</div>
							</div>
						</div>

						<div class="d-flex justify-content-end add-to-cart text-center text-sm-end flex-column mt-4">
							<div>
								<p>
									Cena s DPH 20%: <span>{{ customDimension.price | toCurrency('SK') }}</span>
								</p>
								<button type="button" class="base-btn" @click="selectCustomDimension()"><span>Vybrať rozmer</span></button>
							</div>
						</div>
					</div>
				</div>
			</template>
		</ModalDefault>

		<!-- VUE LIGHTBOX -->
		<client-only>
			<vue-easy-lightbox
				:visible="isLightBoxVisible"
				:imgs="product.images.length ? product.images.map((img) => img.path) : product.preview_image.path"
				@hide="hideLightBox()"
			></vue-easy-lightbox>
		</client-only>

		<!-- RECOMMENDED PRODUCTS -->
		<ProductRecommendedSection />

		<!-- MATERIALS SECTION -->
		<div class="materials-section">
			<div class="container">
				<MaterialsSection />
			</div>
		</div>

		<!-- CUSTOM PRINT -->
		<CustomPrint />
	</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	name: 'DetailProduct',
	components: {
		Loading,
	},

	async asyncData(context) {
		const slug = context.params.slug;

		const product = await context.app.$axios
			.$get(`/v1/product/${slug}`)
			.then((response) => {
				return response.data;
			})
			.catch((e) => e);

		return {
			product,
		};
	},

	data() {
		return {
			selectedVariant: {
				value: 3,
				subVariant: 1,
				offers: [],
				dimensions: [],
				selectedDimension: '',
				selectedOffer: {
					id: null,
					quantity: null,
					price: null,
				},
			},

			isVariantModalVisible: false,
			isCustomDimensionModalVisible: false,
			isLightBoxVisible: false,
			customDimension: {
				selected: false,
				cropWidth: 50,
				cropHeight: 50,
				image: null,
				cropperDynamicAspectRatio: 1,
				selectedCustomDimension: {},
				price: null,
				flat: null,
			},
			notification: null,
		};
	},
	head() {
		return {
			title: this.product.name,
		};
	},

	watch: {
		isCustomDimensionModalVisible(val) {
			if (val) {
				this.calculateCustomDimensionPrice(this.customDimension.cropWidth, this.customDimension.cropHeight);
			}
		},

		notification(val) {
			this.$swal({
				title: 'OK',
				text: 'Produkt bol pridaný do košíka.',
				icon: 'success',
				background: '#7DB212',
			});
		},

		'selectedVariant.value'(val) {
			// If selected plátno
			if (val === 1) {
				this.selectedVariant.subVariant = null;
				this.getPlatnoOffers();
			}
			// if selected plagát/fotopapier
			else if (val === 2) {
				this.selectedVariant.subVariant = null;
				this.getPlagatOffers();
			}
			// if selected fototapeta
			else if (val === 3) {
				this.selectedVariant.subVariant = 1;
				this.getFototapetaHladkaOffers();
			}
		},

		'selectedVariant.selectedDimension'(val) {
			this.setActiveOffer(val);
		},

		'selectedVariant.subVariant'(val) {
			if (val === 1) {
				this.getFototapetaHladkaOffers();
			} else if (val === 2) {
				this.getFototapetaPlatnoOffers();
			} else if (val === 3) {
				this.getFototapetaVliesOffers();
			}
		},

		'customDimension.cropWidth': function (val) {
			this.customDimension.cropperDynamicAspectRatio = val / this.customDimension.cropHeight;

			// Calculate custom dimension price
			this.calculateCustomDimensionPrice(val, this.customDimension.cropHeight);
		},

		'customDimension.cropHeight': function (val) {
			this.customDimension.cropperDynamicAspectRatio = this.customDimension.cropWidth / val;

			// Calculate custom dimension price
			this.calculateCustomDimensionPrice(this.customDimension.cropWidth, val);
		},
	},

	created() {
		if (this.selectedVariant.value === 1) {
			this.getPlatnoOffers();
		} else if (this.selectedVariant.value === 2) {
			this.getPlagatOffers();
		} else {
			this.getFototapetaHladkaOffers();
		}

		// Watch cart notification state from vuex
		const _this = this;
		this.$store.watch(
			function (state) {
				return state.cart.cart.notification;
			},
			function () {
				_this.notification = _this.$store.getters['cart/notification'];
			}
		);
	},

	methods: {
		/**
		 * Calculate custom dimension price
		 */

		calculateCustomDimensionPrice(width, height) {
			// Calculate flat
			const flat = Number(((width / 100) * (height / 100)).toFixed(2));

			this.customDimension.flat = flat;

			// Set selected custom dimension
			this.customDimension.selectedCustomDimension = this.product.custom_dimension.find(
				(item) => flat >= item.dimension_from && flat <= item.dimension_to
			);

			if (this.customDimension.selectedCustomDimension) {
				let price = Number((flat * this.customDimension.selectedCustomDimension.price_value).toFixed(2));

				if (this.customDimension.selectedCustomDimension.package_price_value) {
					price += this.customDimension.selectedCustomDimension.package_price_value;
				}

				this.customDimension.price = price;
			}
		},

		/**
		 * Add to wishlist
		 */
		addToWishlist() {
			this.$axios
				.get(`/v1/cart/add-to-wishlist?product_id=${this.product.id}`)
				.then(() => {
					this.$nuxt.$emit('added-to-wishlist');
					this.$swal({
						title: 'OK',
						text: 'Produkt bol pridaný do wishlistu.',
						icon: 'success',
						background: '#7DB212',
					});
				})
				.catch((e) => e);
		},

		/**
		 * Add to cart
		 */

		addToCart() {
			this.$store.dispatch('cart/addToCart', {
				id: this.selectedVariant.selectedOffer.id,
				customDimensionId: this.customDimension.selectedCustomDimension.id,
				flat: this.customDimension.flat,
			});
		},

		/**
		 * Set active offer
		 */
		setActiveOffer(val) {
			const activeOffer = this.selectedVariant.offers.find((offer) => offer.name.includes(val));

			this.selectedVariant.selectedOffer.id = activeOffer.id;
			this.selectedVariant.selectedOffer.quantity = activeOffer.quantity;
			this.selectedVariant.selectedOffer.price = Number(activeOffer.price);
		},

		/**
		 * Get offer dimensions
		 */
		getOfferDimensions() {
			const dimensionsProperty = [];
			const dimensions = [];

			for (let i = 0; i < this.selectedVariant.offers.length; i++) {
				dimensionsProperty.push(this.selectedVariant.offers[i].property.find((item) => item.name === 'Rozmery'));
			}

			for (let i = 0; i < dimensionsProperty.length; i++) {
				dimensions.push(dimensionsProperty[i].value);
			}

			// Set all dimensions from offer
			this.selectedVariant.dimensions = dimensions;

			// Set first dimension to default
			this.selectedVariant.selectedDimension = this.selectedVariant.dimensions[0];
		},

		/**
		 * Get variant offers
		 */

		getPlatnoOffers() {
			this.selectedVariant.offers = this.product.offers.filter((offer) => offer.name.includes('Plátno' || 'platno'));
			this.setActiveOffer('Plátno');
			this.getOfferDimensions();
		},

		getPlagatOffers() {
			this.selectedVariant.offers = this.product.offers.filter((offer) => offer.name.includes('Plagát' || 'plagat'));
			this.setActiveOffer('Plagát');
			this.getOfferDimensions();
		},

		getFototapetaHladkaOffers() {
			this.selectedVariant.offers = this.product.offers.filter((offer) => offer.name.includes('Tapeta - hladká' || 'tapeta - hladka'));
			this.setActiveOffer('Tapeta - hladká');
			this.getOfferDimensions();
		},

		getFototapetaPlatnoOffers() {
			this.selectedVariant.offers = this.product.offers.filter((offer) => offer.name.includes('Tapeta - plátno' || 'tapeta - platno'));
			this.setActiveOffer('Tapeta - plátno');
			this.getOfferDimensions();
		},

		getFototapetaVliesOffers() {
			this.selectedVariant.offers = this.product.offers.filter((offer) => offer.name.includes('Tapeta - vlies' || 'tapeta - vlies'));
			this.setActiveOffer('Tapeta - vlies');
			this.getOfferDimensions();
		},

		/**
		 * Increase or decrease crop width
		 */
		increaseCropWidth() {
			this.customDimension.cropWidth++;
		},

		decreaseCropWidth() {
			if (this.customDimension.cropWidth > 1) {
				this.customDimension.cropWidth--;
			}
		},

		/**
		 * Increase or decrease crop height
		 */
		increaseCropHeight() {
			this.customDimension.cropHeight++;
		},

		decreaseCropHeight() {
			if (this.customDimension.cropHeight > 1) {
				this.customDimension.cropHeight--;
			}
		},

		/**
		 * Dimension input changed
		 */
		dimensionInputChanged() {
			const minWidthValue = 1;
			const minHeightValue = 1;

			if (this.customDimension.cropWidth < minWidthValue) {
				this.customDimension.cropWidth = minWidthValue;
			}

			if (this.customDimension.cropHeight < minHeightValue) {
				this.customDimension.cropHeight = minHeightValue;
			}
		},

		/**
		 * Select custom dimension
		 */
		selectCustomDimension() {
			this.customDimension.selected = true;
			this.closeModal('isCustomDimensionModalVisible');

			const { canvas } = this.$refs.cropper.getResult();
			this.customDimension.image = canvas.toDataURL('image/jpeg');
		},

		/**
		 * Reset custom dimension
		 */
		resetCustomDimension() {
			this.customDimension.selected = false;
			this.customDimension.image = null;
			this.customDimension.cropWidth = 50;
			this.customDimension.cropHeight = 50;
		},

		/**
		 * Show and hide lightbox
		 */
		showLightBox() {
			this.isLightBoxVisible = true;
		},
		hideLightBox() {
			this.isLightBoxVisible = false;
		},

		/**
		 * Open modal
		 * @param modal
		 */
		openModal(modal) {
			this[modal] = true;
			this.$nuxt.$emit('open-modal');
		},

		/**
		 * Close modal
		 * @param modal
		 */
		closeModal(modal) {
			this[modal] = false;
			this.$nuxt.$emit('close-modal');
		},
	},
};
</script>

<style lang="scss" scoped>
.preview-img img {
	border: 1px solid $light-grey;
	margin-top: 15px;
}
.dimension {
	input {
		width: 92px;
		height: 33px;
		border: 1px solid #bbbbbb;
		margin: 0 5px 0 15px;
		text-align: center;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&[type='number'] {
			-moz-appearance: textfield;
		}
		&:focus {
			border: 2px solid $primary-color;
			@include box-shadows(0px 6px 5px -2px rgba(58, 58, 58, 27%));
		}

		@include media-breakpoint-down(sm) {
			margin-left: 0;
		}
	}

	.quantity {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-down(sm) {
			flex-direction: row;
		}
		button {
			width: 21px;
			height: 21px;
			background-color: $primary-color;
			margin-bottom: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
			@include media-breakpoint-down(sm) {
				width: 33px;
				height: 33px;
				margin-bottom: 0;
				margin-right: 5px;
			}
			&:hover {
				background-color: $light-primary-color;
			}
			&:last-child {
				margin-bottom: 0;
			}

			svg {
				color: $white;
				font-size: rem(13px);
			}
		}
	}
}

.custom-d-right-side {
	p {
		font-size: rem(14px);
	}
}
.delete-btn-custom-dimension {
	background-color: darken($red, 20%);
	color: $white;
	padding: 5px 15px;
	margin-top: 10px;
	@include border-radius(4px);
	&:hover {
		background-color: darken($red, 10%);
	}
}
.btn-custom-dimension {
	background-color: $secondary-color;
	color: $white;
	padding: 5px 15px;
	margin-top: 10px;
	@include border-radius(4px);
	&:hover {
		background-color: $light-secondary-color;
	}
}

.materials-section {
	background-color: lighten($light-grey, 5%);
	padding: 80px 0;
}
.add-to-cart {
	p span {
		color: $primary-color;
		font-size: rem(33px);
		font-family: $secondary-font;
		font-weight: $light-font;
		margin-left: 10px;
	}
	button {
		max-width: 255px;
		margin-top: 10px;
	}
}
.variant-right-side {
	button {
		max-width: 255px;
	}
	.checkbox-wrap {
		flex: 0 0 164px;
		small {
			font-size: rem(14px);
			padding: 5px;
		}
	}
}

.variant-left-side {
	h4 {
		font-size: rem(24px);
		font-family: $secondary-font;
		font-weight: $light-font;
	}

	p {
		font-size: rem(14px);
	}
}
.variant-type {
	width: 100%;
	height: 60px;
	text-align: left;
	border: 1px solid $secondary-color;
	@include border-radius(8px);
	padding-left: 15px;
	&:hover {
		background-color: lighten($light-grey, 3%);
	}
}

.checkbox-wrap.active {
	@include box-shadows(0px 5px 6px -2px rgba(58, 58, 58, 42%));
	label img {
		border: 2px solid $primary-color;
	}

	label {
		background-color: $primary-color;
		small {
			color: $white;
		}
	}
}

.variants {
	.checkbox-wrap {
		margin-right: 10px;
		@include media-breakpoint-down(sm) {
			flex: 0 0 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	input {
		display: none;
	}
	label {
		text-align: center;
		cursor: pointer;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		img {
			border: 2px solid $light-grey;
		}
		small {
			display: block;
			font-size: rem(15px);
			padding: 5px 0;
		}
	}
}

.right-side {
	@include media-breakpoint-down(lg) {
		margin-top: 50px;
	}
	h6 {
	}
	p {
		margin: 20px 0;
	}
}
.info-box {
	@include box-shadows(0px 5px 15px -2px rgba(58, 58, 58, 16%));
	margin-top: 50px;
	text-align: center;
	position: relative;
	padding: 30px 20px 20px;
	p {
		color: #101c32;
		opacity: 0.87;
	}
	span {
		display: block;
		width: 30px;
		height: 30px;
		background-color: $primary-color;
		position: absolute;
		top: -15px;
		left: 50%;
		@include transform(translateX(-50%));
		@include border-radius(50%);
		svg {
			color: $white;
		}
	}
}

.foreground {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 2;
}

.img-wrap {
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	position: relative;
	width: 100%;
	padding-bottom: 90%;
	overflow: hidden;
	&:hover button {
		opacity: 1;
		@include transform(translateX(0));
	}
	img:not(.foreground) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		cursor: pointer;
	}

	button {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 23px;
		height: 23px;
		background-color: $white;
		@include border-radius(50%);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 5;
		@include box-shadows(0px 2px 6px 0px rgba($black, 0.26));
		opacity: 0;
		@include transform(translateX(20px));
		@include media-breakpoint-down(lg) {
			opacity: 1;
			@include transform(translateX(0));
		}
		&:hover {
			background-color: $red;
			svg {
				color: $white;
			}
		}
		svg {
			color: $primary-color;
			font-size: rem(13px);
		}
	}
}

.back {
	svg {
		margin-right: 5px;
	}
	&:hover {
		opacity: 0.6;
	}
}
</style>
