<template>
	<div class="products">
		<ProductCategorySection />
	</div>
</template>

<script>
export default {
	name: 'Index',

	head() {
		return {
			title: 'Produkty',
		};
	},
};
</script>

<style lang="scss" scoped>
.products {
	padding: 100px 0;
}
</style>
