<template>
	<div class="container">
		<ProductTopSwitch />

		<div class="row">
			<div class="categories col-60 col-lg-15">
				<h6>Kategórie produktov</h6>
				<ul class="list-unstyled">
					<li v-for="category in categories" :key="category.id">
						<button type="button" :class="{ active: isActiveCategory(category) }" @click="setActiveCategory(category)">
							<fa icon="angle-right" /> {{ category.name }}
						</button>
					</li>
				</ul>
			</div>

			<div class="col-60 col-lg-45">
				<div class="row">
					<div v-for="product in activeCategory.products" :key="product.id" class="col-60 col-sm-30 col-lg-20 mb-4">
						<ProductSmallCard
							:name="product.name"
							:slug="product.slug"
							:preview-img="product.preview_image ? product.preview_image.path : 'https://via.placeholder.com/1000x500'"
							:product-id="product.id"
						/>
					</div>
				</div>

				<div class="text-center mt-5">
					<Pagination
						v-model="page"
						:per-page="9"
						:records="activeCategory.products.length"
						:options="options"
						@paginate="fetchProducts()"
					/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Kategoria',

	async asyncData(context) {
		let categories;

		await context.app.$axios.get('/v1/products/tags').then((response) => {
			categories = response.data.data;
		});

		return { categories };
	},

	data() {
		return {
			products: [],
			page: 1,
			activeCategory: {},
			options: {
				chunk: 4,
				texts: {
					count: 'Stránka {page} z {pages}',
				},
			},
		};
	},
	head() {
		return {
			title: 'Kategória',
		};
	},

	created() {
		// set default category
		if (this.categories.length) {
			this.activeCategory = this.categories[0];
		}
	},
	methods: {
		isActiveCategory(category) {
			return this.activeCategory === category;
		},

		setActiveCategory(category) {
			this.activeCategory = category;
		},

		/**
		 * Get lowest price of product
		 * @param offers
		 * @returns {number}
		 */
		getLowestPrice(offers) {
			const minPrice = Math.min.apply(
				Math,
				offers.map(function (offer) {
					return offer.price;
				})
			);

			return minPrice;
		},
	},
};
</script>

<style lang="scss" scoped>
button {
	text-align: left;
	svg {
		opacity: 0;
	}
	&.active svg {
		opacity: 1;
	}
}

h6 {
	font-family: $secondary-font;
	font-size: rem(20px);
	font-weight: $light-font;
	@include media-breakpoint-down(lg) {
		cursor: pointer;
	}
	svg {
		margin-right: 5px;
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&.open svg {
		@include transform(rotate(180deg));
	}
}
</style>
