<template>
	<div class="container">
		<ProductTopSwitch />

		<div class="row mb-5">
			<div class="col-60 col-md-15">
				<div class="left-sidebar pb-5">
					<h6>V akej farbe má byť tvoja nová tapeta?</h6>
					<ul class="list-unstyled">
						<li>
							<button
								type="button"
								:class="{ active: isActiveColorPalette('complementary') }"
								@click="setActiveColorPalette('complementary')"
							>
								<fa icon="angle-right" /> Komplementárne
							</button>
						</li>
						<li>
							<button type="button" :class="{ active: isActiveColorPalette('similarly') }" @click="setActiveColorPalette('similarly')">
								<fa icon="angle-right" /> Podobné
							</button>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-60 col-md-45">
				<div v-show="activeColorPalette === 'complementary'" class="colorpicker-wrap position-relative">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						width="272.045"
						height="272.044"
						viewBox="0 0 272.045 272.044"
						class="colorpicker"
					>
						<defs>
							<clipPath id="clip-path">
								<rect id="Rectangle_2381" data-name="Rectangle 2381" width="272.045" height="272.044" fill="#f9f9f9" />
							</clipPath>
						</defs>
						<g transform="translate(2357 -1840)">
							<g class="colors">
								<path
									class="green"
									d="M58.529,98.388h0A67.133,67.133,0,0,0,.243,63.8L0,.064l.017,0C.28.048,1.256,0,2.8,0A129.613,129.613,0,0,1,49.779,9.611,128.319,128.319,0,0,1,83.116,29.365a131.627,131.627,0,0,1,16.22,15.872,145.24,145.24,0,0,1,14.812,20.729C95.192,77.011,76.479,87.919,58.529,98.388Z"
									transform="translate(-2220.766 1845.303)"
									fill="#5fb246"
									@click="setActiveComplementaryColor(1)"
								/>

								<path
									class="yellow"
									d="M56.849,131.807h0L0,98.7a66.916,66.916,0,0,0,9.409-34.26,67.06,67.06,0,0,0-8.4-32.507C18.285,22.056,37.072,11.314,56.849,0A144.045,144.045,0,0,1,68.4,26.179a130.273,130.273,0,0,1,5.422,24.561A129.2,129.2,0,0,1,71.937,92.7a135.139,135.139,0,0,1-4.479,16.244,129.749,129.749,0,0,1-4.951,12.318,88.206,88.206,0,0,1-5.658,10.546Z"
									transform="translate(-2163.298 1911.67)"
									fill="#e6dc16"
									@click="setActiveComplementaryColor(2)"
								/>

								<path
									class="orange"
									d="M2.8,98.8h0C1,98.8.01,98.74,0,98.739l.249-65.4A67.329,67.329,0,0,0,57.819,0C75.2,10.135,94.147,21.183,114.148,32.836A145.237,145.237,0,0,1,99.336,53.564,131.626,131.626,0,0,1,83.117,69.436,128.318,128.318,0,0,1,49.782,89.191,129.607,129.607,0,0,1,2.8,98.8Z"
									transform="translate(-2220.766 2009.77)"
									fill="#d98b14"
									@click="setActiveComplementaryColor(3)"
								/>
								<path
									class="red"
									d="M112.628,99.269a116.659,116.659,0,0,1-17.944-1.536A136.058,136.058,0,0,1,65.4,89.624,130.431,130.431,0,0,1,31.568,69.693a133.54,133.54,0,0,1-16.492-16.04A147.046,147.046,0,0,1,0,32.688C19.2,21.577,38.194,10.579,56.455,0a67.347,67.347,0,0,0,57.71,32.937l.61,0,.448,66.278-.018,0C114.892,99.23,114.014,99.268,112.628,99.269Z"
									transform="translate(-2335.06 2010.174)"
									fill="#e14649"
									@click="setActiveComplementaryColor(4)"
								/>

								<path
									class="purple"
									d="M17.882,131.807h0a87.81,87.81,0,0,1-5.658-10.545,129.758,129.758,0,0,1-4.951-12.318A135.137,135.137,0,0,1,2.794,92.7,128.493,128.493,0,0,1,6.33,26.179,144.048,144.048,0,0,1,17.882,0C36.773,10.807,55.451,21.488,73.4,31.746a67.089,67.089,0,0,0,1.017,67.132Z"
									transform="translate(-2352.8 1911.67)"
									fill="#8a2c64"
									@click="setActiveComplementaryColor(5)"
								/>

								<path
									class="blue"
									d="M55.8,97.839h0L0,65.9,0,65.9A88.059,88.059,0,0,1,6.3,55.729,129.75,129.75,0,0,1,14.5,45.283a135.132,135.132,0,0,1,11.828-12A128.488,128.488,0,0,1,85.7,3.085,144.042,144.042,0,0,1,114.148,0c.086,21.669.175,43.112.266,63.734h-.225A67.165,67.165,0,0,0,55.8,97.838Z"
									transform="translate(-2335.083 1845.367)"
									fill="#1f448a"
									@click="setActiveComplementaryColor(6)"
								/>
							</g>
							<g transform="translate(-2357 1840)">
								<g id="Group_3844" data-name="Group 3844" clip-path="url(#clip-path)">
									<path
										id="Path_11459"
										data-name="Path 11459"
										d="M232.2,39.84A136.022,136.022,0,1,0,39.84,232.2,136.022,136.022,0,1,0,232.2,39.84m-96.182,160.1a64.905,64.905,0,1,1,64.905-64.906,64.979,64.979,0,0,1-64.905,64.906m65.592-98.119,46.27-26.714a127.187,127.187,0,0,1,.9,120.137l-47.079-27.181a73.429,73.429,0,0,0-.092-66.242m41.877-34.14L197.259,94.375a73.555,73.555,0,0,0-56.923-32.743V8.708A127.439,127.439,0,0,1,243.492,67.683M131.709,8.708V61.633A73.559,73.559,0,0,0,74.589,94.674L28.364,67.985A127.44,127.44,0,0,1,131.709,8.708M23.988,75.421l46.283,26.721a73.416,73.416,0,0,0-.092,65.6L23.093,194.93a127.2,127.2,0,0,1,.9-119.509m3.362,127.014,47.127-27.209a73.563,73.563,0,0,0,57.233,33.213v54.9a127.464,127.464,0,0,1-104.359-60.9m112.987,60.9v-54.9a73.557,73.557,0,0,0,57.036-32.914l47.134,27.213a127.458,127.458,0,0,1-104.171,60.6"
										fill="#f9f9f9"
									/>
								</g>
							</g>
						</g>
					</svg>
					<div class="color-arrow" :class="{ 'pos-1': complementaryPos1, 'pos-2': complementaryPos2, 'pos-3': complementaryPos3 }">
						<img src="~assets/img/complementary-colors-arrow.svg" alt="Šípka" />
					</div>
				</div>

				<div v-show="activeColorPalette === 'similarly'" class="colorpicker-wrap position-relative">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						width="272.045"
						height="272.044"
						viewBox="0 0 272.045 272.044"
						class="colorpicker"
					>
						<defs>
							<clipPath id="clip-path">
								<rect id="Rectangle_2381" data-name="Rectangle 2381" width="272.045" height="272.044" fill="#f9f9f9" />
							</clipPath>
							<filter id="Path_11460" x="167.764" y="37.269" width="40" height="40" filterUnits="userSpaceOnUse">
								<feOffset dy="1" input="SourceAlpha" />
								<feGaussianBlur stdDeviation="1.5" result="blur" />
								<feFlood flood-opacity="0.161" />
								<feComposite operator="in" in2="blur" />
								<feComposite in="SourceGraphic" />
							</filter>
							<filter id="Path_11462" x="213.022" y="121.734" width="37" height="37" filterUnits="userSpaceOnUse">
								<feOffset dy="1" input="SourceAlpha" />
								<feGaussianBlur stdDeviation="1" result="blur-2" />
								<feFlood flood-opacity="0.129" />
								<feComposite operator="in" in2="blur-2" />
								<feComposite in="SourceGraphic" />
							</filter>
							<filter id="Path_11461" x="165.764" y="208.269" width="40" height="40" filterUnits="userSpaceOnUse">
								<feOffset dy="1" input="SourceAlpha" />
								<feGaussianBlur stdDeviation="1.5" result="blur-3" />
								<feFlood flood-opacity="0.161" />
								<feComposite operator="in" in2="blur-3" />
								<feComposite in="SourceGraphic" />
							</filter>
						</defs>
						<g transform="translate(-823.978 -219.266)">
							<g class="colors" transform="translate(3180.978 -1620.734)">
								<path
									class="green"
									d="M58.529,98.388h0A67.133,67.133,0,0,0,.243,63.8L0,.064l.017,0C.28.048,1.256,0,2.8,0A129.613,129.613,0,0,1,49.779,9.611,128.319,128.319,0,0,1,83.116,29.365a131.627,131.627,0,0,1,16.22,15.872,145.24,145.24,0,0,1,14.812,20.729C95.192,77.011,76.479,87.919,58.529,98.388Z"
									transform="translate(-2220.766 1845.303)"
									fill="#5fb246"
									@click="setActiveSimilarlyColor(1)"
								/>

								<path
									class="yellow"
									d="M56.849,131.807h0L0,98.7a66.916,66.916,0,0,0,9.409-34.26,67.06,67.06,0,0,0-8.4-32.507C18.285,22.056,37.072,11.314,56.849,0A144.045,144.045,0,0,1,68.4,26.179a130.273,130.273,0,0,1,5.422,24.561A129.2,129.2,0,0,1,71.937,92.7a135.139,135.139,0,0,1-4.479,16.244,129.749,129.749,0,0,1-4.951,12.318,88.206,88.206,0,0,1-5.658,10.546Z"
									transform="translate(-2163.298 1911.67)"
									fill="#e6dc16"
									@click="setActiveSimilarlyColor(2)"
								/>

								<path
									class="orange"
									d="M2.8,98.8h0C1,98.8.01,98.74,0,98.739l.249-65.4A67.329,67.329,0,0,0,57.819,0C75.2,10.135,94.147,21.183,114.148,32.836A145.237,145.237,0,0,1,99.336,53.564,131.626,131.626,0,0,1,83.117,69.436,128.318,128.318,0,0,1,49.782,89.191,129.607,129.607,0,0,1,2.8,98.8Z"
									transform="translate(-2220.766 2009.77)"
									fill="#d98b14"
									@click="setActiveSimilarlyColor(3)"
								/>

								<path
									class="red"
									d="M112.628,99.269a116.659,116.659,0,0,1-17.944-1.536A136.058,136.058,0,0,1,65.4,89.624,130.431,130.431,0,0,1,31.568,69.693a133.54,133.54,0,0,1-16.492-16.04A147.046,147.046,0,0,1,0,32.688C19.2,21.577,38.194,10.579,56.455,0a67.347,67.347,0,0,0,57.71,32.937l.61,0,.448,66.278-.018,0C114.892,99.23,114.014,99.268,112.628,99.269Z"
									transform="translate(-2335.06 2010.174)"
									fill="#e14649"
									@click="setActiveSimilarlyColor(4)"
								/>

								<path
									class="purple"
									d="M17.882,131.807h0a87.81,87.81,0,0,1-5.658-10.545,129.758,129.758,0,0,1-4.951-12.318A135.137,135.137,0,0,1,2.794,92.7,128.493,128.493,0,0,1,6.33,26.179,144.048,144.048,0,0,1,17.882,0C36.773,10.807,55.451,21.488,73.4,31.746a67.089,67.089,0,0,0,1.017,67.132Z"
									transform="translate(-2352.8 1911.67)"
									fill="#8a2c64"
									@click="setActiveSimilarlyColor(5)"
								/>

								<path
									class="blue"
									d="M55.8,97.839h0L0,65.9,0,65.9A88.059,88.059,0,0,1,6.3,55.729,129.75,129.75,0,0,1,14.5,45.283a135.132,135.132,0,0,1,11.828-12A128.488,128.488,0,0,1,85.7,3.085,144.042,144.042,0,0,1,114.148,0c.086,21.669.175,43.112.266,63.734h-.225A67.165,67.165,0,0,0,55.8,97.838Z"
									transform="translate(-2335.083 1845.367)"
									fill="#1f448a"
									@click="setActiveSimilarlyColor(6)"
								/>
								<g transform="translate(-2357 1840)">
									<g id="Group_3844" data-name="Group 3844" clip-path="url(#clip-path)">
										<path
											id="Path_11459"
											data-name="Path 11459"
											d="M232.2,39.84A136.022,136.022,0,1,0,39.84,232.2,136.022,136.022,0,1,0,232.2,39.84m-96.182,160.1a64.905,64.905,0,1,1,64.905-64.906,64.979,64.979,0,0,1-64.905,64.906m65.592-98.119,46.27-26.714a127.187,127.187,0,0,1,.9,120.137l-47.079-27.181a73.429,73.429,0,0,0-.092-66.242m41.877-34.14L197.259,94.375a73.555,73.555,0,0,0-56.923-32.743V8.708A127.439,127.439,0,0,1,243.492,67.683M131.709,8.708V61.633A73.559,73.559,0,0,0,74.589,94.674L28.364,67.985A127.44,127.44,0,0,1,131.709,8.708M23.988,75.421l46.283,26.721a73.416,73.416,0,0,0-.092,65.6L23.093,194.93a127.2,127.2,0,0,1,.9-119.509m3.362,127.014,47.127-27.209a73.563,73.563,0,0,0,57.233,33.213v54.9a127.464,127.464,0,0,1-104.359-60.9m112.987,60.9v-54.9a73.557,73.557,0,0,0,57.036-32.914l47.134,27.213a127.458,127.458,0,0,1-104.171,60.6"
											fill="#f9f9f9"
										/>
									</g>
								</g>
							</g>
							<g
								class="arrows"
								:class="{
									'pos-1': similarlyPos1,
									'pos-2': similarlyPos2,
									'pos-3': similarlyPos3,
									'pos-4': similarlyPos4,
									'pos-5': similarlyPos5,
									'pos-6': similarlyPos6,
								}"
							>
								<line
									id="Line_251"
									data-name="Line 251"
									x1="82.035"
									transform="translate(960 359)"
									fill="none"
									stroke="#000"
									stroke-width="2"
								/>
								<g transform="matrix(1, 0, 0, 1, 823.98, 219.27)" filter="url(#Path_11460)">
									<g transform="translate(172.26 40.77)" fill="none">
										<path d="M15.5,0A15.5,15.5,0,1,1,0,15.5,15.5,15.5,0,0,1,15.5,0Z" stroke="none" />
										<path
											d="M 15.5 2 C 11.89402008056641 2 8.503870010375977 3.40424919128418 5.954059600830078 5.954059600830078 C 3.40424919128418 8.503870010375977 2 11.89402008056641 2 15.5 C 2 19.10597991943359 3.40424919128418 22.49612998962402 5.954059600830078 25.04594039916992 C 8.503870010375977 27.59575080871582 11.89402008056641 29 15.5 29 C 19.10597991943359 29 22.49612998962402 27.59575080871582 25.04594039916992 25.04594039916992 C 27.59575080871582 22.49612998962402 29 19.10597991943359 29 15.5 C 29 11.89402008056641 27.59575080871582 8.503870010375977 25.04594039916992 5.954059600830078 C 22.49612998962402 3.40424919128418 19.10597991943359 2 15.5 2 M 15.5 0 C 24.06040954589844 0 31 6.939590454101562 31 15.5 C 31 24.06040954589844 24.06040954589844 31 15.5 31 C 6.939590454101562 31 0 24.06040954589844 0 15.5 C 0 6.939590454101562 6.939590454101562 0 15.5 0 Z"
											stroke="none"
											fill="#000"
										/>
									</g>
								</g>
								<g transform="matrix(1, 0, 0, 1, 823.98, 219.27)" filter="url(#Path_11462)">
									<g transform="translate(216.02 123.73)" fill="none">
										<path d="M15.5,0A15.5,15.5,0,1,1,0,15.5,15.5,15.5,0,0,1,15.5,0Z" stroke="none" />
										<path
											d="M 15.5 2 C 11.89402008056641 2 8.503870010375977 3.40424919128418 5.954059600830078 5.954059600830078 C 3.40424919128418 8.503870010375977 2 11.89402008056641 2 15.5 C 2 19.10597991943359 3.40424919128418 22.49612998962402 5.954059600830078 25.04594039916992 C 8.503870010375977 27.59575080871582 11.89402008056641 29 15.5 29 C 19.10597991943359 29 22.49612998962402 27.59575080871582 25.04594039916992 25.04594039916992 C 27.59575080871582 22.49612998962402 29 19.10597991943359 29 15.5 C 29 11.89402008056641 27.59575080871582 8.503870010375977 25.04594039916992 5.954059600830078 C 22.49612998962402 3.40424919128418 19.10597991943359 2 15.5 2 M 15.5 0 C 24.06040954589844 0 31 6.939590454101562 31 15.5 C 31 24.06040954589844 24.06040954589844 31 15.5 31 C 6.939590454101562 31 0 24.06040954589844 0 15.5 C 0 6.939590454101562 6.939590454101562 0 15.5 0 Z"
											stroke="none"
											fill="#000"
										/>
									</g>
								</g>
								<line
									id="Line_252"
									data-name="Line 252"
									x1="44"
									y2="71.965"
									transform="translate(960 287.035)"
									fill="none"
									stroke="#000"
									stroke-width="2"
								/>
								<line
									id="Line_253"
									data-name="Line 253"
									x1="44"
									y1="75.035"
									transform="translate(960 359)"
									fill="none"
									stroke="#000"
									stroke-width="2"
								/>
								<g transform="matrix(1, 0, 0, 1, 823.98, 219.27)" filter="url(#Path_11461)">
									<g transform="translate(170.26 211.77)" fill="none">
										<path d="M15.5,0A15.5,15.5,0,1,1,0,15.5,15.5,15.5,0,0,1,15.5,0Z" stroke="none" />
										<path
											d="M 15.5 2 C 11.89402008056641 2 8.503870010375977 3.40424919128418 5.954059600830078 5.954059600830078 C 3.40424919128418 8.503870010375977 2 11.89402008056641 2 15.5 C 2 19.10597991943359 3.40424919128418 22.49612998962402 5.954059600830078 25.04594039916992 C 8.503870010375977 27.59575080871582 11.89402008056641 29 15.5 29 C 19.10597991943359 29 22.49612998962402 27.59575080871582 25.04594039916992 25.04594039916992 C 27.59575080871582 22.49612998962402 29 19.10597991943359 29 15.5 C 29 11.89402008056641 27.59575080871582 8.503870010375977 25.04594039916992 5.954059600830078 C 22.49612998962402 3.40424919128418 19.10597991943359 2 15.5 2 M 15.5 0 C 24.06040954589844 0 31 6.939590454101562 31 15.5 C 31 24.06040954589844 24.06040954589844 31 15.5 31 C 6.939590454101562 31 0 24.06040954589844 0 15.5 C 0 6.939590454101562 6.939590454101562 0 15.5 0 Z"
											stroke="none"
											fill="#000"
										/>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</div>
			</div>
		</div>

		<div class="row">
			<div v-for="product in products" :key="product.id" class="col-60 col-sm-30 col-lg-15 mb-4">
				<ProductSmallCard
					:name="product.name"
					:slug="product.slug"
					:preview-img="product.preview_image ? product.preview_image.path : 'https://via.placeholder.com/1000x500'"
					:price-from="getLowestPrice(product.offers)"
					:product-id="product.id"
				/>
			</div>
		</div>

		<div v-if="activeColorPalette === 'complementary'" class="text-center mt-5 pb-5">
			<Pagination
				v-model="page"
				:per-page="perPage"
				:records="total"
				:options="options"
				@paginate="fetchComplementaryColorsProducts(activeColors.color1, activeColors.color2)"
			/>
		</div>

		<div v-if="activeColorPalette === 'similarly'" class="text-center mt-5 pb-5">
			<Pagination
				v-model="page"
				:per-page="perPage"
				:records="total"
				:options="options"
				@paginate="fetchSimilarColorsProducts(activeColors.color1, activeColors.color2, activeColors.color3)"
			/>
		</div>

		<loading :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>
	</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	name: 'PodlaFarebnosti',
	components: {
		Loading,
	},

	data() {
		return {
			activeColorPalette: 'complementary',
			activeComplementaryColor: 1,
			activeSimilarlyColor: null,
			activeColors: {
				color1: null,
				color2: null,
				color3: null,
			},
			complementaryPos1: true,
			complementaryPos2: false,
			complementaryPos3: false,
			similarlyPos1: true,
			similarlyPos2: false,
			similarlyPos3: false,
			similarlyPos4: false,
			similarlyPos5: false,
			similarlyPos6: false,
			products: [],
			page: 1,
			isLoading: false,
			perPage: 0,
			total: 0,
			options: {
				chunk: 4,
				texts: {
					count: 'Stránka {page} z {pages}',
				},
			},
		};
	},
	head() {
		return {
			title: 'Produkty',
		};
	},

	watch: {
		$route(to, from) {
			this.page = 1;
			this.activeColorPalette = 'complementary';
			if (this.activeColorPalette === 'complementary') {
				this.activeComplementaryColor = 1;
			}
		},

		activeColorPalette(val) {
			this.page = 1;
			if (val === 'complementary') {
				this.activeComplementaryColor = 1;
				this.activeSimilarlyColor = null;
			} else {
				this.activeComplementaryColor = null;
				this.activeSimilarlyColor = 1;
			}
		},

		activeComplementaryColor(val) {
			if (val === 1 || val === 4) {
				this.resetColorsPosition();
				this.complementaryPos1 = true;
				this.fetchComplementaryColorsProducts(2, 5);
			} else if (val === 2 || val === 5) {
				this.resetColorsPosition();
				this.complementaryPos2 = true;
				this.fetchComplementaryColorsProducts(6, 3);
			} else if (val === 3 || val === 6) {
				this.resetColorsPosition();
				this.complementaryPos3 = true;
				this.fetchComplementaryColorsProducts(1, 4);
			}
		},

		activeSimilarlyColor(val) {
			if (val === 1) {
				this.resetColorsPosition();
				this.similarlyPos1 = true;
				this.fetchSimilarColorsProducts(1, 2, 3);
			} else if (val === 2) {
				this.resetColorsPosition();
				this.similarlyPos2 = true;
				this.fetchSimilarColorsProducts(2, 3, 4);
			} else if (val === 3) {
				this.resetColorsPosition();
				this.similarlyPos3 = true;
				this.fetchSimilarColorsProducts(3, 4, 5);
			} else if (val === 4) {
				this.resetColorsPosition();
				this.similarlyPos4 = true;
				this.fetchSimilarColorsProducts(4, 5, 6);
			} else if (val === 5) {
				this.resetColorsPosition();
				this.similarlyPos5 = true;
				this.fetchSimilarColorsProducts(5, 6, 1);
			} else if (val === 6) {
				this.resetColorsPosition();
				this.similarlyPos6 = true;
				this.fetchSimilarColorsProducts(6, 1, 2);
			}
		},
	},

	created() {
		if (this.activeColorPalette === 'complementary') {
			this.fetchComplementaryColorsProducts(2, 5);
		}
	},

	methods: {
		/**
		 * Get lowest price of product
		 * @param offers
		 * @returns {number}
		 */
		getLowestPrice(offers) {
			const minPrice = Math.min.apply(
				Math,
				offers.map(function (offer) {
					return offer.price;
				})
			);

			return minPrice;
		},

		// Fetch complementary colors products
		async fetchComplementaryColorsProducts(color1, color2) {
			this.isLoading = true;
			this.activeColors.color1 = color1;
			this.activeColors.color2 = color2;
			this.activeColors.color3 = null;
			await this.$axios.$get(`/v1/coloring/complementary?colors=${color1},${color2}&page=${this.page}`).then((response) => {
				this.isLoading = false;
				this.products = response.data;
				this.perPage = response.meta.per_page;
				this.total = response.meta.total;
			});
		},

		// Fetch similar colors products
		async fetchSimilarColorsProducts(color1, color2, color3) {
			this.isLoading = true;
			this.activeColors.color1 = color1;
			this.activeColors.color2 = color2;
			this.activeColors.color3 = color3;
			await this.$axios.$get(`/v1/coloring/similar?colors=${color1},${color2},${color3}&page=${this.page}`).then((response) => {
				this.isLoading = false;
				this.products = response.data;
				this.perPage = response.meta.per_page;
				this.total = response.meta.total;
			});
		},
		// Reset colors postition
		resetColorsPosition() {
			this.complementaryPos1 = false;
			this.complementaryPos2 = false;
			this.complementaryPos3 = false;
			this.similarlyPos1 = false;
			this.similarlyPos2 = false;
			this.similarlyPos3 = false;
			this.similarlyPos4 = false;
			this.similarlyPos5 = false;
			this.similarlyPos6 = false;
		},
		// Set active similarly color
		setActiveSimilarlyColor(activeItem) {
			this.activeSimilarlyColor = activeItem;
		},

		// Set active complementary color
		setActiveComplementaryColor(activeItem) {
			this.activeComplementaryColor = activeItem;
		},

		// Active color pallete
		isActiveColorPalette(activeItem) {
			return this.activeColorPalette === activeItem;
		},
		setActiveColorPalette(activeItem) {
			this.activeColorPalette = activeItem;
		},
	},
};
</script>

<style lang="scss" scoped>
g.arrows {
	@include transform(translateY(-7px) rotate(-58deg));
	@include transition(all 0.2s ease-in-out);
	transform-origin: left;
	transform-box: fill-box;
	&.pos-1 {
		@include transform(translateY(-7px) rotate(-58deg));
	}
	&.pos-2 {
		@include transform(translateY(-7px) rotate(0deg));
	}

	&.pos-3 {
		@include transform(translateY(-7px) rotate(61deg));
	}

	&.pos-4 {
		@include transform(translateY(-7px) rotate(120deg));
	}

	&.pos-5 {
		@include transform(translateY(-7px) rotate(181deg));
	}

	&.pos-6 {
		@include transform(translateY(-7px) rotate(240deg));
	}
}

.colorpicker-wrap {
	margin-left: 100px;
	width: 272px;
	@include media-breakpoint-down(md) {
		margin: 0 auto;
	}
}
.color-arrow {
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(translateX(-50%) translateY(-50%) rotate(30deg));
	@include transition(all 0.2s ease-in-out);
	transform-origin: center;
	&.pos-1 {
		@include transform(translateX(-50%) translateY(-50%) rotate(30deg));
	}

	&.pos-2 {
		@include transform(translateX(-50%) translateY(-50%) rotate(90deg));
	}

	&.pos-3 {
		@include transform(translateX(-50%) translateY(-50%) rotate(150deg));
	}
}
svg.colorpicker {
	g.colors {
		path {
			cursor: pointer;
		}
	}
}

button {
	position: relative;
	padding-left: 15px;
	&.active svg {
		opacity: 1;
	}
	svg {
		position: absolute;
		left: 0;
		top: 5px;
		@include transition(opacity 0.2s ease-in-out);
		opacity: 0;
	}
}
h6 {
	font-family: $secondary-font;
	font-size: rem(20px);
	font-weight: $light-font;
}
</style>
