<template>
	<div class="container">
		<ProductTopSwitch />
		<div class="row">
			<div class="col-60 col-lg-15">
				<div class="left-sidebar pb-5">
					<div class="mb-4">
						<h6 :class="{ open: menuRoomVisible }" @click="showMenuRoom()"><fa icon="angle-down" /> Výber miestnosti</h6>
						<transition name="fade-up">
							<ul v-show="menuRoomVisible" class="list-unstyled">
								<li v-for="room in rooms" :key="room.id">
									<button
										type="button"
										:class="{ active: isActiveRoom(room) }"
										@click="
											setActiveRoom(room);
											fetchProducts();
										"
									>
										<fa icon="angle-right" /> {{ room.name }}
									</button>
								</li>
							</ul>
						</transition>
					</div>

					<div class="mb-4">
						<h6 :class="{ open: menuFeelingVisible }" @click="showMenuFeeling()">
							<fa icon="angle-down" />Akými pocitmy chceš prekryť biele steny?
						</h6>
						<transition name="fade-up">
							<ul v-show="menuFeelingVisible" class="list-unstyled">
								<li v-for="feeling in feelings" :key="feeling.id">
									<button
										type="button"
										:class="{ active: isActiveFeeling(feeling) }"
										@click="
											setActiveFeeling(feeling);
											fetchProducts();
										"
									>
										<fa icon="angle-right" /> {{ feeling.name }}
									</button>
								</li>
							</ul>
						</transition>
					</div>

					<div>
						<h6 :class="{ open: menuThemeVisible }" @click="showMenuTheme()"><fa icon="angle-down" />Téma</h6>
						<transition name="fade-up">
							<ul v-show="menuThemeVisible" class="list-unstyled">
								<li v-for="theme in themes" :key="theme.id">
									<button
										type="button"
										:class="{ active: isActiveTheme(theme) }"
										@click="
											setActiveTheme(theme);
											fetchProducts();
										"
									>
										<fa icon="angle-right" />{{ theme.name }}
									</button>
								</li>
							</ul>
						</transition>
					</div>
				</div>
			</div>

			<div class="col-60 col-lg-45 pb-5">
				<h3 class="text-center">
					{{ activeRoomPreviewText }} sa chcem cítiť <span>{{ activeFeeling.name }}</span> {{ activeTheme.name }}
				</h3>

				<div class="row mt-5">
					<loading :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>

					<div v-for="product in products" :key="product.id" class="col-60 col-sm-30 col-lg-20 mb-4">
						<ProductSmallCard
							:name="product.name"
							:slug="product.slug"
							:preview-img="product.preview_image ? product.preview_image.path : 'https://via.placeholder.com/1000x500'"
							:price-from="getLowestPrice(product.offers)"
							:product-id="product.id"
						/>
					</div>
				</div>

				<div class="text-center mt-5">
					<Pagination v-model="page" :per-page="perPage" :records="total" :options="options" @paginate="fetchProducts()" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
	name: 'PodlaMiestnostiATemy',
	components: {
		Loading,
	},

	async asyncData(context) {
		let rooms, feelings, themes;

		await context.app.$axios.$get('/v1/products/category/miestnost').then((response) => {
			rooms = response.data.childs;
		});

		await context.app.$axios.$get('/v1/products/category/pocit').then((response) => {
			feelings = response.data.childs;
		});

		await context.app.$axios.$get('/v1/products/category/tema').then((response) => {
			themes = response.data.childs;
		});

		return {
			rooms,
			feelings,
			themes,
		};
	},
	data() {
		return {
			activeRoom: {},
			activeRoomPreviewText: '',
			activeFeeling: {},
			activeTheme: {},
			menuRoomVisible: true,
			menuFeelingVisible: true,
			menuThemeVisible: true,
			page: 1,
			perPage: 0,
			total: 0,
			products: [],
			isLoading: false,
			options: {
				chunk: 4,
				texts: {
					count: 'Stránka {page} z {pages}',
				},
			},
		};
	},

	head() {
		return {
			title: 'Produkty',
		};
	},

	watch: {
		'activeRoom.name': function (val) {
			if (val === 'Obývačka') {
				this.activeRoomPreviewText = 'V obývačke';
			} else if (val === 'Detská izba') {
				this.activeRoomPreviewText = 'V detskej izbe';
			} else if (val === 'Teen izba') {
				this.activeRoomPreviewText = 'V teen izbe';
			} else if (val === 'Kuchyňa') {
				this.activeRoomPreviewText = 'V kuchyni';
			} else if (val === 'Spálňa') {
				this.activeRoomPreviewText = 'V spálni';
			} else if (val === 'Pracovňa') {
				this.activeRoomPreviewText = 'V pracovni';
			} else if (val === 'Vstupná chodba') {
				this.activeRoomPreviewText = 'Vo vstupnej chodbe';
			} else if (val === 'Kúpeľňa') {
				this.activeRoomPreviewText = 'V kúpeľni';
			}
		},
	},
	created() {
		// Set default active room
		this.activeRoom = this.rooms[0];

		// Set default active feeling
		this.activeFeeling = this.feelings[0];

		// Set default active theme
		this.activeTheme = this.themes[0];

		// Fetch products
		this.fetchProducts();
	},

	mounted() {
		const mediaQuery = window.matchMedia('(max-width:992px)');
		if (mediaQuery.matches) {
			this.menuRoomVisible = false;
			this.menuFeelingVisible = false;
			this.menuThemeVisible = false;
		}
	},

	methods: {
		/**
		 * Get lowest price of product
		 * @param offers
		 * @returns {number}
		 */
		getLowestPrice(offers) {
			const minPrice = Math.min.apply(
				Math,
				offers.map(function (offer) {
					return offer.price;
				})
			);

			return minPrice;
		},

		/**
		 * Fetch products
		 */
		async fetchProducts() {
			this.isLoading = true;
			await this.$axios
				.$get(`/v1/products/filter?categories=${this.activeRoom.id},${this.activeFeeling.id},${this.activeTheme.id}&page=${this.page}`)
				.then((response) => {
					this.products = response.data;
					this.isLoading = false;
					this.perPage = response.meta.per_page;
					this.total = response.meta.total;
				});
		},

		// Menu room toggling
		showMenuRoom() {
			const mediaQuery = window.matchMedia('(max-width:992px)');

			if (mediaQuery.matches) {
				this.menuRoomVisible = !this.menuRoomVisible;
			}
		},

		// Menu room toggling
		showMenuFeeling() {
			const mediaQuery = window.matchMedia('(max-width:992px)');

			if (mediaQuery.matches) {
				this.menuFeelingVisible = !this.menuFeelingVisible;
			}
		},

		// Menu room toggling
		showMenuTheme() {
			const mediaQuery = window.matchMedia('(max-width:992px)');

			if (mediaQuery.matches) {
				this.menuThemeVisible = !this.menuThemeVisible;
			}
		},

		// Set active place
		isActiveRoom(activeItem) {
			return this.activeRoom === activeItem;
		},

		setActiveRoom(activeItem) {
			this.activeRoom = activeItem;
		},

		// Set active feeling
		isActiveFeeling(activeItem) {
			return this.activeFeeling === activeItem;
		},
		setActiveFeeling(activeItem) {
			this.activeFeeling = activeItem;
		},

		// Set active theme
		isActiveTheme(activeItem) {
			return this.activeTheme === activeItem;
		},
		setActiveTheme(activeItem) {
			this.activeTheme = activeItem;
		},
	},
};
</script>

<style lang="scss" scoped>
ul {
	@include media-breakpoint-down(lg) {
		padding-left: 25px !important;
	}
	button:not(.active):hover {
		color: $light-primary-color;
	}
}
h3 {
	color: $light-primary-color;
	font-family: $secondary-font;
	font-weight: $medium-font;
	@include fluid-font($min_width, $max_width, 30px, 52px);
	line-height: 1.2;
	span {
		display: block;
		font-family: $viktor-font;
		@include fluid-font($min_width, $max_width, 55px, 114px);
	}
}
button {
	position: relative;
	padding-left: 15px;
	text-align: left;
	&.active svg {
		opacity: 1;
	}
	svg {
		position: absolute;
		left: 0;
		top: 5px;
		@include transition(opacity 0.2s ease-in-out);
		opacity: 0;
	}
}
h6 {
	font-family: $secondary-font;
	font-size: rem(20px);
	font-weight: $light-font;
	@include media-breakpoint-down(lg) {
		cursor: pointer;
	}
	svg {
		margin-right: 5px;
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&.open svg {
		@include transform(rotate(180deg));
	}
}
</style>
