<template>
	<div class="col-60 col-md-30">
		<article>
			<div class="thumbnail">
				<NuxtLink :to="`/blog/${slug}`">
					<img :src="thumbnail" :alt="title" />
				</NuxtLink>
			</div>

			<div class="d-flex justify-content-between mt-2">
				<span class="category">{{ category }}</span>
				<time>{{ formattedPublishedDate }}</time>
			</div>

			<h3>
				<NuxtLink :to="`/blog/${slug}`">{{ title }}</NuxtLink>
			</h3>

			<p>{{ excerpt }}</p>
		</article>
	</div>
</template>

<script>
export default {
	name: 'ArticleCard',
	props: ['title', 'slug', 'publishedDate', 'category', 'excerpt', 'thumbnail'],

	computed: {
		/**
		 * Format date
		 * @returns {string}
		 */
		formattedPublishedDate() {
			return this.$moment(this.$props.publishedDate).format('D.M.Y');
		},
	},
};
</script>

<style lang="scss" scoped>
.col-60 {
	margin-bottom: 30px;
}
h3 {
	line-height: 1;
	margin-top: 10px;
}
h3 a {
	color: $primary-color;
	@include fluid-font($min_width, $max_width, 20px, 24px);
	font-family: $secondary-font;
	font-weight: $light-font;
	display: block;
	&:hover {
		color: $light-primary-color;
	}
}

span.category {
	font-size: rem(14px);
	font-weight: $bold-font;
}

time {
	font-size: rem(14px);
}

.thumbnail {
	a {
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 60%;
		position: relative;
		overflow: hidden;
		&:hover img {
			@include transform(scale(1.1));
			opacity: 0.6;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			will-change: transform;
			@include transition(all 0.3s ease-in-out);
		}
	}
}
</style>
