<template>
	<article class="pinned-article row">
		<div class="col-60 col-lg-30">
			<div class="thumbnail">
				<img :src="thumbnail" alt="Hlavný obrázok článku" />
				<span class="label">Najnovší článok</span>
			</div>
		</div>

		<div class="col-60 col-lg-30">
			<div class="d-flex justify-content-between mt-1 mt-lg-0">
				<span class="category">{{category}}</span>
				<time>{{formattedPublishedDate}}</time>
			</div>

			<h3 class="my-4"><NuxtLink :to="`/blog/${slug}`">{{title}}</NuxtLink></h3>
			<p>
				{{excerpt}}
			</p>

			<NuxtLink :to="`/blog/${slug}`" class="base-btn"><span>Prejsť na článok</span></NuxtLink>
		</div>
	</article>
</template>

<script>
export default {
	name: 'PinnedArticle',
	props: ['title', 'slug','category','publishedDate','excerpt','thumbnail'],

	computed: {

		/**
		 * Format date
		 * @returns {string}
		 */
		formattedPublishedDate(){
			return this.$moment(this.$props.publishedDate).format('D.M.Y')
		}
	}
};
</script>

<style lang="scss" scoped>
span.category {
	font-weight: $bold-font;
	font-size: rem(15px);
}
h3 {
	font-family: $secondary-font;
	font-weight: $light-font;
	@include fluid-font($min_width, $max_width, 20px, 24px);
	a {
		color: $primary-color;
		&:hover {
			color: $light-primary-color;
		}
	}
}

.base-btn {
	@include media-breakpoint-up(md) {
		max-width: 255px;
	}
	margin-top: 30px;
}
.thumbnail {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 58%;
	.label {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		padding: 3px 25px;
		background-color: $primary-color;
		font-family: $secondary-font;
		font-weight: $light-font;
		color: $white;
		font-size: rem(18px);
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
</style>
