<template>
	<div>
		<!-- MOST READ ARTICLES -->
		<div class="most-read-articles mb-5">
			<h3>Najnovšie články</h3>
			<article v-for="post in latestPosts" :key="post.id">
				<div class="d-flex align-items-center">
					<div class="thumbnail">
						<NuxtLink :to="`/blog/${post.slug}`">
							<img :src="post.featured_images.length > 0  ? post.featured_images[0].path : 'https://via.placeholder.com/1000x500'" alt="Hlavný obrázok článku" />
						</NuxtLink>
					</div>

					<div>
						<small>{{post.categories[0].title}} &mid; <time>{{formattedPublishedDate(post.published_at)}}</time></small>
						<h6><NuxtLink :to="`/blog/${post.slug}`">{{post.title}}</NuxtLink></h6>
					</div>
				</div>
			</article>
		</div>

		<!-- CATEGORIES -->
		<div class="categories">
			<h3>Kategórie</h3>
			<ul class="list-unstyled">
				<li v-for="category in categories" :key="category.id"><NuxtLink :to="`/blog/category/${category.slug}`">{{category.title}}</NuxtLink></li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Sidebar',
	props: ['categories', 'latestPosts'],


	methods: {

		/**
		 * Format date
		 * @returns {string}
		 */
		formattedPublishedDate(date){
			return this.$moment(date).format('D.M.Y')
		}
	},

};
</script>

<style lang="scss" scoped>
.categories {
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}
	a {
		display: block;
		padding: 3px;
		background-color: $white;
		color: $secondary-color;
		text-align: center;
		font-size: rem(14px);
		&:hover {
			background-color: $light-grey;
		}
	}
}
article {
	border-bottom: 1px solid $light-grey;
	padding: 15px 0;
	&:last-of-type {
		border-bottom: none;
	}
}
h6 {
	margin-bottom: 0;
	a {
		color: $primary-color;
		&:hover {
			color: $light-primary-color;
		}
	}
}
small {
	color: $secondary-color;
}
h3 {
	color: $primary-color;
	font-family: $secondary-font;
	font-weight: $light-font;
	font-size: rem(20px);
	margin-bottom: 20px;
}

.thumbnail {
	margin-right: 10px;
	a {
		width: 80px;
		height: 65px;
		display: block;
		position: relative;
		&:hover img {
			opacity: 0.6;
		}
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		@include transition(opacity 0.2s ease-in-out);
	}
}
</style>
