<template>
	<client-only>
		<div>
			<section v-if="cartItems" class="cart">
				<div class="container">
					<div class="top-heading d-flex">
						<p>Produkt</p>
						<p>Materiál</p>
						<p>Veľkosť</p>
						<p>Množstvo</p>
						<p>Cena s DPH</p>
					</div>

					<div class="cart-items">
						<div v-for="item in cart.items" :key="item.id" class="cart-item d-flex align-items-center">
							<div>
								<NuxtLink
									:to="`/produkty/${item.item_offer.product.slug}`"
									class="d-flex flex-column align-items-sm-center flex-sm-row"
								>
									<img
										:src="
											item.item_offer.product.preview_image
												? item.item_offer.product.preview_image.path
												: 'https://via.placeholder.com/1000x500'
										"
										class="img-fluid"
										:alt="item.item_offer.product.name"
									/>
									<p>{{ item.item_offer.product.name }}</p>
								</NuxtLink>
							</div>

							<div>
								<p>{{ item.item_offer.property.find((obj) => obj.name === 'Material').value }}</p>
							</div>

							<div>
								<p>{{ item.item_offer.property.find((obj) => obj.name === 'Rozmery').value }}</p>
							</div>

							<div>
								<div class="quantity d-flex flex-column flex-sm-row">
									<button
										type="button"
										class="decrease"
										@click="$store.dispatch('cart/decreaseQuantity', { quantity: item.quantity, id: item.item_offer.id })"
									>
										<fa icon="minus" />
									</button>
									<input
										:value="item.quantity"
										@blur="$store.dispatch('cart/addQuantity', { quantity: $event.target.value, id: item.item_offer.id })"
										type="number"
									/>
									<button
										type="button"
										class="increase"
										@click="$store.dispatch('cart/increaseQuantity', { quantity: item.quantity, id: item.item_offer.id })"
									>
										<fa icon="plus" />
									</button>
								</div>
							</div>

							<div>
								<p>
									<span>{{ item.price_with_tax_value | toCurrency('SK') }}</span>
								</p>
							</div>
							<button type="button" class="remove-item" @click="$store.dispatch('cart/removeItem', item.item_offer.id)">
								<fa icon="times" />
							</button>
						</div>
					</div>

					<div class="row">
						<div class="col-60 col-lg-30">
							<InfoBox />
						</div>

						<div class="col-60 col-lg-30">
							<div class="summary">
								<div class="d-flex align-items-center justify-content-between">
									<p><strong>Celková suma bez DPH:</strong></p>
									<p>{{ cart.totalPriceWithoutTax | toCurrency('SK') }}</p>
								</div>

								<div class="d-flex align-items-center justify-content-between">
									<p><strong>DPH 20%:</strong></p>
									<p>{{ cart.taxPrice | toCurrency('SK') }}</p>
								</div>

								<div class="d-flex align-items-center justify-content-between">
									<p><strong>Doprava:</strong></p>
									<p>{{ cart.totalShippingPrice | toCurrency('SK') }}</p>
								</div>

								<div class="d-flex align-items-center justify-content-between mb-2">
									<p><strong>Celková suma s DPH:</strong></p>
									<span>{{ cart.totalPriceWithTax | toCurrency('SK') }}</span>
								</div>

								<small>
									Máte zľavový kupón?
									<br />
									Zadajte ho v dalšom kroku
								</small>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- CTA SECTION -->
			<section v-if="cartItems" class="cta mt-5">
				<div class="container d-flex justify-content-center flex-column flex-sm-row">
					<NuxtLink to="/produkty" class="base-btn light-base-btn"><span>Naspäť na prehľadávanie</span></NuxtLink>
					<NuxtLink to="/order/checkout" class="base-btn"><span>Dokončenie objednávky</span></NuxtLink>
				</div>

				<div class="container mt-5">
					<Links />
				</div>
			</section>

			<!-- CROSSELL PRODUCTS -->
			<ProductCrossellSection v-if="cartItems" />

			<loading :active.sync="$store.getters['cart/isLoading']" :can-cancel="false" :is-full-page="true"></loading>
		</div>
	</client-only>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	name: 'Cart',
	components: {
		Loading,
	},
	layout: 'orderPage',
	transition: 'fade-left',

	head() {
		return {
			title: 'Košík',
		};
	},

	computed: {
		...mapGetters('cart', ['cartItems']),
		...mapState('cart', ['cart']),
	},

	created() {
		this.$store.dispatch('cart/fetchCartItems');
	},
};
</script>

<style lang="scss" scoped>
.cta {
	background-color: $grey;
	a {
		max-width: 255px;
		margin: 0 15px;
		@include media-breakpoint-down(sm) {
			max-width: 100%;
			margin: 5px 0;
		}
	}
}

.summary {
	border-top: 1px solid darken($light-grey, 15%);
	padding-top: 30px;
	strong {
		font-weight: $semibold-font;
	}
	span {
		color: $primary-color;
		font-size: rem(34px);
		font-family: $secondary-font;
		font-weight: $light-font;
	}
	small {
		display: block;
		color: $primary-color;
		font-size: rem(14px);
		margin-top: 20px;
	}
}

p {
	color: $black;
	@include media-breakpoint-down(sm) {
		font-size: rem(13px) !important;
	}
}
.quantity {
	width: 65px;
	height: 32px;
	border: 1px solid $primary-color;
	@include border-radius(8px);
	overflow: hidden;
	@include media-breakpoint-only(sm) {
		width: 55px;
	}
	@include media-breakpoint-down(sm) {
		width: 30px;
		height: 69px;
		margin: 0 auto;
	}
	input {
		flex: 0 0 46%;
		width: 100%;
		height: 100%;
		font-size: rem(14px);
		color: $primary-color;
		text-align: center;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&[type='number'] {
			-moz-appearance: textfield;
		}
	}

	button {
		height: 100%;
		flex: 0 0 27%;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: $primary-color;
			svg {
				color: $white;
			}
		}
		svg {
			font-size: rem(11px);
			color: $primary-color;
		}
	}
}
.cart-item {
	padding: 16px 0;
	border-top: 1px solid darken($light-grey, 15%);
	position: relative;
	button.remove-item {
		position: absolute;
		top: 5px;
		right: 0;
		&:hover {
			opacity: 0.5;
		}
	}
	p {
		@include media-breakpoint-only(sm) {
			font-size: rem(14px);
		}
	}
	div:not(.quantity) {
		&:first-child {
			flex: 0 0 40%;
			padding-right: 10px;
			@include media-breakpoint-down(sm) {
				flex: 0 0 30%;
			}
		}

		&:nth-child(2) {
			flex: 0 0 20%;
		}
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			flex: 0 0 13.33%;
		}

		&:last-child {
			text-align: right;
			@include media-breakpoint-down(sm) {
				flex: 0 0 20.33%;
			}
		}

		p span {
			font-family: $secondary-font;
			color: $primary-color;
			font-weight: $light-font;
			font-size: rem(24px);
			@include media-breakpoint-only(sm) {
				font-size: rem(18px);
			}

			@include media-breakpoint-down(sm) {
				font-size: rem(13px);
				font-weight: $bold-font;
			}
		}
	}

	img {
		width: 100%;
		max-width: 160px;
		border: 1px solid $light-grey;
		margin-right: 15px;
		@include media-breakpoint-only(md) {
			max-width: 120px;
		}

		@include media-breakpoint-down(md) {
			max-width: 70px;
		}
	}

	a:hover {
		opacity: 0.6;
	}
}
section.cart {
	padding: 0 !important;
}
.top-heading {
	padding-bottom: 5px;
	p {
		color: $primary-color;
		@include media-breakpoint-only(sm) {
			font-size: rem(14px);
		}

		@include media-breakpoint-down(sm) {
			font-size: rem(10px) !important;
		}
		&:first-child {
			flex: 0 0 40%;
			@include media-breakpoint-down(sm) {
				flex: 0 0 30%;
			}
		}
		&:nth-child(2) {
			flex: 0 0 20%;
		}
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			flex: 0 0 13.33%;
		}

		&:nth-child(5) {
			text-align: right;
			@include media-breakpoint-down(sm) {
				flex: 0 0 22.33%;
			}
		}

		&:nth-child(4) {
			@include media-breakpoint-down(sm) {
				text-align: center;
			}
		}
	}
}
</style>
