<template>
	<section v-if="cartItems" class="checkout">
		<div class="container">
			<div class="row">
				<div class="col-60">
					<div class="checkout-form">
						<ul class="list-unstyled d-flex switch-form">
							<li v-if="!$auth.loggedIn">
								<button type="button" :class="{ active: activeForm === 'withoutreg' }" @click="setActiveForm('withoutreg')">
									Nákup bez registrácie
								</button>
							</li>

							<li v-if="!$auth.loggedIn">
								<button type="button" :class="{ active: activeForm === 'registration' }" @click="setActiveForm('registration')">
									Registrácia
								</button>
							</li>

							<li v-if="!$auth.loggedIn">
								<button type="button" :class="{ active: activeForm === 'login' }" @click="setActiveForm('login')">Mám konto</button>
							</li>

							<li v-if="$auth.loggedIn">
								<button type="button" :class="{ active: $auth.loggedIn }">Môj profil</button>
							</li>
						</ul>

						<div v-if="!$auth.loggedIn">
							<!-- without registration -->
							<FormWithoutRegistration
								v-show="activeForm === 'withoutreg'"
								:promo-code="promoCode"
								:send-order-trigger="sendOrderTriggers.sendOrderWithoutRegistration"
							/>

							<!-- registration -->
							<FormRegistration
								v-show="activeForm === 'registration'"
								:in-checkout="true"
								:promo-code="promoCode"
								:send-order-trigger="sendOrderTriggers.sendOrderWithRegistration"
							/>

							<!-- login -->
							<FormLogin
								v-show="activeForm === 'login'"
								:in-checkout="true"
								:send-order-trigger="sendOrderTriggers.sendOrderWithoutLoggedInUser"
							/>
						</div>

						<!-- user profile -->
						<FormProfile
							v-if="$auth.loggedIn"
							:in-checkout="true"
							:promo-code="promoCode"
							:send-order-trigger="sendOrderTriggers.sendOrderLoggedInUser"
						/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-60 col-lg-20">
					<InfoBox />
				</div>

				<div class="col-60 col-lg-40">
					<div class="cart-summary">
						<h4>Tvoja objednávka</h4>
						<div v-for="item in cart.items" :key="item.id" class="item d-flex justify-content-between align-items-center">
							<div class="d-flex align-items-center pe-2">
								<NuxtLink :to="`/produkty/${item.item_offer.product.slug}`">
									<img
										:src="
											item.item_offer.product.preview_image
												? item.item_offer.product.preview_image.path
												: 'https://via.placeholder.com/1000x500'
										"
										class="img-fluid"
										:alt="item.item_offer.product.name"
									/>
								</NuxtLink>
								<div>
									<NuxtLink :to="`/produkty/${item.item_offer.product.slug}`">
										<h6>{{ item.item_offer.product.name }}</h6>
									</NuxtLink>
									<small>{{ item.item_offer.property.find((obj) => obj.name === 'Material').value }}</small>
									<small>{{ item.item_offer.property.find((obj) => obj.name === 'Rozmery').value }}</small>
								</div>
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<p class="quantity pe-2">{{ item.quantity }}</p>
								<p class="price">
									<strong>{{ item.price_with_tax_value | toCurrency('SK') }}</strong>
								</p>
							</div>
						</div>

						<p class="d-flex justify-content-between mt-3">
							DPH 20%: <span>{{ $store.state.cart.cart.taxPrice | toCurrency('SK') }}</span>
						</p>

						<p class="d-flex justify-content-between">
							Celková suma bez DPH: <span>{{ $store.state.cart.cart.totalPriceWithoutTax | toCurrency('SK') }}</span>
						</p>

						<p class="d-flex justify-content-between">
							Doprava: <span>{{ $store.state.cart.cart.totalShippingPrice | toCurrency('SK') }}</span>
						</p>

						<h5>
							Celková suma s DPH: <span>{{ $store.state.cart.cart.totalPriceWithTax | toCurrency('SK') }}</span>
						</h5>

						<button type="button" class="base-btn mt-2" @click="sendOrder()">
							<span>Objednať s povinnosťou platby</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<loading :active.sync="$store.getters['cart/isLoading']" :can-cancel="false" :is-full-page="true"></loading>
	</section>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	name: 'Checkout',
	components: {
		Loading,
	},
	layout: 'orderPage',
	transition: 'fade-left',

	data() {
		return {
			activeForm: 'withoutreg',
			sendOrderTriggers: {
				sendOrderWithoutRegistration: false,
				sendOrderWithRegistration: false,
				sendOrderLoggedInUser: false,
				sendOrderWithoutLoggedInUser: false,
			},
			promoCode: '',
		};
	},

	head() {
		return {
			title: 'Dokončenie objednávky',
		};
	},

	computed: {
		...mapState('cart', ['cart']),
		...mapGetters('cart', ['cartItems']),
	},

	mounted() {
		this.$auth.options.redirect.home = '/order/checkout';
	},

	beforeDestroy() {
		this.$auth.options.redirect.home = '/';
	},



	created() {
		/**
		 * Fetch shipping methods
		 */
		this.$store.dispatch('cart/fetchShippingMethods');

		/**
		 * If user logged in set activeForm to profile
		 */
		if (this.$auth.loggedIn) {
			this.activeForm = 'profile';
		}
			this.$nuxt.$on('user-logged-in',()=> {
				this.activeForm = 'profile'
			});


		/**
		 * Add/remove promocode
		 */
		this.$nuxt.$on('add-promo-code', ($event) => {
			this.promoCode = $event;
		});

		this.$nuxt.$on('remove-promo-code', ($event) => {
			this.promoCode = $event;
		});
	},

	methods: {
		// Send order
		sendOrder() {
			if (this.activeForm === 'withoutreg') {
				this.sendOrderTriggers.sendOrderWithoutRegistration = !this.sendOrderTriggers.sendOrderWithoutRegistration;
			} else if (this.activeForm === 'registration') {
				this.sendOrderTriggers.sendOrderWithRegistration = !this.sendOrderTriggers.sendOrderWithRegistration;
			} else if (this.activeForm === 'profile') {
				this.sendOrderTriggers.sendOrderLoggedInUser = !this.sendOrderTriggers.sendOrderLoggedInUser;
			} else if (this.activeForm === 'login') {
				this.sendOrderTriggers.sendOrderWithoutLoggedInUser = !this.sendOrderTriggers.sendOrderWithoutLoggedInUser;
			}
		},
		/**
		 * Set active form
		 * @param val
		 */
		setActiveForm(val) {
			this.activeForm = val;
		},
	},
};
</script>

<style lang="scss" scoped>
.cart-summary {
	@include box-shadows(0px 0 10px -1px rgba(58, 58, 58, 16%));
	padding: 20px;
	margin-top: 34px;
	.item {
		padding: 10px 0;
		border-bottom: 1px solid $light-grey;
		& > div:first-child {
			flex: 0 0 70%;
		}

		& > div:last-child {
			flex: 0 0 30%;
		}
	}

	img {
		max-width: 60px;
		max-height: 50px;
		border: 1px solid $light-grey;
		margin-right: 5px;
	}

	h6 {
		font-size: rem(13px);
		color: $primary-color;
		margin-bottom: 2px;
	}

	h5 {
		font-size: rem(18px);
		font-weight: $black-font;
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			color: $primary-color;
			font-family: $secondary-font;
			font-weight: $light-font;
			font-size: rem(22px);
		}
	}

	h4 {
		font-size: rem(22px);
		font-weight: $bold-font;
	}

	small {
		font-size: rem(11px);
		display: block;
	}
}

.switch-form {
	button {
		background-color: $light-primary-color;
		color: $white;
		margin-right: 1px;
		padding: 5px 20px;
		height: 100%;
		@include media-breakpoint-down(sm) {
			font-size: rem(13px);
			padding: 5px 10px;
		}
		&.active {
			background-color: darken($primary-color, 5%);
		}
	}
}
section.checkout {
	padding: 0 0 80px 0 !important;
}
</style>
