<template>
	<div>
		<!--		<div v-if="loading" class="loading"></div>  -->

		<!-- Main header of the page -->
		<MainHeader />

		<!-- Main content of the page -->
		<main>
			<Nuxt keep-alive />
			<ModalCustomPrint v-show="isCustomPrintModalVisible" />
			<SearchBar v-if="searchOpen" />
		</main>

		<!-- Main footer of the page -->
		<MainFooter />
	</div>
</template>

<script>
export default {
	name: 'Default',
	data() {
		return {
			isCustomPrintModalVisible: false,
			isDefaultModalVisible: false,
			searchOpen: false,
			loading: false,
		};
	},

	watch: {
		isCustomPrintModalVisible() {
			if (this.isCustomPrintModalVisible) {
				document.querySelector('html').classList.add('modal-open');
			} else {
				document.querySelector('html').classList.remove('modal-open');
			}
		},

		isDefaultModalVisible() {
			if (this.isDefaultModalVisible) {
				document.querySelector('html').classList.add('modal-open');
			} else {
				document.querySelector('html').classList.remove('modal-open');
			}
		},
	},

	created() {
		/**
		 * Search bar opening
		 */
		this.$nuxt.$on('open-search', () => {
			this.searchOpen = true;
		});

		this.$nuxt.$on('close-search', () => {
			this.searchOpen = false;
		});

		/**
		 * Custom print modal opening
		 */
		this.$nuxt.$on('show-modal-custom-print', () => {
			this.isCustomPrintModalVisible = true;
		});

		this.$nuxt.$on('close-modal-custom-print', () => {
			this.isCustomPrintModalVisible = false;
		});

		/**
		 * Default modal opening
		 */
		this.$nuxt.$on('open-modal', () => {
			this.isDefaultModalVisible = true;
		});

		this.$nuxt.$on('close-modal', () => {
			this.isDefaultModalVisible = false;
		});
	},
};
</script>

<style lang="scss" scoped>
.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}
</style>
