<template>
	<div class="page-not-found text-center">
		<div class="container">
			<h1>404</h1>
			<h2>Oops! Stránku sa nepodarilo nájsť.</h2>
			<NuxtLink to="/" class="base-btn mt-3"><span>späť na hlavnú stránku</span></NuxtLink>
		</div>
	</div>
</template>

<script>
export default {
	name: 'PageNotFound',

	head() {
		return {
			title: '404',
		};
	},
};
</script>

<style lang="scss" scoped>
.page-not-found {
	padding: 150px 0;
}

h1 {
	@include fluid-font($min_width, $max_width, 30px, 80px);
	font-family: $secondary-font;
	font-weight: $thin-font;
}

.base-btn {
	max-width: 250px;
}
</style>
