<template>
	<div>
		<!-- Main header of the page -->
		<MainHeader />

		<!-- Main content of the page -->
		<main>
			<!-- ORDER PAGE -->
			<section v-if="cartItems" class="order-steps">
				<div class="container d-flex justify-content-center">
					<div class="progressbar">
						<ol class="list-unstyled">
							<li :class="{ current: $nuxt.$route.path === '/order/cart' }">
								<NuxtLink to="/order/cart"><span>1.</span>Košík</NuxtLink>
							</li>
							<li :class="{ current: $nuxt.$route.path === '/order/checkout' }">
								<NuxtLink to="/order/checkout"><span>2.</span>Dokončenie objednávky</NuxtLink>
							</li>
						</ol>
					</div>
				</div>
			</section>

			<div v-else>
				<section class="empty-cart">
					<div class="container text-center">
						<img src="~assets/img/empty-cart.png" class="img-fluid d-block mx-auto" alt="Prázdny košík" />
						<h3>Váš nákupný košík je prázdny!</h3>
						<NuxtLink to="/produkty" class="base-btn"><span>Nakupovať</span></NuxtLink>
					</div>
				</section>

				<ProductRecommendedSection />
			</div>

			<Nuxt />
			<SearchBar v-if="searchOpen" />
		</main>

		<!-- Main footer of the page -->
		<MainFooter />
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'OrderPage',
	data() {
		return {
			searchOpen: false,
		};
	},

	computed: {
		...mapGetters('cart', ['cartItems']),
	},
	created() {
		/* Search bar opening
		 */
		this.$nuxt.$on('open-search', () => {
			this.searchOpen = true;
		});

		this.$nuxt.$on('close-search', () => {
			this.searchOpen = false;
		});
	},
};
</script>

<style lang="scss" scoped>
.empty-cart {
	h3 {
		@include fluid-font($min_width, $max_width, 24px, 55px);
		font-weight: $black-font;
	}
	img {
		max-width: 200px;
		margin-bottom: 30px;
	}

	a {
		max-width: 255px;
		margin-top: 20px;
	}
}

section {
	padding: 80px 0 40px 0 !important;
}
.progressbar {
	width: 33%;
	@include media-breakpoint-down(sm) {
		padding: 0 30px 0 30px;
	}

	@include media-breakpoint-down(md) {
		width: 100%;
	}
	ol {
		position: relative;

		&:before {
			content: ' ';
			width: 100%;
			height: 1px;
			left: 0;
			right: 0;
			top: 24px;
			position: absolute;
			background-color: darken($light-grey, 10%);
		}

		&:after {
			clear: both;
			content: ' ';
			display: table;
		}

		li {
			float: left;
			position: relative;
			height: 60px;

			&:first-child {
				position: absolute;

				a:before {
					height: 17px !important;
					margin-left: -8.5px !important;
					top: 15.5px !important;
					width: 17px !important;
				}
			}

			&:not(:first-child) {
				width: 100%;
			}

			&.current ~ li a:before {
				background-color: darken($light-grey, 15%);
				width: 10px;
				height: 10px;
				margin-left: -5px;
				top: 19px;
			}

			&:before {
				content: '';
				background-color: $secondary-color;
				height: 1px;
				left: 0;
				position: absolute;
				top: 24px;
				width: 100%;
			}

			&.current:before,
			&.current ~ li:before {
				width: 0;
			}

			&.current:before {
				animation: line 0.8s forwards;
			}

			&.current a:before,
			&.current ~ li a:before {
				width: 10px;
				height: 10px;
				margin-left: -5px;
				background-color: $secondary-color;
				top: 19px;
			}

			&.current a:before {
				animation: step 0.2s 0.8s forwards;
			}

			&.current a:after {
				animation: opacity 0.2s 0.9s forwards;
			}

			&:first-child span,
			&.current span {
				opacity: 1;
				@include transition(opacity 0.3s 0.4s ease-in-out);
			}

			&:first-child a:before,
			&:first-child a:after {
				animation: none;
			}

			&:first-child.current a:after {
				opacity: 1;
			}
			a {
				padding-top: 50px;
				position: absolute;
				right: -57.5px;
				text-align: center;
				width: 115px;
				z-index: 1;
				font-size: rem(14px);
				color: $black;
				font-weight: $light-font;
				@include media-breakpoint-down(sm) {
					font-size: rem(12px);
					width: 80px;
					right: -40px;
				}
				&:before {
					content: '';
					background-color: $secondary-color;
					@include border-radius(50%);
					height: 17px;
					left: 50%;
					margin-left: -8.5px;
					position: absolute;
					top: 15.5px;
					width: 17px;
				}

				&:after {
					content: ' ';
					width: 7px;
					height: 7px;
					@include border-radius(50%);
					background-color: $white;
					position: absolute;
					left: 50%;
					top: 21px;
					margin-left: -3.5px;
					opacity: 0;
				}

				span {
					font-weight: $bold-font;
					position: absolute;
					top: -10px;
					left: 50%;
					@include transform(translateX(-50%));
					opacity: 0.3;
				}
			}
		}
	}
}
</style>
