<template>
	<div>
		<!-- Main header of the page -->
		<MainHeader />

		<!-- Main content of the page -->
		<main>
			<!-- USER PROFILE -->
			<section class="user-profile">
				<div class="container">
					<div class="row">
						<div class="col-60 col-lg-15">
							<UserSidebar />
						</div>

						<div class="col-60 col-lg-45">
							<Nuxt />
						</div>
					</div>
				</div>
			</section>

			<SearchBar v-if="searchOpen" />
		</main>

		<!-- Main footer of the page -->
		<MainFooter />
	</div>
</template>

<script>
export default {
	name: 'User',

	data() {
		return {
			searchOpen: false,
		};
	},

	created() {
		/* Search bar opening
		 */
		this.$nuxt.$on('open-search', () => {
			this.searchOpen = true;
		});

		this.$nuxt.$on('close-search', () => {
			this.searchOpen = false;
		});
	},
};
</script>

<style scoped></style>
