<template>
	<div class="container text-center">
		<h2>Najpredávanejšie</h2>
		<div class="row mt-5">
			<ProductBigCard v-for="card in 2" :key="card" />
		</div>
	</div>
</template>

<script>
export default {
	name: 'BestSelling',
};
</script>

<style scoped></style>
