<template>
	<div class="col-60 col-md-30">
		<div class="big-card">
			<button type="button"><fa :icon="['far', 'heart']" /></button>
			<NuxtLink to="/produkty">
				<span class="label">Najpredávanejšie</span>
				<div class="img-wrap">
					<img src="~assets/img/prales-img.jpg" alt="Amazónsky dažďový prales a rieka Amazon" />
				</div>

				<div class="product-info text-center">
					<h6>Amazónsky dažďový prales a rieka Amazon</h6>
					<span>Od 6,10€</span>
				</div>
			</NuxtLink>
		</div>
	</div>
</template>

<script>
export default {
	name: 'BigCard',
};
</script>

<style lang="scss" scoped>
.col-60 {
	margin-bottom: 30px;
	&:last-of-type {
		margin-bottom: 0;
	}
}
.product-info {
	padding: 20px;
	h6 {
		color: $black;
		margin-bottom: 15px;
	}
	span {
		font-family: $secondary-font;
		font-size: rem(24px);
		font-weight: $light-font;
		color: $primary-color;
	}
}

.big-card {
	max-width: 445px;
	margin: 0 auto;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: $white;
	@include transition(box-shadow 0.2s ease-in-out);
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	&:hover {
		@include box-shadows(0px 9px 22px -2px rgba($primary-color, 46%));
	}
	a {
		display: block;
	}
	&:hover button {
		opacity: 1;
		@include transform(translateX(0));
	}
	button {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 23px;
		height: 23px;
		background-color: $white;
		@include border-radius(50%);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 5;
		@include box-shadows(0px 2px 6px 0px rgba($black, 0.26));
		opacity: 0;
		@include transform(translateX(20px));
		@include media-breakpoint-down(lg) {
			opacity: 1;
			@include transform(translateX(0));
		}
		&:hover {
			background-color: $red;
			svg {
				color: $white;
			}
		}
		svg {
			color: $primary-color;
			font-size: rem(13px);
		}
	}
	.img-wrap {
		width: 100%;
		height: 400px;
		@include media-breakpoint-down(lg) {
			height: auto;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.label {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		background-color: $primary-color;
		color: $white;
		font-size: rem(20px);
		font-family: $secondary-font;
		font-weight: $light-font;
		padding: 5px 27px;
		@include media-breakpoint-down(sm) {
			font-size: rem(16px);
			padding: 5px 15px;
		}
	}
}
</style>
