<template>
	<div class="container">
		<h2 class="text-center">Vyberte si filter</h2>
		<div class="row mt-5">
			<div class="col-60 col-md-15">
				<div class="box text-center">
					<NuxtLink to="/produkty/kategoria">
						<div class="img-wrap">
							<img src="~assets/img/category-icon.svg" class="img-fluid" alt="Ikona kategórie" />
							<img src="~assets/img/category-icon-hover.svg" class="hover-img img-fluid" alt="Ikona kategórie" />
						</div>

						<h6>Kategórie</h6>
						<p>
							Vyberte si motív produktu podľa jeho dizajnovej kategórie! Vďaka filtru Kategórie nájdete vysnívaný motív ľahko a rýchlo.
						</p>
					</NuxtLink>
				</div>
			</div>

			<div class="col-60 col-md-15">
				<div class="box text-center">
					<NuxtLink to="/produkty/podla-miestnosti-a-temy">
						<div class="img-wrap">
							<img src="~assets/img/miestnosti-icon-default.svg" class="img-fluid" alt="Ikona podľa miestnosti" />
							<img src="~assets/img/miestnosti-icon-color.svg" class="hover-img img-fluid" alt="Ikona podľa miestnosti" />
						</div>

						<h6>Miestnosti a témy</h6>
						<p>Hľadáte motív do konkrétnej miestnosti vášho domova? Vďaka tomuto filtru nájdete to pravé.</p>
					</NuxtLink>
				</div>
			</div>

			<div class="col-60 col-md-15">
				<div class="box text-center">
					<NuxtLink to="/produkty/podla-farebnosti">
						<div class="img-wrap">
							<img src="~assets/img/farebnost-icon-default.svg" class="img-fluid" alt="Ikona podľa farebnosti" />
							<img src="~assets/img/farebnost-icon-color.svg" class="hover-img img-fluid" alt="Ikona podľa farebnosti" />
						</div>

						<h6>Farebnosť</h6>
						<p>Ak máte jasno v tom, akej farby bude vaša nová tapeta či obraz, použite filter Farebnosť a vyberte si ten pravý motív.</p>
					</NuxtLink>
				</div>
			</div>

			<div class="col-60 col-md-15">
				<div class="box text-center">
					<button type="button" @click="showModalCustomPrint()">
						<div class="img-wrap">
							<img src="~assets/img/vlastny-motiv-icon-default.svg" class="img-fluid" alt="Ikona vlastný motív" />
							<img src="~assets/img/vlastny-motiv-icon-color.svg" class="hover-img img-fluid" alt="Ikona vlastný motív" />
						</div>

						<h6>Vlastný motív</h6>
						<p>Máte radi unikátne a nevšedné veci? Pošlite nám váš motív a my vám ho pripravíme v želanom formáte, na mieru!</p>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CategorySection',
	methods: {
		showModalCustomPrint() {
			this.$nuxt.$emit('show-modal-custom-print');
		},
	},
};
</script>

<style lang="scss" scoped>
.col-60:not(:last-child) {
	@include media-breakpoint-down(md) {
		margin-bottom: 30px;
	}
}
img {
	@include media-breakpoint-down(lg) {
		width: 150px;
	}
}
.img-wrap {
	position: relative;
	@include media-breakpoint-only(md) {
		height: 180px !important;
	}
	@include media-breakpoint-up(md) {
		height: 210px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hover-img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		@include transition(opacity 0.2s ease-in-out);
		opacity: 0;
	}
}
.box {
	max-width: 265px;
	margin: 0 auto;

	a:hover .hover-img,
	button:hover .hover-img {
		opacity: 1;
	}
}
h6 {
	margin: 30px 0;
	font-family: $secondary-font;
	font-weight: $medium-font;
	font-size: rem(22px);
	color: $black;
}
</style>
