<template>
	<section class="crossell">
		<div class="container">
			<h2 class="text-center">Doplnkové produkty</h2>
			<div class="row mt-5">
				<div v-for="item in productItems" :key="item" class="col-60 col-sm-30 col-lg-15">
					<ProductSmallCard />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'Crossell',
	data() {
		return {
			productItems: 4,
		};
	},
};
</script>

<style lang="scss" scoped>
.col-60 {
	@include media-breakpoint-down(lg) {
		margin-bottom: 30px;
	}
}
</style>
