<template>
	<section class="recommended-products">
		<div class="container text-center">
			<h2>Odporúčané produkty</h2>
			<div class="row mt-5">
				<div v-for="item in 4" :key="item" class="col-60 col-sm-30 col-lg-15">
					<ProductSmallCard />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'Recommended',
};
</script>

<style lang="scss" scoped>
.recommended-products {
	background-color: $white;
	.col-60 {
		@include media-breakpoint-down(lg) {
			margin-bottom: 30px;
		}
	}
}
</style>
