<template>
	<div class="small-card" :class="{ 'in-wishlist': inWishlist }">
		<button v-if="$auth.loggedIn" type="button" @click="wishlist()">
			<fa :icon="['far', 'heart']" />
			<span v-if="inWishlist" class="c-tooltip-wrap">
				<span class="c-tooltip"> Odstrániť produkt z wishlistu </span>
			</span>
		</button>

		<NuxtLink :to="`/produkty/${slug}`">
			<div class="img-wrap">
				<img :src="previewImg" :alt="name" />
			</div>

			<div class="product-info text-center">
				<h6>{{ name }}</h6>
				<span>Od {{ priceFrom | toCurrency('SK') }}</span>
			</div>
		</NuxtLink>
	</div>
</template>

<script>
export default {
	name: 'SmallCard',
	props: ['inWishlist', 'name', 'slug', 'previewImg', 'priceFrom', 'productId'],

	methods: {
		wishlist() {
			if (this.inWishlist) {
				this.$axios
					.get(`/v1/cart/remove-from-wishlist?product_id=${this.$props.productId}`)
					.then(() => {
						this.$nuxt.$emit('removed-from-wishlist');
						this.$swal({
							title: 'OK',
							text: 'Produkt bol odstránený z  wishlistu.',
							icon: 'success',
							background: '#7DB212',
						});
					})
					.catch((e) => e);
			} else {
				this.$axios
					.get(`/v1/cart/add-to-wishlist?product_id=${this.$props.productId}`)
					.then(() => {
						this.$nuxt.$emit('added-to-wishlist');
						this.$swal({
							title: 'OK',
							text: 'Produkt bol pridaný do wishlistu.',
							icon: 'success',
							background: '#7DB212',
						});
					})
					.catch((e) => e);
			}
		},
	},
};
</script>

<style lang="scss" scoped>
.c-tooltip-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	.c-tooltip {
		position: absolute;
		right: 20px;
		top: 50%;
		@include transform(translateY(-50%) translateX(15px));
		@include border-radius(4px);
		white-space: nowrap;
		font-size: rem(12px);
		background-color: rgba(0, 0, 0, 0.6);
		color: $white;
		display: block;
		padding: 2px 5px;
		@include transition(all 0.2s ease-in-out);
		opacity: 0;
		visibility: hidden;
	}
}
.in-wishlist button {
	opacity: 1 !important;
	@include transform(translateX(0) !important);
	background-color: $red !important;
	svg {
		color: $white !important;
	}
	&:hover .c-tooltip {
		opacity: 1;
		visibility: visible;
		@include transform(translateY(-50%) translateX(0));
	}
}
.product-info {
	padding: 20px;
	h6 {
		color: $black;
		margin-bottom: 15px;
	}
	span {
		font-family: $secondary-font;
		font-size: rem(24px);
		font-weight: $light-font;
		color: $primary-color;
	}
}

.small-card {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: $white;
	@include transition(box-shadow 0.2s ease-in-out);
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	@include media-breakpoint-down(lg) {
		margin-bottom: 30px;
	}
	&:hover {
		@include box-shadows(0px 9px 22px -2px rgba($primary-color, 46%));
	}
	a {
		display: block;
	}
	&:hover button {
		opacity: 1;
		@include transform(translateX(0));
	}
	button {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 23px;
		height: 23px;
		background-color: $white;
		@include border-radius(50%);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 5;
		@include box-shadows(0px 2px 6px 0px rgba($black, 0.26));
		opacity: 0;
		@include transform(translateX(20px));
		@include media-breakpoint-down(lg) {
			opacity: 1;
			@include transform(translateX(0));
		}
		&:hover {
			background-color: $red;
			svg {
				color: $white;
			}
		}
		svg {
			color: $primary-color;
			font-size: rem(13px);
		}
	}
	.img-wrap {
		width: 100%;
		height: 0;
		position: relative;
		padding-bottom: 80%;
		@include media-breakpoint-down(lg) {
			height: auto;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.label {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		background-color: $primary-color;
		color: $white;
		font-size: rem(20px);
		font-family: $secondary-font;
		font-weight: $light-font;
		padding: 5px 27px;
		@include media-breakpoint-down(sm) {
			font-size: rem(16px);
			padding: 5px 15px;
		}
	}
}
</style>
