<template>
	<div class="d-flex justify-content-between py-5">
		<button type="button" class="d-flex align-items-center" @click="showModalCustomPrint()">
			<div class="arrow"><fa icon="angle-left" /></div>
			<div class="text-center">
				<div class="img-wrap">
					<img src="~assets/img/vlastny-motiv-icon-default.svg" class="img-fluid" alt="Ikonka vlastný motív" />
					<img src="~assets/img/vlastny-motiv-icon-color.svg" class="hover img-fluid" alt="Ikonka vlastný motív" />
				</div>
				<h6>Vlastný motív</h6>
			</div>
		</button>

		<NuxtLink
			v-if="$route.path === '/produkty/podla-miestnosti-a-temy' || $route.path === '/produkty/podla-farebnosti'"
			to="/produkty/kategoria"
			class="d-flex align-items-center"
		>
			<div class="text-center">
				<div class="img-wrap">
					<img src="~assets/img/category-icon.svg" class="img-fluid" alt="Ikonka kategórie" />
					<img src="~assets/img/category-icon-hover.svg" class="hover img-fluid" alt="Ikonka kategórie" />
				</div>
				<h6>Kategórie</h6>
			</div>
		</NuxtLink>

		<NuxtLink
			v-if="$route.path === '/produkty/podla-miestnosti-a-temy' || $route.path === '/produkty/kategoria'"
			to="/produkty/podla-farebnosti"
			class="d-flex align-items-center"
		>
			<div class="text-center">
				<div class="img-wrap">
					<img src="~assets/img/farebnost-icon-default.svg" class="img-fluid" alt="Ikonka podľa farebnosti" />
					<img src="~assets/img/farebnost-icon-color.svg" class="hover img-fluid" alt="Ikonka podľa farebnosti" />
				</div>
				<h6>Farebnosť</h6>
			</div>

			<div v-if="$route.path != '/produkty/kategoria'" class="arrow"><fa icon="angle-right" /></div>
		</NuxtLink>

		<NuxtLink
			v-if="$route.path === '/produkty/podla-farebnosti' || $route.path === '/produkty/kategoria'"
			to="/produkty/podla-miestnosti-a-temy"
			class="d-flex align-items-center"
		>
			<div class="text-center">
				<div class="img-wrap">
					<img src="~assets/img/miestnosti-icon-default.svg" class="img-fluid" alt="Ikonka podľa miestnosti" />
					<img src="~assets/img/miestnosti-icon-color.svg" class="hover img-fluid" alt="Ikonka podľa miestnosti" />
				</div>
				<h6>Miestnosti a témy</h6>
			</div>

			<div class="arrow"><fa icon="angle-right" /></div>
		</NuxtLink>
	</div>
</template>

<script>
export default {
	name: 'TopSwitch',
	methods: {
		showModalCustomPrint() {
			this.$nuxt.$emit('show-modal-custom-print');
		},
	},
};
</script>

<style lang="scss" scoped>
button:hover,
a:hover {
	.hover {
		opacity: 1;
	}
}
.img-wrap {
	position: relative;
}
img {
	width: 60px;
	&.hover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		@include transition(opacity 0.2s ease-in-out);
		opacity: 0;
	}
}
.arrow {
	width: 23px;
	height: 23px;
	background-color: $secondary-color;
	@include border-radius(50%);
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		color: $white;
	}
}

h6 {
	margin-bottom: 0;
	margin-top: 5px;
	font-family: $secondary-font;
	font-weight: $medium-font;
	font-size: rem(14px);
	color: $secondary-color;
}
</style>
