<template>
	<div class="container text-center">
		<h2>Vyberte si svoj produkt</h2>
		<div class="row mt-5">
			<div class="col-60 col-sm-30 col-lg-20">
				<div class="box text-center">
					<div class="img-wrap">
						<img src="~assets/img/platno-img.jpg" alt="Obraz" />
					</div>
					<p>Plátno</p>
					<div class="hover d-flex align-items-center justify-content-center">
						<div>
							<h6>Plátno</h6>
							<p>
								Prémiové plátno s obsahom bavlny - vhodné na tlač fotografie aj umeleckých diel. Zloženie: 65% bavlna, 35% polyester
								Gramáž: 353g/m2
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-60 col-sm-30 col-lg-20">
				<div class="box text-center">
					<div class="img-wrap">
						<img src="~assets/img/papier-img.jpg" alt="Fotopapier" />
					</div>
					<p>Plagát / Fotopapier</p>

					<div class="hover d-flex align-items-center justify-content-center">
						<div>
							<h6>Plagát / Fotopapier</h6>
							<p>Papier vysokej kvality, vhodný na tlač plagátov – povrch satin Gramáž: 220g/m2</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-60 col-sm-30 col-lg-20">
				<div class="box text-center">
					<div class="img-wrap">
						<img src="~assets/img/fototapeta-img.jpg" alt="Fototapeta" />
					</div>
					<p>Tapeta</p>

					<div class="hover d-flex align-items-center justify-content-center">
						<div>
							<h6>Tapeta</h6>
							<p>
								Vliesová tapeta hladká - gramáž 150g/m2 - hrúbka 270 μm <br />
								Samolepiaca tapeta hladká - hrúbka 100 μm <br />
								Samolepiaca tapeta s imitáciou plátna - gramáž 220g/m2 - hrúbka 330 μm
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'TypeSection',
};
</script>

<style lang="scss" scoped>
.hover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba($black, 0.7);
	@include transition(opacity 0.2s linear);
	opacity: 0;
	& > div {
		max-width: 250px;
		padding: 15px;
	}

	h6 {
		font-family: $secondary-font;
		font-weight: $light-font;
		color: $white;
		font-size: rem(20px);
		@include transition(all 0.2s linear);
		@include transform(translateX(-20px));
		opacity: 0;
	}

	p {
		font-size: rem(14px);
		color: $white;
		padding: 0;
		@include transition(all 0.2s linear);
		@include transform(translateX(20px));
		opacity: 0;
	}
}

.col-60:last-of-type .box {
	margin-bottom: 0;
}

.box {
	display: block;
	background-color: $white;
	position: relative;
	cursor: default;
	&:hover .hover,
	&:focus .hover {
		opacity: 1;
		h6,
		p {
			opacity: 1;
			@include transform(translateX(0));
		}
	}
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));

	&:hover {
		@include box-shadows(0px 9px 22px -2px rgba($primary-color, 46%));
	}

	@include media-breakpoint-down(lg) {
		margin-bottom: 30px;
	}

	.img-wrap {
		width: 100%;
		height: 168px;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	p:not(.hover p) {
		padding: 15px 0;
		color: $secondary-color;
	}
}
</style>
