<template>
	<transition name="fade-up">
		<div class="v-modal-backdrop">
			<div class="v-modal">
				<div class="v-modal-body">
					<button type="button" class="close" @click="closeModal()"><fa icon="times" /></button>
					<div class="text-center">
						<p class="mb-3">
							Milí priatelia, nenašli ste medzi našimi návrhmi to, čo ste hľadali? Ak dávate prednosť originalite a chcete si vytlačiť
							vlastný vizuál, radi pre vás zabezpečíme individuálnu tlač. Do správy, prosíme, nezabudnite uviesť požadovaný rozmer, v
							ktorom chcete tlačiť váš návrh a tiež materiál, z ktorého vyhotovíme vaše dielo. Nezabúdajte, že kvalita a veľkosť súboru,
							ktorý nám zašlete, rozhoduje o kvalite finálneho produktu.
						</p>

						<p>Potrebujete poradiť? Neváhajte nás kontaktovať.</p>
					</div>

					<div class="row mt-5">
						<div class="col-60 col-lg-25 mb-5 mb-lg-0">
							<img src="~assets/img/custom-print-img.jpg" class="img-fluid mx-auto d-block" alt="Fotka vlastný motív" />
						</div>

						<div class="col-60 col-lg-35">
							<FormCustomPrint :in-modal="true" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	name: 'Modal',
	components: {},

	methods: {
		closeModal() {
			this.$nuxt.$emit('close-modal-custom-print');
		},
	},
};
</script>

<style lang="scss" scoped>
.v-modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.v-modal {
	width: 100vw;
	height: 100vh;
	background: $white;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
}

.v-modal-body {
	position: relative;
	max-width: 1120px;
	margin: 0 auto;
	padding: 100px 20px;
}

.close {
	position: absolute;
	top: 30px;
	left: 50%;
	@include transform(translateX(-50%));
	width: 50px;
	height: 50px;
	border: 3px solid $light-primary-color;
	@include border-radius(50%);
	&:hover {
		opacity: 0.6;
	}
	svg {
		font-size: rem(26px);
		color: $secondary-color;
	}
}
</style>
