<template>
	<transition appear name="fade-up">
		<div class="v-modal-backdrop">
			<div class="v-modal">
				<div class="v-modal-body">
					<slot name="close" />
					<!--<button type="button" @click="closeModal()" class="close-btn"><fa icon="times" /></button>-->

					<slot name="body" />
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	name: 'DefaultModal',
};
</script>

<style lang="scss" scoped>
.v-modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9999;
}

.v-modal {
	width: 100%;
	height: 100vh;
	overflow-x: auto;
	@include media-breakpoint-up(lg) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.v-modal-body {
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 80px 30px 30px;
	background: $white;
}

.close {
	position: absolute;
	top: 30px;
	left: 50%;
	@include transform(translateX(-50%));
	width: 50px;
	height: 50px;
	border: 3px solid $light-primary-color;
	@include border-radius(50%);
	&:hover {
		opacity: 0.6;
	}
	svg {
		font-size: rem(26px);
		color: $secondary-color;
	}
}
</style>
