<template>
	<div>
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!-- BLOG DETAIL -->
		<section class="article-detail">
			<div class="container">
				<div class="row">
					<div class="col-60 col-lg-40">
						<article>
							<div class="thumbnail">
								<img
									:src="post.featured_images.length > 0 ? post.featured_images[0].path : 'https://via.placeholder.com/1000x500'"
									class="img-fluid"
									:alt="post.title"
								/>
							</div>

							<div class="d-flex justify-content-between">
								<small>{{ post.categories[0].title }}</small>
								<time>{{ formattedPublishedDate(post.published_at) }}</time>
							</div>

							<div class="content mt-3">
								<h1>{{ post.title }}</h1>
								<div v-html="post.content_html"></div>
							</div>

							<!--
							<div class="tags mb-5 mb-lg-0">
								<h6>tagy:</h6>
								<ul class="list-unstyled d-flex">
									<li v-for="item in 3" :key="item">
										<NuxtLink to="/blog/tag/lepenie">lepenie</NuxtLink>
									</li>
								</ul>
							</div>
							 -->
						</article>
					</div>
					<div class="col-60 col-lg-20">
						<BlogSidebar :categories="categories" :latest-posts="latestPosts" />
					</div>
				</div>
			</div>
		</section>

		<!-- RECOMMENDED PRODUCTS -->
		<ProductRelatedSection />
	</div>
</template>

<script>
export default {
	name: 'Slug',

	async asyncData(context) {
		const slug = context.params.slug;
		let categories, latestPosts;

		// Fetch article detail page
		const post = await context.app.$axios
			.$get(`/v1/blog/${slug}`)
			.then((response) => {
				return response.data;
			})
			.catch(() => {
				context.error({ statusCode: 404, message: 'Post not found' });
			});

		// Fetch latestPosts
		await context.app.$axios
			.$get(`/v1/blog?page=1`)
			.then((response) => {
				latestPosts = response.data.slice(0, 3);
			})
			.catch(() => {
				context.error({ statusCode: 404, message: 'Page not found' });
			});

		// Fetch categories
		await context.app.$axios
			.$get(`/v1/blog/categories`)
			.then((response) => {
				categories = response.data;
			})
			.catch(() => {
				context.error({ statusCode: 404, message: 'Page not found' });
			});

		return { post, categories, latestPosts };
	},

	head() {
		return {
			title: this.post.title,
		};
	},

	methods: {
		/**
		 * Format date
		 * @returns {string}
		 */
		formattedPublishedDate(date) {
			return this.$moment(date).format('D.M.Y');
		},
	},
};
</script>

<style lang="scss" scoped>
.tags h6 {
	text-transform: uppercase;
	color: $primary-color;
}

.tags ul li {
	margin-right: 10px;

	a {
		display: block;
		padding: 2px 10px;
		background-color: $white;
		font-size: rem(14px);
		color: $secondary-color;

		&:hover {
			color: $white;
			background-color: $primary-color;
		}
	}
}

h1 {
	font-family: $secondary-font;
	@include fluid-font($min_width, $max_width, 24px, 34px);
	color: $primary-color;
	font-weight: $light-font;
}

small,
time {
	font-size: rem(14px);
}

.thumbnail {
	width: 100%;
	height: 0;
	padding-bottom: 60%;
	position: relative;
	margin-bottom: 5px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}
}
</style>
