<template>
	<div class="blog">
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!--BLOG  ARTICLES -->
		<section class="blog-articles">
			<div class="container">
				<BlogLatestArticle
					:title="latestPosts[0].title"
					:slug="latestPosts[0].slug"
					:category="latestPosts[0].categories[0].title"
					:excerpt="latestPosts[0].excerpt"
					:thumbnail="
						latestPosts[0].featured_images.length > 0 ? latestPosts[0].featured_images[0].path : 'https://via.placeholder.com/1000x500'
					"
					:published-date="latestPosts[0].published_at"
				/>

				<div class="row mt-4">
					<div class="col-60 col-lg-43">
						<div :class="{ loading: loading }" class="row article-wrap">
							<BlogArticleCard
								v-for="post in posts"
								:key="post.id"
								:title="post.title"
								:slug="post.slug"
								:published-date="post.published_at"
								:category="post.categories[0].title"
								:excerpt="post.excerpt"
								:thumbnail="post.featured_images.length > 0 ? post.featured_images[0].path : 'https://via.placeholder.com/1000x500'"
							/>

							<div class="text-center">
								<Pagination v-model="currentPage" :per-page="perPage" :records="total" :options="options" @paginate="fetchPosts()" />
							</div>
						</div>
					</div>

					<div class="col-60 col-lg-17">
						<BlogSidebar :categories="categories" :latest-posts="latestPosts" />
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'Blog',

	async asyncData(context) {
		let posts, perPage, total, categories, latestPosts;

		await context.app.$axios
			.$get(`/v1/blog?page=1`)
			.then((response) => {
				posts = response.data;
				perPage = response.meta.per_page;
				total = response.meta.total;
				latestPosts = response.data.slice(0, 3);
			})
			.catch(() => {
				context.error({ statusCode: 404, message: 'Page not found' });
			});

		await context.app.$axios
			.$get(`/v1/blog/categories`)
			.then((response) => {
				categories = response.data;
			})
			.catch(() => {
				context.error({ statusCode: 404, message: 'Page not found' });
			});

		return {
			posts,
			perPage,
			total,
			categories,
			latestPosts,
		};
	},

	data() {
		return {
			currentPage: 1,
			loading: false,
			options: {
				chunk: 4,
				texts: {
					count: 'Stránka {page} z {pages}',
				},
			},
		};
	},

	head() {
		return {
			title: 'Blog',
		};
	},

	methods: {
		async fetchPosts() {
			document.documentElement.scrollTop = 170;
			this.loading = true;
			await this.$axios
				.$get(`/v1/blog?page=${this.currentPage}`)
				.then((response) => {
					this.posts = response.data;
					this.loading = false;
				})
				.catch((e) => {
					return e;
				});
		},
	},
};
</script>

<style lang="scss" scoped>
.article-wrap {
	@include transition(opacity 0.2s ease-in-out);
}

.loading {
	opacity: 0;
}
</style>
