<template>
	<div class="home">
		<!-- HERO SECTION -->
		<section class="hero">
			<Hero />
		</section>

		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!-- PRODUCT TYPE SECTION -->
		<section class="product-type">
			<ProductTypeSection />
		</section>

		<!-- BEST SELLING SECTION -->
		<section class="best-selling">
			<ProductBestSelling />
		</section>

		<!-- CATEGORY SECTION -->
		<section class="category-section">
			<ProductCategorySection />
		</section>

		<!-- CUSTOM PRINT SECTION  -->
		<CustomPrint />
	</div>
</template>

<script>
export default {
	name: 'Home',

	head() {
		return {
			title: 'Úvod',
		};
	},
};
</script>

<style lang="scss" scoped>
.category-section {
	border-top: 1px solid darken(#ededed, 3%);
}

.product-type {
	background-color: $white;
}

.discount .container {
	@include media-breakpoint-down(lg) {
		padding-left: 0;
		padding-right: 0;
	}
}
</style>
