<template>
	<!-- CUSTOM PRINT -->
	<CustomPrint />
</template>

<script>
export default {
	name: 'IndividualnaTlac',
	components: {},
	head() {
		return {
			title: 'Individuálna tlač',
		};
	},
};
</script>

<style scoped></style>
