<template>
	<!-- SECTION CONTACT -->
	<section class="contact">
		<div class="container">
			<h2>Kde nás nájdete?</h2>
			<div class="row d-flex justify-content-center mt-5">
				<div class="contact-box col-60 col-lg-50">
					<div class="row d-flex">
						<div class="col-60 col-lg-25 px-0">
							<div class="left-side text-center">
								<h3>Prevádzka</h3>
								<p>Púchovská 16, 831 06 Bratislava</p>
								<div class="mt-4">
									<h4>V prípade otázok nás kontaktujte:</h4>
									<ul class="list-unstyled">
										<li>
											<a href="mailto:info@impresspic.com"><fa icon="envelope" /> info@impresspic.com</a>
										</li>
										<li>
											<a href="tel:+421911579549"><fa icon="phone-alt" /> +421911579549</a>
										</li>
									</ul>

									<ul class="social list-unstyled d-flex justify-content-center">
										<li>
											<a href="https://www.facebook.com/impresspic.dekortlac/" target="_blank"
												><fa :icon="['fab', 'facebook-f']"
											/></a>
										</li>

										<li>
											<a href="https://www.instagram.com/impresspic_sk/" target="_blank"><fa :icon="['fab', 'instagram']" /></a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-60 col-lg-35 px-0">
							<div class="right-side text-center">
								<h3>Sídlo spoločnosti</h3>
								<p>impresspic s.r.o</p>
								<p>Bratislavská 2</p>
								<p>900 21, Svätý Jur</p>

								<div class="mt-3">
									<p>IČO: 50708899</p>
									<p>DIČ: 2120484124</p>
									<p>IČ DPH: SK2120484124</p>
									<p><small>Zapísaná v OS BA I, oddiel: Sro, Vl. č.: 118750/B</small></p>
								</div>
								<fa icon="map-marker-alt" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'Kontakt',
	head() {
		return {
			title: 'Kontakt',
		};
	},
};
</script>

<style lang="scss" scoped>
.social {
	border-top: 1px solid $light-grey;
	padding: 10px 0;
	margin-top: 15px;
	li {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		svg {
			font-size: rem(20px);
			&:hover {
				color: $secondary-color;
			}
		}
	}
}

.contact-box {
	@include box-shadows(0px 9px 22px -2px rgba(58, 58, 58, 16%));
	h3 {
		font-size: rem(22px);
		font-family: $secondary-font;
		margin-bottom: 30px;
	}

	h4 {
		color: $secondary-color;
		font-weight: $bold-font;
		margin-bottom: 15px;
		@include fluid-font($min_width, $max_width, 20px, 24px);
	}

	ul li {
		margin-bottom: 5px;
		a {
			color: $secondary-color;
			svg {
				color: $primary-color;
				position: relative;
				top: -2px;
			}
		}
	}
}
.left-side {
	background-color: $white;
	padding: 30px 20px;
	height: 100%;
	h3 {
		color: $secondary-color;
	}
}
.right-side {
	padding: 30px 20px;
	background-color: #114464;
	height: 100%;
	position: relative;

	p {
		color: rgba($white, 0.9);
	}
	svg {
		position: absolute;
		bottom: 0;
		top: 0;
		left: 20px;
		margin: auto 0;
		color: $white;
		@include fluid-font($min_width, $max_width, 60px, 200px);
		opacity: 0.07;
		animation: bounce-down 1s alternate infinite;
	}
	h3 {
		color: $white;
	}
}

h2 {
	text-align: center;
}
</style>
