<template>
	<!-- LOGIN -->
	<section class="login">
		<div class="container">
			<FormLogin />
		</div>
	</section>
</template>

<script>
export default {
	name: 'Login',
	middleware: 'auth',
	auth: 'guest',

	head() {
		return {
			title: 'Prihlásenie',
		};
	},
};
</script>

<style lang="scss" scoped></style>
