<template>
	<div class="about">
		<!-- HERO -->
		<section class="hero">
			<img src="~assets/img/about-banner-img.jpg" alt="Obrázok obývačky" />
		</section>

		<!-- CONTENT -->
		<section class="content">
			<div class="container">
				<h2>Kto sme? Prečo robíme, čo robíme?</h2>
				<div class="mt-5 mb-5">
					<h5>Príbeh značky Impresspic</h5>
					<p>
						Sme malá firma s veľkou dušou a ešte väčším odhodlaním. Náš príbeh sa začal písať pred pár rokmi, v časoch kedy sa náš
						zakladateľ Jozef venoval dekorovaniu spoločenských udalostí. Tvoril svadobné oznámenia, zasadacie poriadky...a neskôr začal
						svoje umelecké „ja“ pretavovať aj do tvorby filmových plagátov. Niečo mu však stále chýbalo. Dekorovanie tak dôležitých
						udalostí ako sú svadby je krásna práca, no jej efekt je pominuteľný. Oznámenia na poličke časom zapadnú prachom. Jozef chcel
						vytvoriť niečo, čo by jeho zákazníkom vytváralo úsmev na tvári aj po rokoch. Chcel prinášať radosť ľuďom každý deň a vďaka
						svojim predošlým skúsenostiam bolo takmer jasné, akou cestou povedú jeho kroky. Bude ľuďom dekorovať ich každodenný život.
						Jeho cesta viedla k tvoreniu tapiet a nástenných dekorácií.
					</p>

					<p>
						Domov je miestom, kde prežívame rôzne radosti a strasti. Kde oddychujeme, pracujeme, venujeme sa rodine, svojim domácim
						miláčikom, vítame priateľov a tvoríme tie najsilnejšie spomienky. A práve dekorácie v podobe obrazov či tapiet môžu vaše
						spomienky uchovať navždy. Alebo vytvoriť príjemné prostredie, v ktorom sa bude každý cítiť dobre.
					</p>
				</div>

				<div class="mb-5">
					<h5>Veríme v ekológiu</h5>
					<p>
						Hrdo sa hlásime k princípom trvalo udržateľného rozvoja. Ekologická zodpovednosť pre nás osobne ale aj voči spoločnosti
						znamená silný záväzok voči našej drahej planéte, budúcim generáciám a našim zákazníkom. Náš výrobný proces je v súlade s
						ekologickými zásadami a naše produkty sú tvorené z materiálov bez obsahu PVC, v nevyhnutných prípadoch s jeho minimálnym
						obsahom. Hotové diela balíme do kompostovateľných či recyklovateľných fólií a kartónových obalov. Pretože cestu ku lepšej
						budúcnosti môže tvoriť naozaj každý z nás.
					</p>
				</div>

				<div class="mb-5">
					<h5>Tvoríme bezpečne</h5>
					<p>
						Rozumieme našim zákazníkom a preto naše produkty tvoríme tak, aby váš domov aj okolie ostali bezpečné a zdravotne nezávadné.
						Naše tlačiarenské farby disponujú certifikátmi GREENGUARD GOLD CERTIFICATE a SunChemical Toy Standard EN71 (tieto farby sú
						spôsobilé aj na výrobu detských hračiek).
					</p>
				</div>

				<div>
					<h5>Dávame priestor individualite</h5>
					<p>
						Naše portfólio je takmer nekonečné. Produkty na e-shope ponúkame v rôznych kategóriách, materiáloch a formátoch tak, aby si
						každý zákazník našiel to, čo hľadá a nemusel robiť žiadne kompromisy. Rozumieme však diverzite ľudských osobností a preto vám
						ponúkame aj možnosť <NuxtLink to="/individualna-tlac">individuálnej tlače. Radi vám vyrobíme produkt na mieru</NuxtLink> podľa
						vašich predstáv.
					</p>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'About',
	components: {},

	head() {
		return {
			title: 'O nás',
		};
	},
};
</script>

<style lang="scss" scoped>
p {
	margin-bottom: 20px !important;
	a {
		text-decoration: underline !important;
		color: $secondary-color !important;
	}
}
h2 {
	text-align: center;
}

h5 {
	font-weight: $extrabold-font;
}
.hero {
	width: 100%;
	height: 0;
	padding-bottom: 30%;
	position: relative;
	@include media-breakpoint-down(md) {
		padding-bottom: 65%;
	}
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
</style>
