<template>
	<!-- REGISTRATION -->
	<section class="registration">
		<div class="container">
			<FormRegistration :in-checkout="false" />
		</div>
	</section>
</template>

<script>
export default {
	name: 'Registration',
	middleware: 'auth',
	auth: 'guest',

	head() {
		return {
			title: 'Registrácia',
		};
	},
};
</script>

<style scoped></style>
