<template>
	<section class="search">
		<div class="container">
			<h2>
				Výsledky vyhľadávania <span>"{{ $route.query.search }}"</span>
			</h2>

			<div v-if="searchResults.length" class="row mt-5">
				<div v-for="product in searchResults" :key="product.id" class="col-60 col-sm-30 col-lg-15">
					<ProductSmallCard
						:name="product.name"
						:slug="product.slug"
						:preview-img="product.preview_image ? product.preview_image.path : 'https://via.placeholder.com/1000x500'"
						:price-from="getLowestPrice(product.offers)"
						:product-id="product.id"
					/>
				</div>
			</div>

			<h3 class="mt-5" v-else>Ľutujeme. Nenašli sa žiadne výsledky.</h3>
		</div>
	</section>
</template>

<script>
export default {
	name: 'SearchPage',
	data() {
		return {
			searchResults: [],
		};
	},

	fetch() {
		if (this.$route.query.search) {
			this.$axios.get(`/v1/shop/search?s=${this.$route.query.search}`).then((response) => {
				this.searchResults = response.data.data;
			});
		}
	},

	head() {
		return {
			title: 'Výsledky vyhľadávania',
		};
	},

	watch: {
		'$route.query.search': '$fetch',
	},

	created() {
		this.$fetch();
	},

	methods: {
		/**
		 * Get lowest price of product
		 * @param offers
		 * @returns {number}
		 */
		getLowestPrice(offers) {
			const minPrice = Math.min.apply(
				Math,
				offers.map(function (offer) {
					return offer.price;
				})
			);

			return minPrice;
		},
	},
};
</script>

<style lang="scss" scoped>
.search {
	padding: 70px 0;
	h2 span {
		color: $primary-color;
		font-style: italic;
	}
}
</style>
