<template>
	<div>
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!-- TAG ARTCICLES -->
		<section class="tag-articles">
			<div class="container">
				<div class="row">
					<div class="col-60 col-lg-43">
						<h2>Štítok: <span>"lepenie"</span></h2>
						<div class="row mt-5">
							<BlogArticleCard v-for="item in 6" :key="item" />
						</div>

						<div class="text-center">
							<Pagination v-model="page" :per-page="100" :records="500" :options="options" />
						</div>
					</div>
					<div class="col-60 col-lg-17">
						<BlogSidebar />
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'Index',

	data() {
		return {
			page: 1,
			options: {
				chunk: 4,
				texts: {
					count: 'Stránka {page} z {pages}',
				},
			},
		};
	},

	head() {
		return {
			title: 'Blog',
		};
	},
};
</script>

<style lang="scss" scoped>
h2 span {
	font-style: italic;
	color: $primary-color;
}
</style>
