<template>
	<div class="blog">
		<!-- DISCOUNT SNIPPET -->
		<section class="discount">
			<div class="container">
				<DiscountBox />
			</div>
		</section>

		<!--BLOG  ARTICLES -->
		<section class="blog-articles">
			<div class="container">
				<h2 v-if="category" class="mb-4">
					Všetky články v kategórií: <em>"{{ category.title }}"</em>
				</h2>

				<div class="row mt-4">
					<div class="col-60 col-lg-43">
						<div v-if="category" class="row article-wrap">
							<BlogArticleCard
								v-for="post in category.articles"
								:key="post.id"
								:title="post.title"
								:slug="post.slug"
								:published-date="post.published_at"
								:category="category.title"
								:excerpt="post.excerpt"
								:thumbnail="post.featured_images.length > 0 ? post.featured_images[0].path : 'https://via.placeholder.com/1000x500'"
							/>

							<!-- <div class="text-center">
								<Pagination v-model="currentPage" :per-page="perPage" :records="total" :options="options" @paginate="fetchPosts()" />
							</div> -->
						</div>

						<div v-else class="empty-category mb-3">
							<p>V tejto kategórií sa nenašli žiadne články</p>
							<NuxtLink to="/blog" class="base-btn"><span>späť na všetky články</span></NuxtLink>
						</div>
					</div>

					<div class="col-60 col-lg-17">
						<BlogSidebar :categories="categories" :latest-posts="latestPosts" />
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: 'Blog',

	async asyncData(context) {
		let category, categories, latestPosts;

		await context.app.$axios
			.$get(`/v1/blog/categories`)
			.then((response) => {
				category = response.data.find((obj) => {
					return obj.slug === context.params.slug;
				});
				categories = response.data;
			})
			.catch(() => {
				context.error({ statusCode: 404, message: 'Page not found' });
			});

		await context.app.$axios
			.$get(`/v1/blog?page=1`)
			.then((response) => {
				latestPosts = response.data.slice(0, 3);
			})
			.catch(() => {
				context.error({ statusCode: 404, message: 'Page not found' });
			});

		return {
			category,
			categories,
			latestPosts,
		};
	},

	data() {
		return {
			currentPage: 1,
			loading: false,
			options: {
				chunk: 4,
				texts: {
					count: 'Stránka {page} z {pages}',
				},
			},
		};
	},

	head() {
		return {
			title: 'Blog',
		};
	},
};
</script>

<style lang="scss" scoped>
.empty-category {
	background-color: $light-grey;
	text-align: center;
	padding: 30px;
	p {
		font-size: rem(20px);
	}

	.base-btn {
		max-width: 250px;
		margin-top: 15px;
	}
}

h2 em {
	color: $primary-color;
}

.article-wrap {
	@include transition(opacity 0.2s ease-in-out);
}

.loading {
	opacity: 0;
}
</style>
